 <section class="topbar-menu">
    <header class="header-main">
        <div class="cc-container">
            <a class="logo" href="/">
                {{!-- <img src="assets/img/logo-white.png" alt="Logo" /> --}}
                <img  href="/" src="../../assets/img/MU-Center-Plateform-logo.png" alt="Logo" />
            </a>
            <div class="hamburger">
                <a href="javascript:void(0);">
                    <i class="material-icons">dehaze</i>
                </a>
            </div>
            <section class="navigation-outer">
                <div class="hamburger-close">
                    <a href="javascript:void(0);">
                        <i class="material-icons">close</i>
                    </a>
                </div>
                   <nav class="primary-nav-2">
              <ul>

                <li class="sub-menu-outer level-1">
                  <a href="#about-centre" class="smoothclick">About Centre</a>
                </li>

                <li class="sub-menu-outer level-1">
                  <a href="#activities" class="smoothclick">Activities</a>
                </li>

                <li>
                  <a href="#our-Team" class="smoothclick">Our Team</a>
                </li>
                <li>
                  <a href="#Blog-post" class="active smoothclick">Blog posts</a>
                </li>
                <li>
                  <a href="#affiliates" class="smoothclick">Our affiliates</a>
                </li>
                {{!-- <li>
                  <a href="/previous-talks" class="">Previous Talks</a>
                </li>
             --}}
             

              </ul>
            </nav>
            </section>
        </div>
    </header>
</section>



