<footer class="footer-main footer-bar">
  

        <div class="container">
            <div class="row text-center wow fadeIn">
                <div class="col-md-12 mt30">
               <p> &copy; Copyright 2021. All rights are reserved.</p>
                </div>
                <div class="col-md-12 mt10 mb20">
                    <ul id="lastLinks">
                        <li>
                            <a href="javascript:void(0);">Privacy Policy |</a>
                        </li>

                          <li>
                            <a href="javascript:void(0);">Terms and conditions  |</a>
                        </li>

                          <li>
                            <a href="javascript:void(0);">Cookie policy</a>
                        </li>

                     
                    </ul>
                </div>
            </div>
        
    </div>
</footer>