
 <section class="topbar-menu">
    <header class="header-main">
        <div class="cc-container">
            <a class="logo" href="/">
                {{!-- <img src="assets/img/logo-white.png" alt="Logo" /> --}}
                <img  href="/" src="../../assets/img/MU-Center-Plateform-logo.png" alt="Logo" />
            </a>
            <div class="hamburger">
                <a href="javascript:void(0);">
                    <i class="material-icons">dehaze</i>
                </a>
            </div>
            <section class="navigation-outer">
                <div class="hamburger-close">
                    <a href="javascript:void(0);">
                        <i class="material-icons">close</i>
                    </a>
                </div>
                   <nav class="primary-nav-2">
              <ul>

                <li class="sub-menu-outer level-1">
                  <a href="#about-centre" class="smoothclick">About Centre</a>
                </li>

                <li class="sub-menu-outer level-1">
                  <a href="#activities" class="smoothclick">Activities</a>
                </li>

                <li>
                  <a href="#our-Team" class="smoothclick">Our Team</a>
                </li>
                <li>
                  <a href="#Blog-post" class="active smoothclick">Blog posts</a>
                </li>
                <li>
                  <a href="#affiliates" class="smoothclick">Our affiliates</a>
                </li>
                {{!-- <li>
                  <a href="/previous-talks" class="">Previous Talks</a>
                </li>
             --}}
             

              </ul>
            </nav>
            </section>
        </div>
    </header>
</section>

<section class="mt115 pt80 pb80">
    <div class="container">
        <div class="row">

            <div class="col">
                <div class="blogs-section eventPag wow fadeInUp mb90" data-wow-delay=".51s">
                    <div class="career-left">
                        <div class="left-blog">
                            <div class="square-box">
                                <figure class="mb20"> <img src="../assets/img/Jessica-Shah-grey.jpg" alt=""> </figure>
                                
                                <div class="blog-post-date mb10">15th February 2021</div>
                                <h4 class="blog-post-text mb10">How Buy Now Pay Later (BNPL) is shaping the microcredit industry</h4>
                                <div class="box-para-text mb30">by Jessica Shah and Shobhit Uppal</div>
                                
                                <a href="/blog-bnpl-1"><span class="learn-more">view article</span></a>
                                </div>
                        </div>
                        <div class="left-blog mt30">
                            <div class="square-box">
                                <figure class="mb20"> <img src="../assets/img/Mohit-Paliwal-grey.jpg" alt=""> </figure>
                                
                                <div class="blog-post-date mb10">15th March 2021</div>
                                <h4 class="blog-post-text mb10">ClubHouse, Radio & Virality</h4>
                                <div class="box-para-text mb30">by Mohit Paliwal</div>
                                
                                <a href="/blog-clubhouse-2"><span class="learn-more">view article</span></a>
                                </div>
                        </div>
                        <div class="left-blog active mt30">
                           <div class="square-box">
                                <figure class="mb20"> <img src="../assets/img/Shobhit-Uppal-grey.jpg" alt=""> </figure>
                                
                                <div class="blog-post-date mb10">27th May 2021</div>
                                <h4 class="blog-post-text mb10">Multi-Sided Platforms and Blue-Ocean Strategy</h4>
                                <div class="box-para-text mb30">by Shobhit Uppal and Jessica Shah</div>
                                
                                <a href="/blog-multiSided-3"><span class="learn-more">view article</span></a>
                                </div>
                        </div>
                    </div>
                    <div class="career-right wow fadeInUp">
                        <div class="cover-outer">
                            <h1 class="blog-heading-text">Multi-Sided Platforms and Blue-Ocean Strategy</h1>
                            <div class="blog-post-date mb10">27th May 2021</div>
                            <div class="blog-post-red-clr mb10">By Jessica Shah and Shobhit Uppal</div>

                            <p class="smallheading2 mb20 bodytext">
                                The goal is not to beat the competition at its own game but to change the game one is
                                competing in. This management perspective, introduced by two professors at INSEAD, W
                                Chan Kim and Renee Mauborgne, has the following thought process; “Blue Ocean strategists
                                do not seek to beat the competition. Instead, they aim to make the competition
                                irrelevant.” As in other industries, firms have resorted to strategic decisions in the
                                digital consumer space as well. But the real question is as to how does one capture an
                                uncontested market space and acquire customers by creating new demand?
                            </p>

                            <p class="smallheading2 mb20 bodytext">
                                Be it Apple, Netflix, Airbnb, Uber, or Spotify, the success of these internet giants
                                stems from the successful implementation of the blue ocean strategy; Not by inventing
                                new products, but by providing a valuable upgrade to an existing service and evolving
                                their business model by breaking the value-cost trade-off. The primary principles
                                driving their growth align with the whole business system in pursuit of low costs and
                                differentiation. The process follows a four-step strategy of raising, reducing,
                                eliminating, and creating.

                            </p>

                            <figure>
                                <img src="../assets/img/raise&reduce.jpg" alt="">
                            </figure>
                            <p class="smallheading2 mb20 bodytext">
                                <strong> Netflix,</strong> a California-based OTT giant, was one of the first internet
                                platforms to implement the blue ocean strategy. Prior to evolving into a full-fledged
                                streaming service platform, the company was just another firm competing in the DVD
                                rental space. They changed the rules of the game and laid the foundation for the online
                                streaming industry by exploiting the market space untainted by competition.
                            </p>

                            <p class="smallheading2 mb20 bodytext">
                                Netflix eliminated traditional brick-and-mortar stores and made all their content
                                available online. Their costs were reduced to a mere fee for film licensing.
                                Simultaneously, the need for buying physical DVDs was eliminated as customers began to
                                get acquainted with online content. Netflix focussed on providing high-quality movies to
                                users at an affordable price.

                            </p>

                            <p class="smallheading2 mb20 bodytext">
                                The company aimed at making the experience of watching movies comfortable, convenient,
                                and enjoyable for its users. The users didn’t have to step out of their houses to buy
                                DVDs. The payment process was extremely simple and seamless, making it difficult for
                                traditional brick and mortar DVD stores to compete with them and the new entrants in the
                                digital space.

                            </p>
                            <p class="smallheading2 mb20 bodytext">
                                Users have a wide range of movies to choose from, and Netflix helps users create a
                                personal subscription-based account. The service also learns about users’ preferences,
                                and the algorithm suggests movies and TV series based on their viewership history.
                            </p>

                            <p class="smallheading2 mb20 bodytext">
                                <strong> Similarly,</strong> Airbnb, an online vacation rental platform, revolutionized
                                the experience of living at home away from home. The service enables house owners to
                                make money with their apartments as an alternative to traditional hotels for travellers.
                                The platform acts as a facilitator between the host and the traveller.
                            </p>

                            <p class="smallheading2 mb20 bodytext">
                                Airbnb eliminates all the hassles associated with search, discovery, and reserving a
                                room at a hotel and subsequent concerns with service quality. A user can find lists of
                                available properties with pictures and videos, including reviews and information about
                                the host. The host similarly has access to information about potential guests interested
                                in staying at his/her property. This feature dramatically reduces information asymmetry
                                and is an assurance of quality for all individuals transacting via Airbnb.
                            </p>

                            <p class="smallheading2 mb20 bodytext">
                                Airbnb is asset-light since they are an aggregator for apartments, rooms, and houses
                                across various countries. This helps them reduce the cost of accommodation and helps
                                users to find the variant of their choice anytime, anywhere, from their smartphones.
                            </p>

                            <p class="smallheading2 mb20 bodytext">
                                Airbnb raised the level of customer satisfaction on their platform by providing customer
                                reviews for each listing. The apartment owners do their best to offer high-quality
                                services to their customers, while the platform helps apartment owners utilize their
                                empty rooms or apartments and maximize their profits. A fee is charged from both the
                                host and traveller by Airbnb for each booking.
                            </p>

                            <p class="smallheading2 mb20 bodytext">
                                Airbnb created a shared economy marketplace where users can buy and offer the service,
                                which was a first for the hospitality industry. At its core, it is a P2P model-based
                                activity of acquiring, providing or sharing access to goods and services that is often
                                facilitated by a community-based online platform.
                            </p>

                            <p class="smallheading2 mb20 bodytext">
                                <strong> On the other hand, </strong>Uber, an online taxi aggregation service that
                                operates in 71 countries and 10,000 cities across the globe, has changed the way the
                                public transportation industry works by organizing it over a mobile app.
                            </p>

                            <p class="smallheading2 mb20 bodytext">
                                Uber eliminated the inconvenience of hailing a cab for the desired destination at the
                                desired point in time. Customers can easily book a taxi on the platform right from the
                                convenience of their mobile application.
                            </p>


                            <p class="smallheading2 mb20 bodytext">
                                Uber solved the problem of drivers and customers by making the process of discovery and
                                matchmaking seamless. The driver receives the ride request on the mobile app and Uber
                                charges a commission from drivers for each ride. The transactions happening between the
                                customer and the rider are tracked on the app.
                            </p>

                            <p class="smallheading2 mb20 bodytext">
                                Uber has been focussing on improving customer service; the application is fast and easy
                                to use and enables the users to book a cab within three clicks on their smartphone. A
                                bilateral rating system ensures that both the driver and the customer are mapped to a
                                corresponding driver/customer of a similar rating, thereby incentivizing agents to
                                behave courteously. With the help of technologies and devices, Uber organized the
                                traditional taxi service and led the taxi-aggregation space.
                            </p>

                            <p class="smallheading2 mb20 bodytext">
                                Multi-sided platforms have undoubtedly changed the battleground and made the traditional
                                incumbents irrelevant. Technology has had an enormous role to play in the success of
                                these platform businesses. As business practices keep evolving continuously, there is a
                                regulatory void around the globe that is struggling to keep up with the pace of these
                                business innovations.
                            </p>



                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<style>
    .head-m{
        display: none;
    }
</style>




