
 <section class="topbar-menu">
    <header class="header-main">
        <div class="cc-container">
            <a class="logo" href="/">
                {{!-- <img src="assets/img/logo-white.png" alt="Logo" /> --}}
                <img  href="/" src="../../assets/img/MU-Center-Plateform-logo.png" alt="Logo" />
            </a>
            <div class="hamburger">
                <a href="javascript:void(0);">
                    <i class="material-icons">dehaze</i>
                </a>
            </div>
            <section class="navigation-outer">
                <div class="hamburger-close">
                    <a href="javascript:void(0);">
                        <i class="material-icons">close</i>
                    </a>
                </div>
                   <nav class="primary-nav-2">
              <ul>

                <li class="sub-menu-outer level-1">
                  <a href="#about-centre" class="smoothclick">About Centre</a>
                </li>

                <li class="sub-menu-outer level-1">
                  <a href="#activities" class="smoothclick">Activities</a>
                </li>

                <li>
                  <a href="#our-Team" class="smoothclick">Our Team</a>
                </li>
                <li>
                  <a href="#Blog-post" class="active smoothclick">Blog posts</a>
                </li>
                <li>
                  <a href="#affiliates" class="smoothclick">Our affiliates</a>
                </li>
                {{!-- <li>
                  <a href="/previous-talks" class="">Previous Talks</a>
                </li>
             --}}
             

              </ul>
            </nav>
            </section>
        </div>
    </header>
</section>

<section class="mt115 pt80 pb80">
    <div class="container">
        <div class="row">

            <div class="col">
                <div class="blogs-section eventPag wow fadeInUp mb90" data-wow-delay=".51s">
                     <div class="career-left">
                        <div class="left-blog">
                            <div class="square-box">
                                <figure class="mb20"> <img src="../assets/img/Jessica-Shah-grey.jpg" alt=""> </figure>
                                
                                <div class="blog-post-date mb10">15th February 2021</div>
                                <h4 class="blog-post-text mb10">How Buy Now Pay Later (BNPL) is shaping the microcredit industry</h4>
                                <div class="box-para-text mb30">by Jessica Shah and Shobhit Uppal</div>
                                
                                <a href="/blog-bnpl-1"><span class="learn-more">view article</span></a>
                                </div>
                        </div>
                        <div class="left-blog active mt30">
                            <div class="square-box">
                                <figure class="mb20"> <img src="../assets/img/Mohit-Paliwal-grey.jpg" alt=""> </figure>
                                
                                <div class="blog-post-date mb10">15th March 2021</div>
                                <h4 class="blog-post-text mb10">ClubHouse, Radio & Virality</h4>
                                <div class="box-para-text mb30">by Mohit Paliwal</div>
                                
                                <a href="/blog-clubhouse-2"><span class="learn-more">view article</span></a>
                                </div>
                        </div>
                        <div class="left-blog mt30">
                           <div class="square-box">
                                <figure class="mb20"> <img src="../assets/img/Shobhit-Uppal-grey.jpg" alt=""> </figure>
                                
                                <div class="blog-post-date mb10">27th May 2021</div>
                                <h4 class="blog-post-text mb10">Multi-Sided Platforms and Blue-Ocean Strategy</h4>
                                <div class="box-para-text mb30">by Shobhit Uppal and Jessica Shah</div>
                                
                                <a href="/blog-multiSided-3"><span class="learn-more">view article</span></a>
                                </div>
                        </div>
                    </div>
                    <div class="career-right wow fadeInUp">
                        <div class="cover-outer">
                            <h1 class="blog-heading-text">ClubHouse, Radio & Virality</h1>
                            <div class="blog-post-date mb10">15th March 2021</div>
                            <div class="blog-post-red-clr mb10">By Mohit Paliwal</div>

                            <p class="smallheading2 mb20 bodytext">
                                There has been a lot of discussion lately on “ClubHouse” and its virality. There are claims that this 
                                virality can solely be attributed to its exclusivity. But let’s get one thing straight; this is not the 
                                first time a social-media app is launched via an invite-only model, and it will not be the first time it 
                                will stay like that. Two primary features which make ClubHouse distinct from any other available option 
                                are its audio-only format and its broadcasting capabilities. On some thought, one realizes that it’s no 
                                different from traditional radio, but ClubHouse has the advantage of streaming over the internet and 
                                decentralized community interaction. 

                            </p>

                            <p class="smallheading2 mb20 bodytext">
                              It has consistently been debated whether audio had any future, considering the most popular social media 
                              were either visual (Facebook and Instagram) or text-based (Twitter). With the rise of Clubhouse, and 
                              prior to it, podcasts, it’s been understood that audio, video, and text media will coexist in the social 
                              media space. Users are becoming increasingly picky, translating to them switching between the apps per 
                              their desire and mood. A decade ago, when almost all the media communications were audio-only, the rise 
                              of video platforms such as Youtube became a rapid success as visual experience in the entertainment space 
                              was primarily limited to television. This video obsession is coming down significantly as people are looking 
                              for portable means of entertainment that can fit with the busy urban lifestyle of millennials.

                            </p>

                           
                            <p class="smallheading2 mb20 bodytext">
                               Radio has, over the years, lost its charm due to losing technological battles to first the television, 
                               the internet, and smartphones. Moreover, it didn’t adapt to changing preferences of its end consumers. 
                               There is no argument that radio previously stood for discovery, a medium to lift mood, connecting the 
                               outside world and social currency for people to talk about in communities. That was the <strong>power of broadcast</strong> . 
                               On-demand streaming services will not replace radio but would instead coexist with one another. We can say this with conviction 
                               because in the past, when audio cassettes, CDs, and DVDs were launched (which essentially served the same on-demand need), 
                               radio was still growing and flourishing. This analogy proves the point that live-radio (broadcast) and on-demand streaming both 
                               fulfill different needs. What has changed now? CDs, DVDs have evolved into music apps, and radio still uses the same century old 
                               means to deliver content. 

                            </p>

                            <p class="smallheading2 mb20 bodytext">
                               ClubHouse is leveraging this opportunity by providing a means for broadcast. Because there is no replay, FOMO 
                               (Fear of Missing Out) kicks in, and there is a high tendency that listeners will get hooked on to consuming content that 
                               is being streamed live. Moreover, people prefer content that is curated and given to them on a platter rather than choosing
                                between competing content.


                            </p>

                            

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<style>
    .head-m{
        display: none;
    }
</style>




