{{!-- <div class="section-WSmenu  evpage text-left">
    <div class="container" id="scroll-careers">
        <div class="row">

            <div class="col np" id="eventLabel">
                <h1 class="wow fadeInUp boldheading mb20" data-wow-delay=".3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Our
                    <div class="borderheading">Blogs</div>
                </h1>
            </div>
            <div class="section-career eventPag wow fadeInUp mb90" data-wow-delay=".51s">
                <div class="career-left wow fadeInUp">

                    <h5 class="wow fadeInUp career-filter-section"> Blog Types </h5>
                    <ul class="department-list mhide">
                        <li id="allCheck">
                            <a href="javascript:void(0);" onclick="filterAllEvent(pastUpcomingEvent, this)"> All
                                <span id="allCount"></span>
                            </a>
                        </li>
                        <li id="businessCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('BUSINESS',this)"> business
                                <span id="businessCount">0</span>
                            </a>
                        </li>
                        <li id="educationalCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('EDUCATIONAL',this)"> educational
                                <span id="educationalCount">0</span>
                            </a>
                        </li>
                        <li id="entertainmentCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('ENTERTAINMENT',this)"> entertainment
                                <span id="entertainmentCount">0</span>
                            </a>
                        </li>
                        <li id="healtAndFitnessCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('HEALTh_AND_FITNESS',this)"> health and
                                fitness
                                <span id="healtAndFitnessCount">0</span>
                            </a>
                        </li>
                        <li id="lifestyleCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('LIFESTYLE_AND_EXHIBITION',this)">
                                lifestyle and exibition
                                <span id="lifestyleCount">0</span>
                            </a>
                        </li>
                        <li id="marathonsCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('MARATHONS',this)"> marathons
                                <span id="marathonsCount">0</span>
                            </a>
                        </li>

                        <li id="masterClassCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('MasterClass',this)"> Master Class
                                <span id="masterclassCountt">0</span>
                            </a>
                        </li>

                        <li id="sportsCheck" class="">
                            <a href="javascript:void(0);" onclick="filterEType('SPORTS',this)"> sports
                                <span id="sportsCount">1</span>
                            </a>
                        </li>
                        <li id="travelCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('TRAVEL',this)"> travel
                                <span id="travelCount">0</span>
                            </a>
                        </li>
                        <li id="othersCheck" class="">
                            <a href="javascript:void(0);" onclick="filterEType('OTHERS',this)"> others
                                <span id="othersCount">8</span>
                            </a>
                        </li>
                        <li id="paidCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('PaidEvent',this)"> Paid
                                <span id="paidCount">0</span>
                            </a>
                        </li>
                        <li id="webinarCheck" class="">
                            <a href="javascript:void(0);" onclick="filterEType('Webinar',this)"> webinar
                                <span id="webinarCount">1</span>
                            </a>
                        </li>
                    </ul>



                    <div class="positionR dhide">
                        <div class="dropdown dep-mob">
                            <div class="select" id="dvType">
                                <span id="spnType">Blog Types</span>
                                <i class="material-icons"> keyboard_arrow_down </i>
                            </div>
                            <input type="hidden" name="gender">
                            <ul class="dropdown-menu">
                                <li onclick="filterEType('All',pastUpcomingEvent)">
                                    <a href="javascript:void(0);"> all </a>
                                </li>
                                <li onclick="filterEType('BUSINESS',this)">
                                    <a href="javascript:void(0);"> business </a>
                                </li>
                                <li onclick="filterEType('EDUCATIONAL',this)">
                                    <a href="javascript:void(0);"> educational
                                    </a>
                                </li>
                                <li onclick="filterEType('ENTERTAINMENT',this)">
                                    <a href="javascript:void(0);">
                                        entertainment </a>
                                </li>
                                <li onclick="filterEType('HEALTh_AND_FITNESS',this)">
                                    <a href="javascript:void(0);">
                                        health and fitness </a>
                                </li>
                                <li onclick="filterEType('LIFESTYLE_AND_EXHIBITION',this)">
                                    <a href="javascript:void(0);"> lifestyle and exibition
                                    </a>
                                </li>
                                <li onclick="filterEType('MARATHONS',this)">
                                    <a href="javascript:void(0);"> marathons
                                    </a>
                                </li>
                                <li onclick="filterEType('SPORTS',this)">
                                    <a href="javascript:void(0);"> sports </a>
                                </li>
                                <li onclick="filterEType('TRAVEL',this)">
                                    <a href="javascript:void(0);"> travel </a>
                                </li>
                                <li onclick="filterEType('OTHERS',this)">
                                    <a href="javascript:void(0);"> others </a>
                                </li>
                                <li onclick="filterEType('PaidEvent',this)">
                                    <a href="javascript:void(0);"> Paid </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h5 class="wow fadeInUp career-filter-section"> Blog Publications </h5>
                    <ul class="department-list mhide">
                        <li id="delhiCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterELoc('Delhi, India',this)"> delhi
                                <span id="delhiCount">0</span>
                            </a>
                        </li>
                        <li id="onlineCheck" class="">
                            <a href="javascript:void(0);" onclick="filterELoc('Online',this)">online
                                <span id="onlineCount">1</span>
                            </a>
                        </li>
                        <li id="bangloreCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterELoc('banglore',this)">Bangalore
                                <span id="bangloreCount">0</span>
                            </a>
                        </li>
                        <li id="hyderabadCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterELoc('hyderabad',this)"> hyderabad
                                <span id="hyderabadCount">0</span>
                            </a>
                        </li>
                        <li id="chennaiCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterELoc('Chennai',this)"> Chennai
                                <span id="chennaiCount">0</span>
                            </a>
                        </li>
                        <li id="chandigarhCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterELoc('chandigarh',this)"> chandigarh
                                <span id="chandigarhCount">0</span>
                            </a>
                        </li>
                        <li id="punjabCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterELoc('Punjab',this)"> Punjab
                                <span id="punjabCount">0</span>
                            </a>
                        </li>
                    </ul>

                    <div class="positionR dhide">
                        <div class="dropdown dep-mob">
                            <div class="select" id="dvLoc">
                                <span id="spnLoc">Select Event Location</span>
                                <i class="material-icons"> keyboard_arrow_down </i>
                            </div>
                            <input type="hidden" name="gender">
                            <ul class="dropdown-menu">
                                <li onclick="filterELoc('Delhi, India',this)">
                                    <a href="javascript:void(0);"></a> delhi
                                </li>
                                <li onclick="filterELoc('Online',this)">
                                    <a href="javascript:void(0);">online </a>
                                </li>
                                <li onclick="filterELoc('banglore',this)">
                                    <a href="javascript:void(0);">Bangalore </a>
                                </li>
                                <li onclick="filterELoc('hyderabad',this)">
                                    <a href="javascript:void(0);"> hyderabad </a>
                                </li>
                                <li onclick="filterELoc('Chennai',this)">
                                    <a href="javascript:void(0);"> Chennai </a>
                                </li>
                                <li onclick="filterELoc('chandigarh',this)">
                                    <a href="javascript:void(0);">
                                        chandigarh</a>
                                </li>
                                <li onclick="filterELoc('Punjab',this)">
                                    <a href="javascript:void(0);"> Punjab</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="career-right wow fadeInUp">
                    <div class="events-list wow fadeInUp" id="eventDiv">
                        <div class="news-links">
                            <a href="/event/PGP-TBM-information-session">
                                <img class=" lazyloaded"
                                    data-src="https://cdn.mastersunion.org/assets/img/events/pgp-tbm-information-session_SM.jpg"
                                    alt="PGP TBM INFORMATION SESSION" src="../assets/img/travel-blog.jpg">
                                <div class="news-links-text">
                                    <p>Travel Blog</p>
                                    <div class="newslink-time">
                                        <span>
                                            <i class="material-icons-outlined">person</i> Chandani Rasotra</span>
                                        <span>
                                            <i class="material-icons-outlined">access_time</i> 7:00 AM
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </div>

                        <div class="news-links">
                            <a href="/event/sports-day">
                                <img class=" lazyloaded"
                                    data-src="https://cdn.mastersunion.org/assets/img/events/sports-day_Sm.jpg"
                                    alt="Sports Day" src="../assets/img/music-blog.jpg">
                                <div class="news-links-text">
                                    <p>Music Blogs</p>
                                    <div class="newslink-time">
                                        <span>
                                            <i class="material-icons-outlined">person</i> Arnish Masih</span>
                                        <span>
                                            <i class="material-icons-outlined">access_time</i> 7:00 AM
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </div>

                        <div class="news-links">
                            <a href="/event/holi-celebration">
                                <img class=" lazyloaded"
                                    data-src="https://cdn.mastersunion.org/assets/img/events/holi-celebration_Sm.jpg"
                                    alt="Holi Celebration" src="../assets/img/lifestyle-blog.jpg">
                                <div class="news-links-text">
                                    <p>Lifestyle Blogs</p>
                                    <div class="newslink-time">
                                        <span>
                                            <i class="material-icons-outlined">person</i> Arnish Masih</span>
                                        <span>
                                            <i class="material-icons-outlined">access_time</i> 7:00 AM
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </div>

                        <div class="news-links">
                            <a href="/event/quiz-O-mania">
                                <img class=" lazyloaded"
                                    data-src="https://cdn.mastersunion.org/assets/img/events/quiz-O-mania_Sm.jpg"
                                    alt="Quiz-O-Mania" src="../assets/img/fitness-blog.jpg">
                                <div class="news-links-text">
                                    <p>Fitness Blog</p>
                                    <div class="newslink-time">
                                        <span>
                                            <i class="material-icons-outlined">person</i> Arnish Masih</span>
                                        <span>
                                            <i class="material-icons-outlined">access_time</i> 7:00 AM
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </div>






                    </div>

                </div>
            </div>

        </div>


    </div>

</div> --}}

 <section class="topbar-menu">
    <header class="header-main">
        <div class="cc-container">
            <a class="logo" href="/">
                {{!-- <img src="assets/img/logo-white.png" alt="Logo" /> --}}
                <img  href="/" src="../../assets/img/MU-Center-Plateform-logo.png" alt="Logo" />
            </a>
            <div class="hamburger">
                <a href="javascript:void(0);">
                    <i class="material-icons">dehaze</i>
                </a>
            </div>
            <section class="navigation-outer">
                <div class="hamburger-close">
                    <a href="javascript:void(0);">
                        <i class="material-icons">close</i>
                    </a>
                </div>
                   <nav class="primary-nav-2">
              <ul>

                <li class="sub-menu-outer level-1">
                  <a href="#about-centre" class="smoothclick">About Centre</a>
                </li>

                <li class="sub-menu-outer level-1">
                  <a href="#activities" class="smoothclick">Activities</a>
                </li>

                <li>
                  <a href="#our-Team" class="smoothclick">Our Team</a>
                </li>
                <li>
                  <a href="#Blog-post" class="active smoothclick">Blog posts</a>
                </li>
                <li>
                  <a href="#affiliates" class="smoothclick">Our affiliates</a>
                </li>
                {{!-- <li>
                  <a href="/previous-talks" class="">Previous Talks</a>
                </li>
             --}}
             

              </ul>
            </nav>
            </section>
        </div>
    </header>
</section>







<section class="mt115 pt80 pb80" id="Blog-post">
    <div class="container">
        <div class="row">

            <div class="col">
                <div class="blogs-section eventPag wow fadeInUp mb90" data-wow-delay=".51s">
                    <div class="career-left">
                        <div class="left-blog active">
                            <div class="square-box">
                                <figure class="mb20"> <img src="../assets/img/Jessica-Shah-grey.jpg" alt=""> </figure>
                                
                                <div class="blog-post-date mb10">15th February 2021</div>
                                <a href="/blog-bnpl-1"><span class="learn-more">view article</span></a>
                                <h4 class="blog-post-text mb10">How Buy Now Pay Later (BNPL) is shaping the microcredit industry</h4>
                                <div class="box-para-text mb30">by Jessica Shah and Shobhit Uppal</div>
                                
                                <a href="/blog-bnpl-1"><span class="learn-more">view article</span></a>
                                </div>
                        </div>
                        <div class="left-blog mt30">
                            <div class="square-box">
                                <figure class="mb20"> <img src="../assets/img/Mohit-Paliwal-grey.jpg" alt=""> </figure>
                                
                                <div class="blog-post-date mb10">15th March 2021</div>
                                <h4 class="blog-post-text mb10">ClubHouse, Radio & Virality</h4>
                                <div class="box-para-text mb30">by Mohit Paliwal</div>
                                
                                <a href="/blog-clubhouse-2"><span class="learn-more">view article</span></a>
                                </div>
                        </div>
                        <div class="left-blog mt30">
                           <div class="square-box">
                                <figure class="mb20"> <img src="../assets/img/Shobhit-Uppal-grey.jpg" alt=""> </figure>
                                
                                <div class="blog-post-date mb10">27th May 2021</div>
                                <h4 class="blog-post-text mb10">Multi-Sided Platforms and Blue-Ocean Strategy</h4>
                                <div class="box-para-text mb30">by Shobhit Uppal and Jessica Shah</div>
                                
                                <a href="/blog-multiSided-3"><span class="learn-more">view article</span></a>
                                </div>
                        </div>
                    </div>
                    <div class="career-right">
                        <div class="cover-outer">
                            <h1 class="blog-heading-text">How Buy Now Pay Later (BNPL) is shaping the microcredit industry</h1>
                            <div class="blog-post-date mb10">15th February 2021</div>
                            <div class="blog-post-red-clr mb10">By Jessica Shah and Shobhit Uppal</div>

                            <p class="smallheading2 mb20 bodytext">
                               Who knew it would take a pandemic for the Indian consumers to move away from Cash-On-Delivery as 
                               a preferred payment mode! As economies were brought to a halt, it led to a paradigm shift in
                                consumer behavior as the Indian consumer finally began looking for alternatives to Cash-On-Delivery. 
                                Microcredit, an age-old disorganized industry, was finally brought into limelight and digitized by 
                                introducing the Buy Now Pay Later (BNPL) concept in india. With consumers looking for credit for 
                                both convenience & affordability, there is no more a tradeoff but rather the consumer demanding 
                                more of both these factors. 

                            </p>

                            <p class="smallheading2 mb20 bodytext">
                                <strong>The BNPL Inception</strong><br> 
                                With the increasing penetration of smartphones and the internet in India, 
                                the digital and e-commerce industry has found the fuel to its fire, and this has
                                 caused an enormous upliftment in the trend of digital payments across the country.
                                  However, a considerable chunk of the Indian population is unbanked and is struggling to
                                   get credit cards, is plagued by high-interest rates, and its economic activities are
                                    constricted by not having a credit score. BNPL thus looks like the optimum solution 
                                    in the fintech space, which aims to become a user-friendly version of credit cards,
                                     with easier access to credit lines available to larger sets of internet savvy consumers. 
                                     But can BNPL become the new credit card? 


                            </p>

                            <p class="smallheading2 mb20 bodytext">
                                <strong> How does BNPL work?</strong><br> 
                                BNPL is a payment technology that enables the user to purchase without paying for it until a later date.
                                 Comprehensively, it is zero interest short-term microcredit for online purchases. 
                                 Its business model is shaped in terms of a two-sided market, where it has to
                                  onboard merchants and also appeal to consumers. Merchants are onboarded for a 
                                  transaction fee of 1%-2%. Once the process is complete, customers can avail of 
                                  the service by making payments in instalments. The BNPL makes the payment in full 
                                  to the merchant, minus the transaction fee, while the customer repays the provider 
                                  in the stipulated installments. 
                                  <br> <br> 
                                  BNPL services provide its users with a line of credit, with a prescribed limit which is 
                                  decided using machine intelligence on application based on user’s mobile data, purchase data, location 
                                  data, and payment cycle. Unlike a credit card, BNPL completes payments in just one click. Some of 
                                  the platforms operating as two-sided marketplaces in India are Simpl, Lazypay, ePayLater, Amazon Pay 
                                  Later, etc. 
                                  <br> <br> 
                                    They operate on generating revenues from merchants as well as users. While merchants are charged a transaction fee, a late fee is levied on customers for missed payments. This is a service that can only serve good for small ticket size transactions, 
                                    while a credit card enables credit limits in the range up to large amounts running into lakhs. 

                            </p>

                            <p class="smallheading2 mb20 bodytext">
                                <strong>Why BNPL</strong> <br>
                                BNPL is a revolutionary concept for developing economies such as India. For small ticket size transactions, BNPL is what your new credit card looks like. This innovative product addresses all functions of a credit card; from bill generation to repayment, payment default mechanisms, and dispute resolution. 
                                It enables merchants to focus on the core business, acts as a conduit for low interest and risk-free financing, and more and more brick and mortar companies opt for digital modes of payments to aid and accelerate a digital ecosystem. 
                            </p>

                            <p class="smallheading2 mb20 bodytext">
                                It bolsters digital transformation in several ways, such as greater conversions, reduced cart abandonment, lesser chargeback risk, and merchant default 
                                risk & merchant fraud risk by leveraging third-party data analytics. It is making digital the new normal.

                            </p>
                            <p class="smallheading2 mb20 bodytext">
                                <strong>Conclusion </strong><br>
                               Answering the question, no, BNPL is not meant to replace credit cards. The emphasis is on organizing the microcredit industry and digitizing it. Credit card companies charge an interest of 2% to 8%, while BNPL doesn’t charge the end customers any fee for credit lines. 
                               Consumers would benefit from availing of the BNPL service when the ticket size of the transaction is relatively small. Simply put, the opportunities for fintech companies to offer credit-based financial products are immense. The benefits to both the consumer and the merchant are far too conspicuous for us not to take note of the ripples this new ecosystem has the potential to make. 

                            </p>


                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<style>
    .head-m{
        display: none;
    }
</style>





