
<section class=" cover-outer mt115 pt80 pb80">
  <div class="container" id="about-centre">
    <div class="row">
      
      <h1 class="wow fadeInUp big-boldheading mb30" data-wow-delay=".3s">About the
        <div class="borderheading"> Centre </div>
      </h1>
      <p class="smallheading2 mb20 bodytext">
        Some of the biggest companies in terms of market capitalization, FAANG as they are popularly referred to;
        Facebook, Amazon, Alibaba, Netflix, Google, and Microsoft are all multi-sided platform businesses. The new IPO
        stars, including Uber and Airbnb, are also platforms, and even in our country, the number of unicorns and
        decacorns are increasing by the day, most of which are platform-based businesses.<br/>
        Centre for Platforms Research (CPR) is a network of industry and academic affiliates that discusses and debates
        issues pertaining to platform strategy, regulation and agent behaviour and interaction with platforms.
        Industrial Revolution 4.0 demands that organizations constantly update and devise new strategies to get ahead of
        one another rendering obsolete strategies that were hitherto popular and successful. <br>
        The Centre envisions to be a collaborative project between academia and industry that engages in research and
        emerges as a thought leader in the dissemination of content on platform businesses to the various stakeholders.
      </p>
    </div>
  </div>
</section>


<section class="cover-outer pt80 pb80 grey-bg">
  <div class="container" id="activities">
    <div class="row">
      <h3 class=" boldheading-meadium mb30"> Activities of Centre </h3>
      <h3 class=" boldheading-meadium">
        <span>Operations, Events & Industry Outreach Division</span>
      </h3>


      <div class="three-boxs mt25">
        <div class="square-box">
          <h3 class="busHeading mb10">1.</h3>
          <h3 class="busHeading mb20">Entrepreneur-in-Residence</h3>
          <div class="box-para-text">
            A CXO or personnel from senior management of leading platform firms engaging with the cohort on aspects of
            strategy and regulation pertaining to platforms.
          </div>
        </div>


        <div class="square-box">
          <h3 class="busHeading mb10">2.</h3>
          <h3 class="busHeading mb20">Colloquium</h3>
          <div class="box-para-text">
            Leading academics to visit the MUSB campus and interact with faculty and students regarding issues of
            current relevance in the platform ecosystem.
          </div>
        </div>


        <div class="square-box">
          <h3 class="busHeading mb10">3.</h3>
          <h3 class="busHeading mb20">Industry Outreach</h3>
          <div class="box-para-text">Liaising with the industry to procure live consulting projects, internships, and
            other industry
            collaborative opportunities. This initiative would also help connect individuals with ideas to industry
            veterans for
            discussion and possible collaborative opportunities.
          </div>
        </div>






      </div>

      <h3 class=" boldheading-meadium mt30">
        <span> Publications & Analysis Division</span>
      </h3>


      <div class="three-boxs mt25">
        <div class="square-box">
          <h3 class="busHeading mb10">1.</h3>
          <h3 class="busHeading mb20">Independent Research</h3>
          <div class="box-para-text">
            The Centre would carry out independent research on issues of interest to its stakeholders with the aim of
            publication in reputed journals,
            including getting grants from domestic and global institutions for research.
          </div>
        </div>


        <div class="square-box">
          <h3 class="busHeading mb10">2.</h3>
          <h3 class="busHeading mb20">Case-Studies</h3>
          <div class="box-para-text">
            The Centre would endeavour to document various corporations' learnings and experiences by writing academic
            cases affiliated to HBR and Richard Ivey.

          </div>
        </div>


        <div class="square-box">
          <h3 class="busHeading mb10">3.</h3>
          <h3 class="busHeading mb20">Policy and Analysis</h3>
          <div class="box-para-text">The Centre would comment on new policies and case laws in the form of publication
            in leading dailies and academic journals
            of vast readership. The Centre would also seek to procure funding for Govt. projects and empanel MUSB as an
            institution for research projects with Govt. institutions.

          </div>
        </div>






      </div>
    </div>
  </div>
</section>



<section class="cover-outer pt80 pb80 our-team">
  <div class="container" id="our-Team">
    <div class="row">

    <div class="cover-outer">
      <h3 class=" boldheading-meadium"> Our Team </h3>
    </div>

      <div class="three-boxs mt30">
        <div class="square-box">
          <figure class="mb30"> <img src="../assets/img/Adeetya-small-round.jpg" alt=""> </figure>
          <h3 class="busHeading mb10"> Adeetya Prakash</h3>
          <div class="post-text mb10">Executive Member</div>
          <div class="box-para-text">
           A hustler with over 6 years of experience in driving teams to achieve and overachieve business goals. Have a keen interest in 
           the platform ecosystems. Having worked at disruptive startups, I am always looking to contribute to the growth story of emerging startups
          </div>
          <a target="_blank" href="https://www.linkedin.com/in/adeetya-prakash/"><span class="learn-more">Learn more</span></a>
        </div>


        <div class="square-box">
          <figure class="mb30"> <img src="../assets/img/akash-krishna-round-small.jpg" alt=""> </figure>
          <h3 class="busHeading mb10"> Dr. Akash Krishnan</h3>
          <div class="post-text mb10">Centre Coordinator</div>
          <div class="box-para-text">
            An applied economist interested in issues associated with the platform ecosystem; strategy, regulation, and
            agent interaction. I have a Ph.D. in Economics from IIM Calcutta and have been associated with institutions
            like NLSIU B’lore and Deloitte in the past.

          </div>
          <a target="_blank" href="http://www.linkedin.com/in/akash-krishnan"><span class="learn-more">Learn more</span></a>
        </div>


        <div class="square-box">
          <figure class="mb30"> <img src="../assets/img/amit-lumar-small-round.jpg" alt=""> </figure>
          <h3 class="busHeading mb10"> Amit Kumar </h3>
           <div class="post-text mb10">Executive Member</div>
          
          <div class="box-para-text">
        Amit is a teaching associate and researcher in Economics at Masters Union who is interested in a deeper and comprehensive research to understand platforms as a business model, policies and an economics around it. He holds an M.Sc. in Financial Economics from MSE,Chennai and has been associated with IIT Patna in the past.
          </div>
          <span class="learn-more">Learn more</span>
        </div>



        <div class="square-box mt20">
          <figure class="mb30"> <img src="../assets/img/Atishay-jain-small-round.jpg" alt=""> </figure>
          <h3 class="busHeading mb10"> Atishay Jain </h3>
           <div class="post-text mb10">Executive Member</div>
          <div class="box-para-text">
            I am a Chartered Accountant by profession, and pursued my B.com(H) from Shri Ram College of Commerce, Delhi University.
            I worked in Deloitte in the International Taxation domain, wherein I was required to analyze financial &
            business data of thousands of companies. I also worked in KPMG for over a year in Corporate and
            International Tax, serving clients in the Infrastructure, Governance, and Healthcare sectors. I am also a
            Certified Bitcoin Professional. My areas of interest are emerging businesses, and technology.
          </div>

          <a target="_blank" href="https://www.linkedin.com/in/atishay-jain-07b03468/"><span class="learn-more">Learn more</span></a>
        </div>



        <div class="square-box mt20">
          <figure class="mb30"> <img src="../assets/img/mohit-paliwal-small-round.jpg" alt=""> </figure>
          <h3 class="busHeading mb10"> Mohit Paliwal </h3>
          <div class="post-text mb10">Executive Member</div>
          <div class="box-para-text">
            Mohit is a graduate from IIT Kharagpur and has worked with multiple early stage platforms across various
            industries. He has keen interest in leading and disrupting platforms especially in social media space and is
            currently developing a decentralised broadcasting platform.


          </div>
          <a target="_blank" href="https://www.linkedin.com/in/mohit-paliwal177"><span class="learn-more">Learn more</span></a>
        </div>



        <div class="square-box mt20">
          <figure class="mb30"> <img src="../assets/img/radika-goyal-small-round.jpg" alt=""> </figure>
          <h3 class="busHeading mb10"> Radhika Goyal </h3>
          <div class="post-text mb10">Executive Member</div>
          <div class="box-para-text">
            A marketing enthusiast hidden inside a lawyer, I am finding ways to merge my interests and my profession. I
            have approximately a year of experience working as a corporate lawyer, which I find useful in looking at the
            legal-institutional change in the emerging, platform-driven economy.


          </div>
          <a target="_blank" href="https://www.linkedin.com/in/radhika-goyal-corporate-lawyer/"><span class="learn-more">Learn more</span></a>
        </div>



         <div class="square-box mt20">
          <figure class="mb30"> <img src="../assets/img/shobhit-uppal.jpg" alt=""> </figure>
          <h3 class="busHeading mb10"> Shobhit Uppal </h3>
           <div class="post-text mb10">Executive Member</div>
          <div class="box-para-text">
         I have 3 years of experience working with Zomato. My work involved Business Development, Market Expansion, Key Accounts Management & Sales Operations 
         Management across the country for products like Zomato Gold, Food Hygiene Ratings and Zomato Pro across the country. An avid foodie besides being a problem solver.
          </div>
          <a target="_blank" href="https://www.linkedin.com/in/shobhit-uppal-22578a91/?originalSubdomain=in"><span class="learn-more">Learn more</span></a>
        </div>

            <div class="square-box mt20">
          <figure class="mb30"> <img src="../assets/img/yugat-tamang-small-round.jpg" alt=""> </figure>
          <h3 class="busHeading mb10"> Yugal Tamang </h3>
           <div class="post-text mb10">Executive Member</div>
          <div class="box-para-text">
         I have 10 years of experience working for technology giants such as Amazon, Oracle and Akamai. I have always had a keen interest in product development and have 
         ideated and built products across industries such as fintech, education, travel and entertainment
          </div>
          <a target="_blank" href="https://www.linkedin.com/in/yugaltamang/"><span class="learn-more">Learn more</span></a>
        </div>

        













      </div>





      
      {{!-- <div class="two-boxs mt30">
        <div class="square-box">
          <figure class="mb30"> <img src="../assets/img/shobhit-uppal.jpg" alt=""> </figure>
          <h3 class="busHeading mb20"> Shobhit Uppal</h3>
          <div class="box-para-text">
         I have 3 years of experience working with Zomato. My work involved Business Development, Market Expansion, Key Accounts Management & Sales Operations Management across the country for products like Zomato Gold, Food Hygiene Ratings and Zomato Pro across the country. An avid foodie besides being a problem solver.

          </div>
           <a target="_blank" href="https://www.linkedin.com/in/shobhit-uppal-22578a91/?originalSubdomain=in"><span class="learn-more">Learn more</span></a>
       
        </div>


        <div class="square-box">
          <figure class="mb30"> <img src="../assets/img/yugat-tamang-small-round.jpg" alt=""> </figure>
          <h3 class="busHeading mb20"> Yugal Tamang</h3>
          <div class="box-para-text">
          I have 10 years of experience working for technology giants such as Amazon, Oracle and Akamai. I have always had a keen interest in product development and have ideated and built products across industries such as fintech, education, travel and entertainment 

          </div >
          <a target="_blank" href="https://www.linkedin.com/in/yugaltamang/"><span class="learn-more">Learn more</span></a>
        </div>
      </div> --}}

    </div>
  </div>
</section>





<section class="cover-outer pt80 pb80 grey-bg">
  <div class="container" id="Blog-post">
    <div class="row">
      <div class="col">
      <div class="cover-outer">  <h3 class=" boldheading-meadium mb30"> Blog Post </h3>   </div>


      <div class="five-boxs">

  


        <div class="square-box">
          <figure class="mb20"> <img src="../assets/img/tick-in-circle.svg" alt=""> </figure>
        
          <h4 class="blog-post-text mb10">Fortnightly articles</h4>
         <div class="box-para-text">Articles that discuss issues pertaining to the platform ecosystem.</div>
          <a target="_blank" href="/blog-bnpl-1"><span class="learn-more">view article</span></a>
        </div>

          <div class="square-box">
          <figure>  <img src="../assets/img/tick-in-circle.svg" alt=""></figure>
        <h4 class="mt10 mb10">Industry Insights</h4>
         <div class="box-para-text">Monthly articles that take a particular platform industry and talk about a certain practice/issue specific to this industry.</div>
         <a target="_blank" href="#"><span class="learn-more">view article</span></a>
        </div>

          <div class="square-box">
          <figure>  <img src="../assets/img/tick-in-circle.svg" alt=""></figure>
        <h4 class="mt10 mb10">Eureka</h4>
         <div class="box-para-text">Aims to simplify and explain landmark scholarly articles with relatable examples.</div>
         <a target="_blank" href="#"><span class="learn-more">view article</span></a>
        </div>

          <div class="square-box">
          <figure>  <img src="../assets/img/tick-in-circle.svg" alt=""></figure>
        <h4 class="mt10 mb10">Podcasts</h4>
         <div class="box-para-text">Conversations with eminent industry/academia personnel in the platform ecosystem</div>
         <a target="_blank" href="#"><span class="learn-more">view article</span></a>
        </div>

          <div class="square-box">
          <figure>  <img src="../assets/img/tick-in-circle.svg" alt=""></figure>
        <h4 class="mt10 mb10">Response Pieces</h4>
         <div class="box-para-text">Response to blog posts/articles by eminent personnel/media.</div>
         <a target="_blank" href="#"><span class="learn-more">view article</span></a>
        </div>
       
      </div>


       {{!-- <div class="three-boxs mt30">
        <div class="square-box">
          <figure class="mb20"> <img src="../assets/img/Jessica-Shah-grey.jpg" alt=""> </figure>
        
          <div class="blog-post-date mb10">15th February 2021</div>
          <h4 class="blog-post-text mb10">How Buy Now Pay Later (BNPL) is shaping the microcredit industry</h4>
          <div class="box-para-text">by Jessica Shah and Shobhit Uppal</div>
        
          <a target="_blank" href="/blog-bnpl-1"><span class="learn-more">view article</span></a>
        </div>


         <div class="square-box">
          <figure class="mb20"> <img src="../assets/img/Mohit-Paliwal-grey.jpg" alt=""> </figure>
        
          <div class="blog-post-date mb10">15th March 2021</div>
          <h4 class="blog-post-text mb10">ClubHouse, Radio & Virality</h4>
          <div class="box-para-text">by Mohit Paliwal</div>
        
          <a target="_blank" href="/blog-clubhouse-2"><span class="learn-more">view article</span></a>
        </div>


        <div class="square-box">
          <figure class="mb20"> <img src="../assets/img/Shobhit-Uppal-grey.jpg" alt=""> </figure>
        
          <div class="blog-post-date mb10">27th May 2021</div>
          <h4 class="blog-post-text mb10">Multi-Sided Platforms and Blue-Ocean Strategy</h4>
          <div class="box-para-text">by Shobhit Uppal and Jessica Shah</div>
        
          <a target="_blank" href="/blog-multiSided-3"><span class="learn-more">view article</span></a>
        </div>
      </div> --}}




      
    </div>
  </div>
  </div>


  
</section>

















    

     




      

   


















<section class="cover-outer pt80 pb80">


  <div class="container" id="affiliates">
    <div class="row"> 
      <div class="cover-outer">  <h3 class=" boldheading-meadium mb30"> Our Affiliates </h3>   </div>


      <div class="six-boxs">
        <div class="square-box">
          <figure>  <img src="../assets/img/Alok-Saraogi-round.jpg" alt=""></figure>
        <h4 class="mt10 mb10 small-box-heading">Alok Saraogi </h4>
         <div class="box-para-text">Former Country Manager, Amazon Inc.</div>
        </div>

          <div class="square-box">
          <figure>  <img src="../assets/img/Pro.Ashutosh-Jha.jpg" alt=""></figure>
        <h4 class="mt10 mb10 small-box-heading">Prof. Ashutosh Jha </h4>
         <div class="box-para-text">SPJIMR</div>
        </div>

          <div class="square-box">
          <figure>  <img src="../assets/img/Pro.Bhupesh-Manoharan.jpg" alt=""></figure>
        <h4 class="mt10 mb10 small-box-heading">Prof. Bhupesh Manoharan</h4>
         <div class="box-para-text">Masters’ Union School of Business</div>
        </div>

          <div class="square-box">
          <figure>  <img src="../assets/img/Pro.Priyanshu-Gupta.jpg" alt=""></figure>
        <h4 class="mt10 mb10 small-box-heading">Prof. Priyanshu Gupta </h4>
         <div class="box-para-text">Azim Premji University</div>
        </div>

          <div class="square-box">
          <figure>  <img src="../assets/img/Prof.Subhasis-Mihra.jpg" alt=""></figure>
        <h4 class="mt10 mb10 small-box-heading">Prof. Subhasis Mishra </h4>
         <div class="box-para-text"> Masters’ Union School of Business</div>
        </div>

            <div class="square-box">
          <figure>  <img src="../assets/img/Prof.Vivek-Nair.jpg" alt=""></figure>
        <h4 class="mt10 mb10 small-box-heading">Prof. Vivek Nair</h4>
         <div class="box-para-text"> IIT Delhi</div>
        </div>

          <div class="square-box">
          <figure>  <img src="../assets/img/antarpreet.jpg" alt=""></figure>
        <h4 class="mt10 mb10 small-box-heading">Antarpreet Singh</h4>
         <div class="box-para-text"> CEO | CLO | APAC Head | EdTech Innovator | Digital Transformation | Digital HR | Researcher-OB & HR |</div>
        </div>
       
      </div>
    </div>
  </div>


  
</section>


<section class="cover-outer pt80 pb80 grey-bg">


  <div class="container" id="academic-benefits">
    <div class="row">
      <div class="cover-outer">  <h3 class=" boldheading-meadium mb30"> Benefits to Academic Affiliates </h3>   </div>

<div class="cover-outer">
  <div class="d-flex align-items-center">
    <figure class="mb30"> <img src="../assets/img/tick-in-circle.svg" class="mr10" alt=""> </figure>
  <p class="smallheading2 mb20 bodytext"> Platform for discussing and debating platform issues with like-minded passionate people</p>
  </div>

    <div class="d-flex align-items-center">
    <figure class="mb30"> <img src="../assets/img/tick-in-circle.svg" class="mr10" alt=""> </figure>
  <p class="smallheading2 mb20 bodytext"> Access to top industry personnel and data</p>
  </div>

    <div class="d-flex align-items-center">
    <figure class="mb30"> <img src="../assets/img/tick-in-circle.svg" class="mr10" alt=""> </figure>
  <p class="smallheading2 mb20 bodytext">  Opportunities for case-study formulations</p>
  </div>

    <div class="d-flex align-items-center">
    <figure class="mb30"> <img src="../assets/img/tick-in-circle.svg" class="mr10" alt=""> </figure>
  <p class="smallheading2 mb20 bodytext">  Potential collaboration opportunities with industry/academia</p>
  </div>

</div>
      
    </div>
  </div>


  
</section>


<section class="cover-outer pt80 pb80">


  <div class="container" id="industry">
    <div class="row">
      <div class="cover-outer">  <h3 class=" boldheading-meadium mb30"> Benefits to Industry Affiliates </h3>   </div>

<div class="cover-outer">
  <div class="d-flex align-items-center">
    <figure class="mb30"> <img src="../assets/img/tick-in-circle.svg" class="mr10" alt=""> </figure>
  <p class="smallheading2 mb20 bodytext"> Platform for discussing and debating platform issues with like-minded passionate people</p>
  </div>

    <div class="d-flex align-items-center">
    <figure class="mb30"> <img src="../assets/img/tick-in-circle.svg" class="mr10" alt=""> </figure>
  <p class="smallheading2 mb20 bodytext">Access to top academics for consulting advice</p>
  </div>

    <div class="d-flex align-items-center">
    <figure class="mb30"> <img src="../assets/img/tick-in-circle.svg" class="mr10" alt=""> </figure>
  <p class="smallheading2 mb20 bodytext"> Opportunities for documenting best practices/experiences of the organization as an HBR/Ivey case-study</p>
  </div>

    <div class="d-flex align-items-center">
    <figure class="mb30"> <img src="../assets/img/tick-in-circle.svg" class="mr10" alt=""> </figure>
  <p class="smallheading2 mb20 bodytext">  Potential collaboration opportunities with industry/academia</p>
  </div>

</div>
      
    </div>
  </div>


  
</section>