<style>
    nav.primary-nav-2 ul li:not(:last-child) {
    display: none;
}
  nav.primary-nav-2 ul li a {
    color: #f12a2a;
}
</style>
<section class="section-what">
    <section class="cover-outer pb100">
 
        <div class="container">
        {{!-- <div class="cover-outer">
                <h1 class="boldheading-meadium mb30" data-wow-delay=".3s">Previous Talks </h1>
        </div> --}}
            <div class="bigVideoSection">
                <div class="video-wrap">
                    <div class="v-player">
                        <video width="100%"  poster="../assets/videos/thumbnail/Information Flows in Social Networks ‐ Made with Clipchamp.jpg" >
                            <source
                                src="../assets/videos/Information Flows in Social Networks ‐ Made with Clipchamp (1).mp4"
                                type="video/mp4">
                        </video>
                        <div class="play-button"></div>
                    </div>
                </div>

                <h3 class="bigVideo-heading">Information Flows in Social Networks</h3>

                <div class="bigVideoLikeDetail">
                    <div class="bigVideoLikeDetailLeft">

                        <span class="premiered">Premiered Tuesday, 20th April 2021</span>
                    </div>
                    <div class="bigVideoLikeDetailRight">
                        <a id="share-link" href="javascript:void(0);" onclick="toggleShare()">
                            <span class="material-icons"> share </span> Share</a>

                        <div class="share-detail-drop hide">
                            <h3>Share this video via</h3>
                            <div class="cover-outer d-flex justify-content-center">
                                <a onclick="shareUrl('facebook')" href="javascript: void(0)"
                                    class="wow fadeInUp share-on-icon ti-facebook" id="share-on-facebook">
                                    <img alt="facebook" src="https://img.icons8.com/material/18/ffffff/facebook-f.png">
                                </a>
                                <a onclick="shareUrl('twitter')" href="javascript:void(0);"
                                    class="wow fadeInUp share-on-icon" id="share-on-twitter">
                                    <img alt="twitter"
                                        src="https://img.icons8.com/material/18/ffffff/twitter-squared.png">
                                </a>
                                <a onclick="shareUrl('copyUrl')" href="javascript:void(0);"
                                    class="wow fadeInUp share-on-icon" id="share-on-copylink">
                                    <img alt="Copy" src="https://cdn.mastersunion.org/assets/img/link-icon.png">

                                    <span class="copied-text" style="display: none">Copied!</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
             <p class="bigVideo-text">This is an introductory session to the world of Social Network Analysis (SNA) and how actors in complex social networks evolve unique social structures of their own. These social structures determine the effectiveness of the information exchange in the network. We would discuss how SNA can help us in measuring the properties of such complex social structures quantitatively, and the subsequent implications for the world of business. We would also look at how we can use open source tools to analyze social networks of our own choice. </p>


           <div class="video-wrap mt40">
                    <div class="v-player">
                        <video width="100%"  poster="../assets/videos/thumbnail/Harnessing the Power of Prosumption.jpg" >
                            <source
                                src="../assets/videos/New Centre for Platform [CPR]- Colloquium Lecture-22-05-2021.mp4"
                                type="video/mp4">
                        </video>
                        <div class="play-button"></div>
                    </div>
                </div>

                <h3 class="bigVideo-heading">Harnessing the Power of Prosumption</h3>

                <div class="bigVideoLikeDetail">
                    <div class="bigVideoLikeDetailLeft">

                        <span class="premiered">Time: May 22, 2021 03:00 PM India</span>
                    </div>
                    <div class="bigVideoLikeDetailRight">
                        <a id="share-link" href="javascript:void(0);" onclick="toggleShare()">
                            <span class="material-icons"> share </span> Share</a>

                        <div class="share-detail-drop hide">
                            <h3>Share this video via</h3>
                            <div class="cover-outer d-flex justify-content-center">
                                <a onclick="shareUrl('facebook')" href="javascript: void(0)"
                                    class="wow fadeInUp share-on-icon ti-facebook" id="share-on-facebook">
                                    <img alt="facebook" src="https://img.icons8.com/material/18/ffffff/facebook-f.png">
                                </a>
                                <a onclick="shareUrl('twitter')" href="javascript:void(0);"
                                    class="wow fadeInUp share-on-icon" id="share-on-twitter">
                                    <img alt="twitter"
                                        src="https://img.icons8.com/material/18/ffffff/twitter-squared.png">
                                </a>
                                <a onclick="shareUrl('copyUrl')" href="javascript:void(0);"
                                    class="wow fadeInUp share-on-icon" id="share-on-copylink">
                                    <img alt="Copy" src="https://cdn.mastersunion.org/assets/img/link-icon.png">

                                    <span class="copied-text" style="display: none">Copied!</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
             <p class="bigVideo-text">‘Prosumption’ is a key aspect of online review platforms where consumers are also the producers (of
online reviews). Scholars continue to argue the pros and cons of prosumption. Benefits include
consumers getting opportunities to express their opinions, creativity, and to some extent contribute to
the betterment of society through knowledge sharing. Limitations of prosumption include dependence
on voluntary contributions, diverse quality of content, and credibility of content.
In this talk, I shall focus on two key aspects of online review platforms that try to address the limitations
of prosumption: first, motivating online review contributions using rewards and recognition (e.g.,
badges, titles, etc.) and second, various factors indicating the credibility of online reviews. I shall draw
upon existing research and ongoing practices that offer ways to harness the power of prosumption.</p>
            </div>



      










            
            

            <div class="smallVideoSection">
                <h4 class="next-heading" id="upNext">

                    <a class="smallVideoLink" href="#">
                        <figure>

                            <img src="../assets/videos/thumbnail/Information Flows in Social Networks ‐ Made with Clipchamp.jpg" alt="Masterclass teaser">
                        </figure>
                        <div class="smallVideoDetail">
                            <h6>Information Flows in Social Networks
                            </h6>
                        </div>
                    </a>
                </h4>
            </div>

             <div class="smallVideoSection">
                <h4 class="next-heading" id="upNext-2">

                    <a class="smallVideoLink" href="#">
                        <figure>

                            <img src="../assets/videos/thumbnail/Harnessing the Power of Prosumption.jpg" alt="Harnessing the Power of Prosumption">
                        </figure>
                        <div class="smallVideoDetail">
                            <h6>Harnessing the Power of Prosumption </h6>

                           
                        </div>
                    </a>
                </h4>
            </div>

              <div class="smallVideoSection">
                <h4 class="next-heading" id="upNext-2">

                    <a class="smallVideoLink" href="#">
                        <figure>

                            <img src="../assets/videos/thumbnail/Harnessing the Power of Prosumption.jpg" alt="Harnessing the Power of Prosumption">
                        </figure>
                        <div class="smallVideoDetail">
                            <h6>Harnessing the Power of Prosumption </h6>

                           
                        </div>
                    </a>
                </h4>
            </div>

        </div>
    </section>
</section>




<script>
    $(".video-wrap .v-player").each(function () {
        var video = $(this).find("video");
        var plainVideo = video.get(0);/*DOM video object, unwrapped from jQuery*/
        var playBtn = $(this).find(".play-button");

        playBtn.click(function (){
            video.get(0).addEventListener('ended', myHandler, false);
            plainVideo.play();
             $(".video-wrap .v-player video").prop("controls",true);
            playBtn.css("visibility", "hidden");

            function myHandler(e) {
                playBtn.css("visibility", "visible");
            }
        });
    });
</script>