@font-face{font-family:'nunitosans';src:url(https://cdn.mastersunion.org/assets/fonts/nunitosans-regular-webfont.eot),url(https://cdn.mastersunion.org/assets/fonts/nunitosans-regular-webfont.woff2) format("woff2"),url(https://cdn.mastersunion.org/assets/fonts/nunitosans-regular-webfont.woff) format("woff"),url(https://cdn.mastersunion.org/assets/fonts/nunitosans-regular-webfont.ttf) format("truetype");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'nunitosans-Light';src:url(https://cdn.mastersunion.org/assets/fonts/nunitosans-light-webfont.eot),url(https://cdn.mastersunion.org/assets/fonts/nunitosans-light-webfont.woff2) format("woff2"),url(https://cdn.mastersunion.org/assets/fonts/nunitosans-light-webfont.woff) format("woff"),url(https://cdn.mastersunion.org/assets/fonts/nunitosans-light-webfont.ttf) format("truetype");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'nunitosans-Bold';src:url(https://cdn.mastersunion.org/assets/fonts/nunitosans-bold-webfont.eot),url(https://cdn.mastersunion.org/assets/fonts/nunitosans-bold-webfont.woff2) format("woff2"),url(https://cdn.mastersunion.org/assets/fonts/nunitosans-bold-webfont.woff) format("woff"),url(https://cdn.mastersunion.org/assets/fonts/nunitosans-bold-webfont.ttf) format("truetype");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'oswald';src:url(https://cdn.mastersunion.org/assets/fonts/oswald-regular-webfont.eot),url(https://cdn.mastersunion.org/assets/fonts/oswald-regular-webfont.woff2) format("woff2"),url(https://cdn.mastersunion.org/assets/fonts/oswald-regular-webfont.woff) format("woff"),url(https://cdn.mastersunion.org/assets/fonts/oswald-regular-webfont.ttf) format("truetype");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'oswald-Light';src:url(https://cdn.mastersunion.org/assets/fonts/oswald-light-webfont.eot),url(https://cdn.mastersunion.org/assets/fonts/oswald-light-webfont.woff2) format("woff2"),url(https://cdn.mastersunion.org/assets/fonts/oswald-light-webfont.woff) format("woff"),url(https://cdn.mastersunion.org/assets/fonts/oswald-light-webfont.ttf) format("truetype");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'oswald-Bold';src:url(https://cdn.mastersunion.org/assets/fonts/oswald-bold-webfont.eot),url(https://cdn.mastersunion.org/assets/fonts/oswald-bold-webfont.woff2) format("woff2"),url(https://cdn.mastersunion.org/assets/fonts/oswald-bold-webfont.woff) format("woff"),url(https://cdn.mastersunion.org/assets/fonts/oswald-bold-webfont.ttf) format("truetype");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");font-display:swap}
@font-face{font-family:'Material Icons Outlined';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialiconsoutlined/v5/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format("woff2");font-display:swap}
@font-face{font-family:'Material Icons Round';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialiconsround/v5/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmP.woff2) format("woff2");font-display:swap}
@font-face{font-family:'Material Icons Sharp';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialiconssharp/v6/oPWQ_lt5nv4pWNJpghLP75WiFR4kLh3kvmvR.woff2) format("woff2");font-display:swap}
@font-face{font-family:'Material Icons Two Tone';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialiconstwotone/v4/hESh6WRmNCxEqUmNyh3JDeGxjVVyMg4tHGctNCu0.woff2) format("woff2");font-display:swap}
@font-face{font-family:'nunito_sanssemibold';src:url(../fonts/nunitosans-semibold-webfont.woff2) format("woff2"),url(../fonts/nunitosans-semibold-webfont.woff) format("woff");font-weight:400;font-style:normal}
.material-icons{font-family:'Material Icons';font-weight:400;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:liga;-webkit-font-smoothing:antialiased}
.material-icons-outlined{font-family:'Material Icons Outlined';font-weight:400;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:liga;-webkit-font-smoothing:antialiased}
*{margin:0;padding:0}
body::-webkit-scrollbar{width:7px}
body::-webkit-scrollbar-track{background:#f1f1f1}
body::-webkit-scrollbar-thumb{background:#888;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px}
body::-webkit-scrollbar-thumb:hover{background:#555}
ul,li{list-style:none}
a,img{outline:none;text-decoration:none}
.pb0{padding-bottom:0!important}
body{margin:0;font-family:'nunitosans'}
html,body{overflow-x:hidden}
.block{float:left}
.no-border{border:none!important}
.mb0{margin-bottom:0!important}
.hide{display:none!important}
input::-webkit-input-placeholder{color:#ddd}
input::-moz-placeholder{color:#ddd}
input:-ms-input-placeholder{color:#ddd}
input:-moz-placeholder{color:#ddd}
.hamburger,.hamburger-close{display:none}
.section{padding-top:100px;padding-bottom:0}
section.main-section{display:block}
.topbar-menu{float:left;width:100%;z-index:999;position:fixed;top:0}
header.header-main{float:left;width:100%;top:0;z-index:2;min-height:115px;transition:.5s ease-in-out}
/* header.header-main.homeheader{min-height:50px!important} */
header.header-main .cc-container{width:96%}
.cc-container{width:82%;margin:0 auto}
header.header-main .cc-container a.logo{display:inline-block;position:relative;z-index:9999}
header.header-main .cc-container a img{max-width:275px;transition:.5s ease-in-out}
header.header-main .cc-container{display:flex;align-items:center;min-height:115px;justify-content:space-between}
section.navigation-outer{float:right;width:100%}
nav.primary-nav{position:relative;float:right;width:100%;transition:.5s ease-in-out}
nav.primary-nav ul{width:auto;float:right}
nav.primary-nav ul li{display:inline-block;padding-right:7px;margin-right:7px;vertical-align:middle}
nav.primary-nav ul li:last-child{border:none;margin-right:0;padding-right:0}
nav.primary-nav ul li a{color:#4E5D64;font-size:14px;font-family:'nunitosans';transition:.5s ease-in-out;opacity:.8}
.lighttheme nav.primary-nav ul li a{color:#fff;font-size:14px;font-family:'nunitosans';transition:.5s ease-in-out;opacity:.8}
nav.primary-nav ul li a:hover{color:#F12A2A}
nav.primary-nav-2{float:right;width:100%;position:relative;padding-top:15px;transition:.5s ease}
nav.primary-nav-2 ul{width:auto;float:right;display:flex;align-items:center}
nav.primary-nav-2 ul li{margin-right:15px;vertical-align:middle;position:relative;float:left}
nav.primary-nav-2 ul li:last-child{border:none;margin-right:0!important;padding-right:0!important}
nav.primary-nav-2 ul li a{color:#101010;font-size:16px;font-family:'nunitosans';transition:.5s ease-in-out;text-transform:uppercase;white-space:nowrap}
.lighttheme nav.primary-nav-2 ul li a{color:rgba(255,255,255,0.8);font-size:14px;font-family:'nunitosans';transition:.5s ease-in-out;text-transform:uppercase;line-height:18px}
nav.primary-nav-2 ul li a:hover{color:#F12A2A}
nav.primary-nav-2 ul li a.apply-btn{background:#F12A2A;padding:7px 16px 5px;font-family:nunitosans-Bold!important;font-weight:900!important;color:#fff!important;position:relative;float:left}
nav.primary-nav-2 ul li a.apply-btn::after{border-bottom:5px solid #c52424;content:"";position:absolute;left:0;bottom:0;transition:.5s ease-in-out;width:0}
nav.primary-nav-2 ul li a.apply-btn:hover::after{width:100%}
nav.primary-nav-2 ul li a.apply-btn:hover{color:#fff;box-shadow:0 2px 5px 0 rgba(0,0,0,0.15)}
.header-main nav.primary-nav-2 ul li a.apply-btn{padding:4px 14px 5px;max-width:115px;text-align:center}
.header-main.homeheader nav.primary-nav-2 ul li a.apply-btn{padding:9px 14px 7px;max-width:115px;text-align:center}
header.header-main.homeheader.lighttheme img:nth-child(2){display:none}
header.header-main.homeheader img:first-child{display:none}
header.header-main.homeheader.lighttheme img:first-child{display:block}
header.header-main.homeheader.lighttheme{background:transparent!important;box-shadow:none!important}
section.main-section .homeheader{background:#fff}
.smallheading{width:100%;color:#4E5D64;font-size:24px;font-family:'nunitosans-Light';margin-bottom:20px;line-height:1.4;padding-left:0!important;border:none!important;display:inline-block}
.bodytext{color:#4E5D64;font-size:18px;font-family:'nunitosans';width:100%;margin-bottom:20px}
.text-highlight{font-style:normal;background:#FFEF62;color:#101010;position:relative;padding:3px 2px 2px}
.text-highlight.lightbgbanner{padding:5px}
.text-highlight.half-highlight{padding:0 5px}
.text-highlight.lightbgbanner{background:transparent;display:inline-block}
.text-highlight.lightbgbanner:before{content:'';position:absolute;left:0;right:0;background:#FFEF62;z-index:-1;top:6px;bottom:8px}
.section-boxoutr{float:left;width:100%;text-align:left;margin-bottom:0}
.sec-box{float:left;width:100%;border-radius:3px;display:flex;margin-bottom:7px}
.sec-box i{font-size:22px;color:#F12A2A;margin-right:5px}
.home-banner{width:100%;height:auto;float:left;margin:180px 0 85px;display:flex;justify-content:space-between;align-items:center}
.swiper-video-outer{width:470px;float:right;border:2px solid rgba(255,239,98);-webkit-box-shadow:0 0 10px rgba(0,0,0,1);-moz-box-shadow:0 0 10px rgba(0,0,0,1);box-shadow:0 0 10px rgba(0,0,0,1);-ms-box-shadow:0 0 10px rgba(0,0,0,1);-o-box-shadow:0 0 10px rgba(0,0,0,1)}
.swiper-video{width:100%;float:left;position:relative;overflow:hidden;padding-bottom:56.25%;height:0}
.swiper-video iframe{position:absolute;top:0;left:0;width:100%;height:100%}
div#whatpgp{overflow:hidden}
.sec-box label{color:#101010;font-family:'nunitosans';font-size:16px;margin-bottom:0}
.boldheading-meadium{font-size:42px;font-family:"oswald-bold";color:#4E5D64;display:inline-block;width:auto;text-shadow:0 0 0 #4E5D64;margin-bottom:20px;padding-right:5px;line-height:1.2}
.boldheading-meadium span{background:linear-gradient(0deg,#FFEF62 50%,transparent 50%)}
.slider-left{float:left;width:43%}
.why-slider{float:right;width:100%}
.slider-comb{box-shadow:0 0 6px 0 rgba(0,0,0,0.2);background:#fff;border-radius:3px}
.footer-main{background:#6C6F76;width:100%;float:left}
.footer-outr{width:100%;margin:0 auto!important;margin-top:60px!important;margin-bottom:20px!important}
.footer-bar{background:#4C4F57!important;margin-top:30px}
.footer-bar ul{text-align:center!important}
footer.footer-main .footer-bar li{margin:0}
footer.footer-main .footer-bar li a{font-size:13px!important;opacity:.7}
.footer-bar p{color:#fff!important;font-size:13px!important}
footer.footer-main .footer-bar li a:hover{font-size:13px!important;opacity:1}
footer.footer-main li,footer li a{color:#fff!important}
footer.footer-main li,footer.footer-main li a{font-size:15px!important;font-family:'nunitosans'}
footer.footer-main li:last-of-type,footer.footer-main li:last-of-type a{margin-bottom:0}
.footer-input-outr{width:100%;position:relative}
input.footer-input-apply.footer-input{border-radius:0;font-size:12px;min-height:38px;border:0;outline:0;color:rgba(73,80,87,1)}
input.footer-input-apply.footer-input+.input-group-append button{background:#F12A2A!important;border:none;border-radius:0;color:#fff;text-transform:uppercase;font-size:12px;font-family:'nunitosans-Bold';line-height:14px;padding:13px 16px 11px}
.f-icon{font-size:20px;position:relative;top:4px}
input.footer-input-apply.footer-input+.input-group-append{position:absolute;right:0}
.footer-input.footer-input-apply{padding:0 114px 0 10px;width:100%}
input.footer-input.footer-input-apply::-webkit-input-placeholder{color:rgba(73,80,87,0.7)}
input.footer-input.footer-input-apply:-ms-input-placeholder{color:rgba(73,80,87,0.7)}
ul.footer-menu-link li a{color:rgba(255,255,255,0.7)!important}
ul.footer-menu-link li a:hover{color:rgba(255,255,255,1)!important}
.socialicons{margin:20px 0 0}
.section-1.banner-bg{background:url(../img/banner-image.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;z-index:9;position:relative;margin-top:0;padding-bottom:0;min-height:410px;background-attachment:fixed;background-color:#101010}
.section-1.banner-bg::before{content:"";position:absolute;top:0;background:linear-gradient(180deg,rgba(0,0,0,0.9)10%,transparent 500%);bottom:0;left:0;right:0;z-index:-1}
.section-1{margin-top:100px;padding-bottom:100px;float:left;width:100%}
.home-right{float:left;width:calc(100% - 560px)}
.home-left{float:left;width:100%;font-size:33px;font-family:'nunitosans-Bold';color:#fff;line-height:1.25;letter-spacing:-.6px}
.home-left .text-highlight{font-family:'nunitosans-Bold';text-shadow:1px 0 0 #101010}
.section-managment{padding:100px 0}
.sec-mangleft{float:left;width:100%}
ul.mang-box{float:left;width:100%;margin-top:0;display:flex}
ul.mang-box li{float:left;flex:1;margin-bottom:0;background:#fff;padding:0;text-align:left}
ul.mang-box li i{font-size:18px;color:#4E5D64;float:left;width:100%;opacity:.5}
ul.mang-box li p{font-size:30px;color:#4E5D64;font-family:"oswald-bold";line-height:100%;float:left;width:100%;margin-top:0}
ul.mang-box li span{font-size:14px;color:#4E5D64;font-family:'nunitosans-Light';float:left;width:100%;margin:15px 0}
ul.mang-box li label{font-size:30px;color:#4E5D64;font-family:'oswald-Light';float:left;width:100%;margin:15px 0}
.form-group input{padding:0;width:initial;margin-bottom:0;display:none;cursor:pointer}
.form-group label{position:relative;cursor:pointer;font-size:13px;color:#4E5D64;margin-bottom:0}
.form-group label:before{content:'';-webkit-appearance:none;background-color:transparent;border:1px solid #EDEEF4;padding:7px 8px;display:inline-block;position:relative;vertical-align:middle;cursor:pointer;margin-right:5px;transition:.5s ease-in-out;top:-2px}
.section-master{padding-top:100px;padding-bottom:40px}
.big-boldheading{font-size:110px;font-family:"oswald-bold";color:#4E5D64;display:inline-block;width:100%;text-shadow:1px 1px 0 #4E5D64;line-height:117px}
.big-boldheading .borderheading{display:inline;-webkit-text-stroke-width:1px;-webkit-text-stroke-color:#4E5D64;-webkit-text-fill-color:#fff;text-shadow:0 0 0 #4E5D64}
.master-tabs{float:left;width:100%;position:relative;top:-30px}
.master-tabs ul.nav.nav-tabs{border:none;background:rgba(255,255,255,0.3);box-shadow:0 0 7px 2px rgba(0,0,0,0.05);min-width:384px;padding:8px;border-radius:3px;float:left}
.master-tabs ul.nav.nav-tabs li.nav-item{margin-bottom:0!important;width:50%;text-align:center}
.master-tabs ul.nav.nav-tabs a.nav-link{background:#fff;color:rgba(77,93,100,0.3);font-size:24px;border:none;padding:8px 25px;border-radius:3px;border:none!important}
.master-tabs ul.nav.nav-tabs a.nav-link.active{background:#F12A2A;color:#fff;border:none;opacity:1}
.master-tabs .tab-content{margin-top:30px;float:left;width:100%}
.tab1-list{float:left;width:100%;text-align:left;margin-top:0}
.custom-row{float:left;width:100%;display:flex;flex-wrap:wrap;flex-direction:row}
.tab1-list .tab1-list-items:hover,.tab1-list .tab1-list-items.active{background:#fff;box-shadow:0 0 7px 2px rgba(0,0,0,0.05)}
.tab1-list .tab1-list-items{float:left;width:33.33%;border-radius:5px;margin-top:30px;padding:30px;transition:.5s ease-in-out}
div#tabAdvisors,div#tabPractitioners{display:flex;flex-wrap:wrap}
.tab1-list .tab1-list-items:last-child{margin-right:0}
.tab1-list .tab1-list-items:nth-of-type(1),.tab1-list .tab1-list-items:nth-of-type(2),.tab1-list .tab1-list-items:nth-of-type(3){margin-top:0}
.tab1-list .tab1-list-items img{float:left;width:114px}
.tab1-list .tab1-list-items .leftoutr{float:left;width:100%}
.tab1-list .tab1-list-items .leftoutr h4{float:left;width:100%;font-size:16px;font-family:'nunitosans-Bold';color:#101010}
.tab1-list .tab1-list-items .leftoutr p{float:left;width:100%;font-size:14px;font-family:'nunitosans';color:#737a7d;margin-bottom:15px;min-height:60px;overflow:hidden}
.tab1-list .tab1-list-items a{display:block;float:left;width:100%;height:100%}
.section-urban{padding-top:100px;padding-bottom:100px}
.urban-outr{float:left;width:100%;margin-bottom:95px}
.urban-outr.campusbg{float:left;width:100%;margin-bottom:95px;background:url(https://cdn.mastersunion.org/assets/img/campus.jpg);min-height:760px;background-repeat:no-repeat;background-size:cover}
.urban-map-slider{float:left;width:100%;overflow:hidden}
.section-industry{padding-top:100px;padding-bottom:100px}
.section-industry .big-boldheading{float:left}
.section-industry .big-boldheading .borderheading{display:inline}
.target-outr{float:left;width:100%}
.fellow-outr{float:left;width:100%;z-index:9;position:relative;padding:0;padding-bottom:0}
ul.fellow-box{float:left;width:100%;text-align:left;display:flex;flex-wrap:wrap}
ul.fellow-box li{float:left;width:33%;padding-right:30px;padding-bottom:0;min-height:150px;margin-bottom:50px}
ul.fellow-box li i{float:left;width:auto;color:#4E5D64;font-size:30px}
ul.fellow-box li:nth-child(2) i.material-icons-outlined{transform:rotate(180deg)}
ul.fellow-box li p{float:left;width:100%;font-size:18px;color:#4E5D64;margin:10px 0}
ul.fellow-box li span{float:left;width:100%;font-size:15px;color:#4E5D64}
ul.fellow-box li:nth-last-child(3),ul.fellow-box li:nth-last-child(2),ul.fellow-box li:last-of-type{margin-bottom:0}
.news-box-left span.month{font-size:12px;opacity:.5;margin-top:8px}
.section-news{padding-top:70px;padding-bottom:100px}
.news-left{float:left;width:35%;padding-left:20px}
ul.news-box{float:left;width:100%;display:flex;flex-wrap:wrap}
ul.news-box li{float:left;width:100%;margin-bottom:40px;transition:.5s ease-in-out}
.news-box-left{float:left;width:95px;box-shadow:3px 3px 15px rgba(0,0,0,0.08);padding:12px;border-radius:3px;text-align:left;background:#fff;-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;transition:.5s ease-in-out;-ms-transition:.5s ease-in-out;-o-transition:.5s ease-in-out}
.news-box-left p{color:#4E5D64;font-size:16px;float:left;width:100%;font-family:'nunitosans-bold';-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;transition:.5s ease-in-out;-ms-transition:.5s ease-in-out;-o-transition:.5s ease-in-out}
.news-box-left span{color:#F12A2A;font-size:14px;float:left;width:100%;margin-top:0}
ul.news-box li .news-box-left+p span{float:left;width:100%;font-size:14px;line-height:1.7;color:#B1B8BB}
.news-box-left span:last-child{color:#4E5D64}
.news-box-left+p{width:calc(100% - 95px);padding-left:15px;display:flex;flex-direction:column;color:#4E5D64;font-size:16px;font-family:'nunitosans-bold';align-items:start;min-height:86px;float:none;justify-content:center;line-height:1.3}
ul.news-box li .news-box-left+p{transition:.5s ease-in-out}
ul.news-box li.active .news-box-left+p{opacity:1}
ul.news-box li a:hover .news-box-left+p{opacity:1}
.news-right{float:left;width:65%}
.news-links{float:left;width:calc(50% - 40px);box-shadow:0 0 7px 2px rgba(0,0,0,0.05);margin-right:40px;transition:.5s ease-in-out;margin-bottom:40px}
.news-links:hover{box-shadow:0 0 7px 2px rgba(0,0,0,0.2)}
.news-links .news-links-text{padding:15px}
.news-links .news-links-text p{color:#4E5D64;font-size:18px;margin-bottom:10px;font-family:'nunitosans-Bold';min-height:46px;line-height:1.3;-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;transition:.5s ease-in-out;-ms-transition:.5s ease-in-out;-o-transition:.5s ease-in-out}
.news-links .news-links-text .newslink-time{float:left;width:100%;margin-bottom:5px;margin-top:0}
.news-links .news-links-text .newslink-time span{float:left;width:50%;opacity:.7;color:#4E5D64;font-size:13px}
.news-links .news-links-text .newslink-time span i.material-icons-outlined{position:relative;top:3px;font-size:16px;margin-right:5px}
.news-links .news-links-text .newslink-time+label{margin-bottom:0;font-size:15px;color:#4E5D64;cursor:pointer;float:left;padding-top:5px}
.news-links a img{width:100%}
.admission-box{float:left;width:100%;margin-bottom:10px}
.admission-box>li{float:left;width:22%;min-height:270px;margin-bottom:25px;text-align:left;color:#4E5D64;box-shadow:0 0 7px 2px rgba(0,0,0,0.05);border-radius:3px;margin-right:15px;margin-left:15px;padding:15px}
.admission-box>li img{float:left}
.admission-box>li p{font-size:16px;float:left;width:100%;font-family:'oswald-Bold';text-transform:uppercase;color:#4E5D64;min-height:50px}
.admission-box>li span{font-size:15px;float:left;width:100%;font-family:'nunitosans';color:#4E5D64;padding-top:3px;min-height:90px;margin-bottom:10px}
.admission-box>li a{float:left;width:100%;margin-top:5px;color:#F12A2A;font-size:11px;text-transform:uppercase;font-family:'nunitosans-Bold'}
.admission-box>li a:hover{opacity:.8;color:#F12A2A;text-decoration:underline}
.process-tabs{float:left;width:100%;position:relative}
.process-tabs ul.nav.nav-tabs{border:none;width:100%;padding:0;border-radius:3px;margin:0 auto}
.process-tabs ul.nav.nav-tabs li.nav-item{margin-bottom:0!important;width:24.5%;position:relative}
.process-tabs ul.nav.nav-tabs a.nav-link{background:#fff;color:#4E5D64;font-size:24px;border:none;padding:34px 25px;border-radius:3px;border:none!important;text-align:left}
.process-tabs ul.nav.nav-tabs li.nav-item a{background:#fff;border-radius:3px}
.process-tabs ul.nav.nav-tabs li.nav-item a.nav-link{width:99.5%;min-height:134px;position:relative;padding:15px;border:1px solid #efefef!important;border-radius:3px!important;opacity:1;z-index:111}
.process-tabs ul.nav.nav-tabs li.nav-item a.nav-link.active{z-index:9}
.process-tabs ul.nav.nav-tabs li.nav-item::after{content:"";position:absolute;bottom:-9px;left:46%;width:10px;height:10px;border-top:6px solid #fff;border-right:6px solid transparent;border-left:6px solid transparent;z-index:11}
.process-tabs ul.nav.nav-tabs li.nav-item:first-child a.nav-link::after{display:none}
.process-tabs ul.nav.nav-tabs a.nav-link.active{background:#fff;opacity:1!important;color:#4E5D64;font-size:24px;border:none;box-shadow:0 7px 7px 2px rgba(0,0,0,0.05)}
.process-tabs ul.nav.nav-tabs a.nav-link p{font-size:11px;font-family:'nunitosans-Bold';color:#F12A2A;text-transform:uppercase}
.process-tabs .tab-content{float:left;text-align:left;width:100%;min-height:auto;padding:25px;padding-bottom:0;padding-top:40px}
.classroom-slideOutr{float:left;width:100%;text-align:left;margin-bottom:60px;padding-bottom:60px;border-bottom:1px solid #1010101a;margin-top:60px}
.classroom-slideOutr.no-border{border:none;padding-bottom:0}
ul.bootcamp-box{float:left;width:100%;margin-top:50px;margin-bottom:50px;padding-bottom:60px;border-bottom:1px solid #1010101a}
ul.bootcamp-box li{float:left;width:180px;background:#fff;margin-bottom:0;text-align:left;color:#4E5D64;box-shadow:0 0 7px 2px rgba(0,0,0,0.05);border-radius:3px;padding:10px}
ul.bootcamp-box li:last-of-type{margin-right:0}
ul.bootcamp-box li img{padding:10px;padding-bottom:0}
ul.bootcamp-box li p{font-size:14px;float:left;width:90%;font-family:'nunitosans-Bold';text-transform:uppercase;color:#F12A2A;padding:10px;margin-top:10px;padding-top:20px}
ul.research-box{float:left;width:100%;margin-top:20px}
ul.research-box li{float:left;width:22%;min-height:270px;margin-bottom:25px;text-align:left;transition:.5s ease-in-out;color:#4E5D64;box-shadow:0 0 7px 2px rgba(0,0,0,0.05);border-radius:3px;margin-right:25px;margin-left:0;padding:15px;background:#fff}
.classroom-slideOutr ul.research-box li{min-height:300px}
ul.research-box li:hover{box-shadow:0 0 7px 2px rgba(0,0,0,0.2)}
ul.research-box li p{font-size:16px;float:left;width:100%;font-family:'oswald-Bold';text-transform:uppercase;color:#4E5D64;min-height:50px}
ul.research-box li a{text-transform:none}
.grey-bg{background:#F8F9FD}
span.circle-img{width:102px;height:102px;border-radius:50%;overflow:hidden;float:left;margin-bottom:15px;box-shadow:10px 10px 10px rgba(0,0,0,0.1)}
.tab1-list .tab1-list-items .leftoutr div span{float:left;width:100%;font-size:14px;color:#101010;margin-bottom:0}
.tab1-list .tab1-list-items .leftoutr div{float:left;width:100%}
.admission-box-items{float:left;width:100%;min-height:267px;margin-bottom:20px;text-align:left;color:#4E5D64;box-shadow:0 0 7px 2px rgba(0,0,0,0.1);border-radius:3px;background:linear-gradient(180deg,#F7FCFF 0%,rgba(255,255,255,0) 100%);padding:0;margin-top:8px}
.admission-box-body{float:left;width:100%;padding:20px}
.admission-box-header{float:left;width:100%;padding:10px 20px;background:#fff;border-radius:3px 3px 0 0}
.admission-box-header img{max-height:70px;width:auto!important}
.admission-box-header{float:left;width:100%;padding:10px 20px;background:#fff;border-bottom:1px solid #4E5D6416}
.admission-box-body h6{float:left;width:100%;font-size:16px;color:#4E5D64;font-family:'nunitosans-Bold';margin-bottom:20px;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;word-break:break-word}
a.learn-more,.learn-more{float:left;width:auto;color:#F12A2A;font-size:11px;text-transform:uppercase;font-family:'nunitosans-Bold';margin-top:20px}
a.learn-more:hover,.learn-more:hover{opacity:.8;color:#F12A2A;text-decoration:underline}
.admission-box.industry-boxes.fadeInUp.owl-carousel{margin-top:20px}
.digital-bootcamp ul.bootcamp-box{display:flex;margin:20px 0 0;float:left;width:100%;padding:0!important;border-bottom:0}
.digital-bootcamp{float:left;width:100%;padding:80px 0}
.classroom-slideOutr.no-border.corporate-field{border-top:1px solid #1010101a;padding-top:100px;margin:0!important}
.classroom-slideOutr.no-border.corporate-field .slider-left{width:100%}
.corp-img img{width:100%;height:245px;object-fit:cover}
.corp-img{float:left;width:100%}
.corporate-items.item{float:left;width:100%;background:#FFF;border-radius:3px;margin-top:0;box-shadow:0 2px 7px 2px rgba(0,0,0,0.15);overflow:hidden;height:100%}
.corp-cont{float:left;width:100%;padding:20px;position:relative;min-height:120px}
.corp-cont h5{font-size:16px;margin-bottom:10px;float:left;width:100%;font-family:'nunitosans-Bold'}
.corp-cont p{float:left;width:100%;font-size:15px;font-family:'nunitosans-Light'}
.padd100{padding:100px 0}
.admission-box li span.icons-part{width:66px;height:66px;background:#F12A2A;float:left;display:flex;align-items:center;justify-content:center;border-radius:50%;margin-bottom:20px;min-height:inherit}
.mrbtm20{margin-bottom:20px}
.mysection-business ul.research-box li p{text-transform:none;font-family:'nunitosans-Bold';font-size:16px;line-height:130%;min-height:auto;margin-bottom:20px}
.mysection-business ul.admission-box.research-box li{flex:1;width:auto;padding:25px;margin-bottom:0}
.mysection-business ul.admission-box.research-box li:last-of-type{margin-right:0}
.mysection-business ul.admission-box.research-box{display:flex;justify-content:space-between;margin-top:0}
.grey-bg .big-boldheading .borderheading{-webkit-text-fill-color:#F8F9FD}
form.masterForm{width:100%;float:left;max-width:375px}
.masterForm .form-group label{font-size:12px;line-height:15px;letter-spacing:.06em;text-transform:uppercase;color:#4E5D64;font-family:'nunitosans'}
form.masterForm label:before{display:none}
.masterForm .input-group i{position:absolute;top:1px;z-index:9;padding:20px 15px;font-size:20px;color:#4E5D64}
form.masterForm input{display:block;width:100%!important;float:left;padding:18px 24px;padding-left:45px;border:1px solid rgba(78,93,100,0.1);border-radius:3px;min-height:60px;font-family:'nunitosans'}
form.masterForm input::-webkit-input-placeholder{color:#4E5D64;opacity:.5}
form.masterForm input::-moz-placeholder{color:#4E5D64;opacity:.5}
form.masterForm input:-ms-input-placeholder{color:#4E5D64;opacity:.5}
form.masterForm input:-moz-placeholder{color:#4E5D64;opacity:.5}
form.masterForm .form-group{float:left;width:100%;margin-bottom:15px}
form.masterForm .form-group:last-child{margin-bottom:0}
em.text-highlight.half-highlight{background:linear-gradient(0deg,#FFEF62 50%,transparent 50%)}
.comp-logo{position:absolute;width:76px;height:76px;background:#FFF;box-shadow:0 0 10px rgba(0,0,0,0.08);border-radius:50%;right:20px;top:-56px;overflow:hidden;padding:10px;display:flex;align-items:center}
.comp-logo img{object-fit:initial;width:100%!important}
.startup-block ul.bootcamp-box li{width:200px;padding:15px 20px}
.startup-block ul.bootcamp-box{margin:20px 0 100px;display:flex;padding-bottom:0;border:0;justify-content:space-between}
.startup-block ul.bootcamp-box li p{padding:15px 0 0;width:100%}
.startup-block ul.bootcamp-box li img{padding:0}
.form-group.btn-outer{display:flex;align-items:center;justify-content:center;margin-top:15px}
form.masterForm{display:none}
.show-become{display:block!important;-webkit-animation-name:slideIn;-webkit-animation-duration:4s;animation-name:slideIn;animation-duration:2s}
@-webkit-keyframes slideIn {
from{opacity:0}
to{opacity:1}
}
@keyframes slideIn {
from{opacity:0}
to{opacity:1}
}
.boldheading-meadium span{background:linear-gradient(0deg,#FFEF62 50%,transparent 50%);padding-left:5px;padding-right:5px}
ul.student-clubOutr{float:left;width:100%;display:flex;flex-wrap:wrap}
ul.student-clubOutr li{width:50%;text-align:left;margin-bottom:20px;display:flex;align-items:center}
ul.student-clubOutr li a,ul.student-clubOutr li a:link,ul.student-clubOutr li a:visited{width:100%;height:auto;float:left;display:flex;justify-content:space-between;align-items:center}
ul.student-clubOutr li figure{width:32px;flex-shrink:0;float:left;position:relative;margin:0 10px 0 0;min-height:32px;height:100%}
ul.student-clubOutr li figure img{max-width:100%;height:auto!important;position:absolute;left:0;top:0;bottom:0;right:0;margin:auto;padding:0;-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;transition:.5s ease-in-out;-ms-transition:.5s ease-in-out;-o-transition:.5s ease-in-out}
ul.student-clubOutr li figure img:last-of-type{opacity:0}
ul.student-clubOutr li p{float:left;width:100%;font:18px/21px nunitosans}
ul.student-clubOutr li:hover a{color:#F12A2A}
ul.student-clubOutr li:hover figure img:first-of-type{opacity:0}
ul.student-clubOutr li:hover figure img:last-of-type{opacity:1}
.left-side-box{float:left;width:235px;border:0;padding:0 30px 0 0}
.left-side-box ul.mang-box li span i{float:left;width:auto;margin-right:5px;font-size:20px}
.left-side-box ul.mang-box li span{margin-top:0;font-size:18px}
.left-side-box ul.mang-box li p{color:#101010;font-size:30px}
.new-flex-box{float:left;width:100%;display:flex;margin:65px 0 0}
.right-side-box ul.student-clubOutr li img{height:24px;width:auto!important;float:left}
.new-flex-box h3{float:left;width:100%;font-size:24px;margin:50px 0 30px;color:#101010;font-family:'nunitosans-bold'}
.right-side-box h3:nth-child(4){margin-top:30px}
.new-flex-box h3 span{font-size:16px;color:#4E5D64;opacity:.7;margin-left:5px;font-family:'nunitosans-Light'}
.right-side-box{float:left;width:calc(100% - 235px);margin-top:0;border-left:2px solid #F12A2A;padding-left:30px}
.digital-bootcamp .process-tabs{float:left;width:100%;position:relative}
.digital-bootcamp .process-tabs ul.nav.nav-tabs{border:none;width:100%;padding:0!important;border-radius:3px;margin:0 auto}
.digital-bootcamp .process-tabs ul.nav.nav-tabs li.nav-item{margin-bottom:0!important;min-height:60px;flex:1;position:relative;background:transparent;box-shadow:none;padding:0;margin-right:10px;z-index:1;margin-top:0}
.digital-bootcamp .process-tabs ul.nav.nav-tabs li{margin-right:0}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link{background:#fff;color:#4E5D64;font-size:24px;border:none;padding:34px 25px;border-radius:3px;border:none!important;text-align:left}
.digital-bootcamp .process-tabs ul.nav.nav-tabs li.nav-item a{background:#fff;border-radius:3px}
.digital-bootcamp .process-tabs ul.nav.nav-tabs li.nav-item a.nav-link{display:inline-block;width:99.5%;min-height:134px;position:relative;padding:15px;border:1px solid #efefef!important;border-radius:3px!important;opacity:.8;transition:none!important;padding-bottom:10px;padding-top:10px}
.digital-bootcamp .process-tabs ul.nav.nav-tabs li.nav-item a.nav-link.active{border:none!important;border-radius:0!important}
.digital-bootcamp .process-tabs ul.bootcamp-box li img{padding:10px;padding-bottom:0;transform:scale(0.8)}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active img{transform:scale(1)}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active::before{content:"";position:absolute;top:0;width:100%;left:0;right:0;border-top:5px solid #F12A2A;border-radius:3px 3px 0 0}
.digital-bootcamp .process-tabs ul.nav.nav-tabs li.nav-item::after{content:"";position:absolute;visibility:hidden;bottom:-9px;left:43%;width:10px;height:10px;border-top:6px solid #fff;border-right:6px solid transparent;border-left:6px solid transparent;z-index:999999}
.digital-bootcamp .process-tabs ul.nav.nav-tabs li.nav-item:first-child a.nav-link::after{display:none}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active{min-height:120px!important;padding-bottom:22px!important;background:#fff;opacity:1!important;color:#4E5D64;font-size:24px;border:none;box-shadow:0 7px 7px 2px rgba(0,0,0,0.05)}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link p{font-size:11px;font-family:'nunitosans-Bold';color:#F12A2A;text-transform:uppercase;padding-top:0}
.digital-bootcamp .process-tabs .tab-content{top:0;left:0;float:left;text-align:left;width:100%;min-height:300px;padding:25px;background:#fff;box-shadow:0 7px 7px 2px rgba(0,0,0,0.05);z-index:9;position:relative}
.mb20{margin-bottom:20px!important}
.admissions_popup .modal-body::-webkit-scrollbar:horizontal{height:6px;background-color:rgba(0,0,0,0.2)}
.intelligence-content{float:left;width:calc(100% - 180px);position:relative;padding-left:0}
.intelligence{float:left;width:100%;margin:0 0 30px}
.intelligence:last-child{margin-bottom:0}
.intelligence .heading i{font-size:18px;position:absolute;left:0;top:0}
.intelligence .heading{float:left;width:180px;font-size:13px;text-transform:uppercase;color:#4E5D64;padding-left:25px;position:relative}
ul.intelligence-list li label{float:left;width:100%;font-size:20px;color:#101010;font-family:'nunitosans-Bold';margin-bottom:0}
ul.intelligence-list li{float:left;width:100%;margin:0;position:relative;padding-left:40px;padding-bottom:30px}
ul.intelligence-list li p{font-size:16px;float:left;width:100%}
span.dots i{font-size:17px;color:#ddd}
span.dots{position:absolute;left:0;top:7px;background:#fff;z-index:10;line-height:0}
ul.intelligence-list li:after{content:'';background:#ddd;width:1px;position:absolute;top:0;bottom:0;left:7px}
ul.intelligence-list li:nth-child(1)::after{margin-top:9px}
ul.intelligence-list li:last-child{padding-bottom:0;margin-top:-8px}
ul.intelligence-list li:last-child:after{display:none}
ul.patner li{padding-right:20px}
ul.patner li img{height:30px}
ul.patner{float:left;display:flex;align-items:center;flex-wrap:wrap}
.content-flex-start{justify-content:flex-start}
a.view-more,a.view-more:link,a.view-more:visited{font:11px/13px nunitosans-Bold;color:#F12A2A;text-transform:uppercase;margin-top:0;float:none;display:inline-block;width:auto;margin-bottom:0;padding:16px 55px 15px 35px;overflow:hidden;border:1px solid #F12A2A;position:relative;-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;transition:.5s ease-in-out;-ms-transition:.5s ease-in-out;-o-transition:.5s ease-in-out}
a.view-more i{position:absolute;content:'';right:25px;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;transition:.5s ease-in-out;-ms-transition:.5s ease-in-out;-o-transition:.5s ease-in-out}
.view-more-outer{float:left;width:100%;margin:30px 0 0;text-align:center}
a.view-more:hover{background:#F12A2A;color:#fff;border:1px solid #F12A2A}
a.view-more:hover i{right:20px}
a.view-more.view-less,a.view-more.view-less:link,a.view-more.view-less:visited{padding:16px 35px 15px 55px}
a.view-more.view-less i{left:22px;left:22px;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);width:20px;height:11px;float:left;line-height:10px;position:absolute;top:50%;margin-top:-5.5px}
a.view-more.view-less:hover i{left:18px}
.mb10{margin-bottom:10px!important}
footer li.socialicons a{margin-right:2px}
.section-boxoutr .sec-box:last-of-child{background:#ffc0cb!important}
.mT5{margin-top:5px!important}
.mt90{margin-top:90px}
.section-news .news-left{width:100%;float:left;padding-left:0}
.section-news .news-left ul.news-box li{width:33.33%;padding-right:20px}
.section-news .news-left ul.news-box li:last-child{padding:0;margin-bottom:0!important}
header.header-main.homeheader.lighttheme .hamburger i.material-icons{color:#fff}
.section-news .news-left ul.news-box li:hover p{color:#F12A2A}
.section-news .news-left ul.news-box li:hover .news-box-left{box-shadow:3px 3px 15px rgba(0,0,0,0.15)}
.section-news .news-left ul.news-box li span{font-size:13px;font-family:'nunitosans';color:#4E5D64;opacity:.7;margin-right:10px;margin-top:0}
ul.news-box li .news-box-left+p span{margin-top:8px!important;line-height:normal}
.section-news .news-left ul.news-box li span i{font-size:13px!important;position:relative;top:2px;margin-right:3px!important;transform:rotate(0.03deg)}
ul.bootcamp-box.bootcamp-box{margin:0;border-bottom:0;flex-wrap:wrap;padding-bottom:0;justify-content:flex-start}
ul.bootcamp-box.bootcamp-box li{width:23%;margin:0 20px 20px 0}
ul.bootcamp-box.bootcamp-box li:nth-of-type(4n){margin-right:0}
ul.bootcamp-box.bootcamp-box li img{opacity:.7}
.master-Bindex{color:#101010!important;font-family:'nunitosans-Bold'!important}
ul.fellow-box li:last-child{padding-bottom:0!important}
.msg-error{color:red;width:100%;height:auto;float:left;font-size:13px;margin-top:3px;font-family:'nunitosans'}
.digital-bootcamp .process-tabs.tech-boot-new .nav-tabs{display:none}
.digital-bootcamp .process-tabs.tech-boot-new .tab-content{min-height:auto}
.digital-bootcamp .process-tabs.tech-boot-new .card-body{display:inline-block}
.nuni-bold-head{font-family:'nunitosans-Bold'}
.form-control:focus{border:2px solid rgba(78,93,100,0.5)!important}
.master-tabs ul.nav.nav-tabs.profHideForNow{min-width:auto;display:none}
.master-tabs ul.nav.nav-tabs.profHideForNow li.nav-item{width:100%}
.borderheading.dInline{display:inline}
ul.admi-list{width:100%;height:135px;float:left;overflow:hidden}
ul.admi-list li{width:100%;height:auto;float:left;font-size:15px;font-family:'nunitosans-light';padding-left:13px;position:relative;color:#4E5D64;margin-bottom:20px}
ul.admi-list li:before{width:5px;height:5px;position:absolute;content:'';left:0;top:7px;background:#4E5D64;overflow:hidden;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%}
ul.admi-list li:last-of-type{margin-bottom:0}
.hauto{min-height:auto!important}
.section-unique-industry.padd100 .corporate-field{padding-top:0}
.section-unique-industry.padd100 .classroom-slideOutr.no-border.corporate-field.pt0{padding-top:0!important}
.section-unique-industry.padd100 section.section.startup-block.block.pt-90{padding-top:90px}
.section-unique-industry.padd100 .classroom-slideOutr.no-border.corporate-field.pt-90{padding-top:90px}
.section-unique-industry .corporate-field ul.bootcamp-box.bootcamp-box li{width:18%;margin:0 25px 10px 0;min-height:185px}
.section-unique-industry .corporate-field ul.bootcamp-box.bootcamp-box li:last-child{margin:0}
.section-unique-industry .corporate-field ul.bootcamp-box.bootcamp-box{margin-top:20px}
.section-unique-industry .corporate-field p.smallheading2.mt20.iconbox-heading{float:left;width:100%;color:#4E5D64;font-size:18px;font-family:'nunitosans';width:100%}
.ourmasters-readmoreOutr .tab1-list .tab1-list-items{display:none}
.ourmasters-readmoreOutr .tab1-list .tab1-list-items:nth-child(1){display:block}
.cover-outer{width:100%;height:auto;float:left}
.DownloadBrochureOuter,.float-enquire-form-outer{width:0;height:100%;float:left;position:fixed;z-index:1000;right:0;top:0}
.deadline-text{width:100%;height:auto;float:left;font:10px/12px nunitosans;color:#fff;text-transform:none;text-align:center;margin-top:1px;white-space:nowrap;white-space:nowrap}
a.floatDownloadBrochure,a.floatDownloadBrochure:link,a.floatDownloadBrochure:visited{width:auto;float:left;text-align:center;letter-spacing:.02em;color:#F12A2A;text-transform:capitalize!important}
.header-main.homeheader.lighttheme a.floatDownloadBrochure{color:#FFEF62!important}
.header-main.homeheader a.floatDownloadBrochure{color:#F12A2A!important}
a.floatDownloadBrochure:hover,a.floatDownloadBrochure:focus{text-decoration:underline}
.DownloadBrochureForm,.float-enquire-form{width:350px;height:auto;float:left;padding:30px 30px 10px;background:#fff;-webkit-box-shadow:0 10px 30px rgba(0,0,0,0.15);-moz-box-shadow:0 10px 30px rgba(0,0,0,0.15);box-shadow:0 10px 30px rgba(0,0,0,0.15);-ms-box-shadow:0 10px 30px rgba(0,0,0,0.15);-o-box-shadow:0 10px 30px rgba(0,0,0,0.15);position:absolute;right:-370px;z-index:11;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%)}
.DownloadBrochureForm.masterFormOur,.float-enquire-form.masterFormOur{width:330px;padding:30px}
.DownloadBrochureForm.active,.float-enquire-form.active{right:0}
.DownloadBrochureForm .closeBrochure,.float-enquire-form .close-enquire-Form{position:absolute;right:15px;top:15px;color:rgba(0,0,0,0.54);opacity:.7;cursor:pointer}
form.masterForm.DownloadBrochureForm input,form.masterForm.DownloadBrochureForm textarea,form.masterForm.float-enquire-form input,form.masterForm.float-enquire-form textarea{padding:10px 15px 10px 42px;min-height:46px;font:16px/22px nunitosans;color:#4E5D64;border:1px solid rgba(78,93,100,0.2)}
form.masterForm.DownloadBrochureForm .form-control:focus,form.masterForm.float-enquire-form .form-control:focus{border:1px solid rgba(78,93,100,0.5)!important}
form.masterForm.DownloadBrochureForm .form-group.btn-outer,form.masterForm.float-enquire-form .form-group.btn-outer{margin-top:5px}
.masterForm.DownloadBrochureForm .input-group i,.masterForm.float-enquire-form .input-group i{padding:12px}
form.masterForm.DownloadBrochureForm .form-group label,form.masterForm.float-enquire-form .form-group label{font:11px/15px nunitosans;letter-spacing:.06em;text-transform:uppercase;color:#4E5D64}
em.inc-intership-text{height:auto;display:inline-block;font:12px/14px nunitosans-Light;letter-spacing:-.02em;color:#4E5D64;opacity:.7;margin-left:3px}
.left-side-box.shadow-left{width:300px}
.left-side-box.shadow-left+.right-side-box.d-flex{width:calc(100% - 300px)}
em.inc-intership-text{height:auto;display:inline-block;font:12px/14px nunitosans-Light;letter-spacing:-.02em;color:#4E5D64;opacity:.7;margin-left:3px}
.left-side-box.shadow-left{width:300px}
.left-side-box.shadow-left+.right-side-box.d-flex{width:calc(100% - 300px)}
.left-side-box.shadow-left ul.mang-box li label{margin:0}
.thanku-section{padding:20px 0}
.footerThankuMsg{width:100%;height:auto;float:left;color:#fff;font:16px/21px nunitosans;margin:0 0 10px}
.shadow-icon-outer{width:100%;height:auto;float:left;display:flex;justify-content:space-between;align-items:center}
.shadow-icon-outer figure{margin:0}
a.DownloadBrochureBtn,a.DownloadBrochureBtn:link,a.DownloadBrochureBtn:visited,.downloadBrochureBtnform{min-width:300px;float:left;background:#F12A2A;padding:18px 20px;-webkit-box-shadow:10px 10px 20px rgba(0,0,0,0.08);-moz-box-shadow:10px 10px 20px rgba(0,0,0,0.08);box-shadow:10px 10px 20px rgba(0,0,0,0.08);-ms-box-shadow:10px 10px 20px rgba(0,0,0,0.08);-o-box-shadow:10px 10px 20px rgba(0,0,0,0.08);font:18px/21px nunitosans-Bold;text-align:center;letter-spacing:.06em;text-transform:uppercase;color:#fff;position:relative}
a.floatDownloadBrochure.DownloadBrochureBtn{text-transform:uppercase!important}
a.DownloadBrochureBtn:after,.downloadBrochureBtnform:after{border-bottom:5px solid #c52424;content:"";position:absolute;left:0;bottom:0;transition:.5s ease-in-out;width:0}
a.DownloadBrochureBtn:hover:after,.downloadBrochureBtnform:hover:after{width:100%}
.floatDownloadBrochure.DownloadBrochureBtn:hover,.floatDownloadBrochure.DownloadBrochureBtn:focus{text-decoration:none}
.downloadBrochureBtnform{border:0;outline:0;width:100%;min-width:100%;padding:15px;font:14px/16px nunitosans-Bold;text-align:center;letter-spacing:.06em;text-transform:uppercase;color:#fff}
a.DownloadBrochureBtn.applyDeadline{padding:10px 20px}
.transitionEffect{-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;transition:.5s ease-in-out;-ms-transition:.5s ease-in-out;-o-transition:.5s ease-in-out}
.noImgMasterOuter{float:left;margin-top:40px;padding-top:80px;border-top:1px solid #C4C4C4;width:100%}
.noImgMasterOuter .circle-img{display:none}
.noImgMasterOuter .leftoutr{position:relative}
.noImgMasterOuter .leftoutr:before{width:2px;height:100%;background:#F12A2A;content:'';position:absolute;left:-12px;top:0;-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;transition:.5s ease-in-out;-ms-transition:.5s ease-in-out;-o-transition:.5s ease-in-out}
.noImgMasterOuter .tab1-list-items.active .leftoutr:before,.noImgMasterOuter .tab1-list-items:hover .leftoutr:before{background:#fff!important}
.shadow-main.new-flex-box{margin:35px 0 0}
.classroom-slideOutr.no-border.corporate-field.mt80{margin-top:80px!important}
.ourmasters-readmoreOutr.showAllMaster .tab1-list .tab1-list-items{display:block}
.mt40{margin-top:40px!important}
.usp-section{display:flex}
.usp-list{width:100%;height:auto;float:left;background:#fff;-webkit-box-shadow:0 0 10px rgba(0,0,0,0.1);-moz-box-shadow:0 0 10px rgba(0,0,0,0.1);box-shadow:0 0 10px rgba(0,0,0,0.1);-ms-box-shadow:0 0 10px rgba(0,0,0,0.1);-o-box-shadow:0 0 10px rgba(0,0,0,0.1);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;margin-right:20px;padding:30px 30px 65px;position:relative}
.usp-list:hover{-webkit-box-shadow:0 10px 30px rgba(0,0,0,0.12);-moz-box-shadow:0 10px 30px rgba(0,0,0,0.12);box-shadow:0 10px 30px rgba(0,0,0,0.12);-ms-box-shadow:0 10px 30px rgba(0,0,0,0.12);-o-box-shadow:0 10px 30px rgba(0,0,0,0.12)}
.usp-list:nth-of-type(3n){margin:0}
a.usp-list .learn-more{position:absolute;bottom:30px;margin:0;left:30px}
ul.usp-list-text li{font:15px/21px nunitosans;position:relative;color:#4E5D64;margin-bottom:10px;padding:0 0 0 13px;float:left}
ul.usp-list-text li:before{position:absolute;width:5px;height:5px;content:'';background:#4E5D64;opacity:.7;left:0;top:7px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;overflow:hidden}
ul.usp-list-text li:last-of-type{margin-bottom:0}
.busHeading{width:100%;float:left;font:30px/36px oswald-Bold;letter-spacing:-.02em;color:#4E5D64}
.mb10{margin-bottom:10px!important}
.mb20{margin-bottom:20px!important}
.pgp-main ul.mang-box li{background:transparent}
.sidebar-outer{width:auto;height:auto;position:fixed;right:-1px;top:49%;z-index:10;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);-webkit-box-shadow:0 0 10px rgba(0,0,0,0.05);-moz-box-shadow:0 0 10px rgba(0,0,0,0.05);box-shadow:0 0 10px rgba(0,0,0,0.05);-ms-box-shadow:0 0 10px rgba(0,0,0,0.05);-o-box-shadow:0 0 10px rgba(0,0,0,0.05)}
ul.sidebar-list{width:auto;float:left;max-width:50px}
ul.sidebar-list li{width:100%;height:auto;float:left;-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;transition:.5s ease-in-out;-ms-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;position:relative}
ul.sidebar-list li figure{width:50px;height:50px;float:right;margin:0;padding:0;background:#fff;cursor:pointer;display:flex;justify-content:center;align-items:center;position:relative}
ul.sidebar-list li a,ul.sidebar-list li a:link,ul.sidebar-list li a:visited{width:0;height:50px;float:left;font:14px/19px nunito_sanssemibold;color:#101010;display:flex;align-items:center;background:#fff;position:absolute;right:-50px;text-align:right;-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;transition:.5s ease-in-out;-ms-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;white-space:nowrap;padding:5px 10px 5px 30px}
ul.sidebar-list li:hover a{width:180px;border-left:2px solid #F12A2A;right:50px;-webkit-box-shadow:0 0 10px rgba(0,0,0,0.05);-moz-box-shadow:0 0 10px rgba(0,0,0,0.05);box-shadow:0 0 10px rgba(0,0,0,0.05);-ms-box-shadow:0 0 10px rgba(0,0,0,0.05);-o-box-shadow:0 0 10px rgba(0,0,0,0.05)}
ul.sidebar-list li figure img:first-of-type{display:block}
ul.sidebar-list li figure img:last-of-type{display:none}
ul.sidebar-list li:hover figure img:first-of-type{display:none}
ul.sidebar-list li:hover figure img:last-of-type{display:block}
ul.sidebar-list li figure span{color:#878787}
ul.sidebar-list li:hover figure span{color:#F12A2A}
.urban-map-slider{float:left;width:100%;overflow:hidden}
.urban-map-slider p{float:left;font-size:24px;color:#4E5D64;margin-bottom:10px}
.urban-map-slider.swiper-container-3d .swiper-slide img{filter:none;opacity:1}
.urban-map-slider.swiper-container-3d .swiper-slide{position:relative;width:203px;background:none!important;box-shadow:none!important;transform-style:unset!important}
.urban-map-slider.swiper-container-3d .swiper-slide .gallery-carousel-content{width:100%;height:100%;left:0;right:0;margin:0;top:0}
.urban-map-slider.swiper-container-3d .swiper-slide .gallery-carousel-content a{width:100%;height:100%}
.urban-map-slider.swiper-container-3d .swiper-slide img{transition:.5s ease-in-out}
.urban-map-slider.swiper-container-3d .swiper-slide.swiper-slide-active img{transition:.5s ease-in-out;box-shadow:none!important}
.owl-nav button{display:inline-block;align-items:center;margin:0 10px;float:none}
.owl-prev i{transform:rotate(180deg);margin:0 5px}
.owl-nav button span i{position:relative;top:8px}
.owl-nav{text-align:center;margin-top:15px;float:left;width:100%}
.owl-nav button span{font-size:12px!important;text-transform:uppercase;font-family:'nunitosans-Bold'}
button.owl-prev.disabled,button.owl-next.disabled{opacity:0}
.owl-nav button:hover span{color:#F12A2A}
.owl-carousel1 .owl-nav button.owl-prev.disabled,.owl-carousel1 .owl-nav button.owl-next.disabled{display:none}
.owl-carousel1 .owl-nav button.owl-next,.owl-carousel1 .owl-nav button.owl-prev,.owl-carousel1 button.owl-dot{background:0 0;border:none;padding:0!important;font:inherit;color:#F12A2A}
.admission-box.industry-boxes .owl-nav,.classroom-slideOutr .owl-nav{position:absolute;top:calc(50% - 40px)}
.admission-box.industry-boxes .owl-nav button.owl-prev,.classroom-slideOutr .owl-nav button.owl-prev{position:absolute;left:-80px}
.admission-box.industry-boxes .owl-nav button.owl-next,.classroom-slideOutr .owl-nav button.owl-next{position:absolute;right:-80px}
.admission-box.industry-boxes .owl-nav button span,.classroom-slideOutr .owl-nav button span{font-size:0!important}
.main-section.sticky .cc-container{min-height:inherit}
section.main-section.sticky header.header-main .cc-container a img{max-width:195px}
section.main-section.sticky header.header-main .cc-container a.logo{top:0;margin-top:0}
section.main-section.sticky header.header-main{min-height:65px;box-shadow:0 2px 5px 0 rgba(0,0,0,0.15);background:#fff;transition:.5s ease-in-out}
section.main-section.sticky nav.primary-nav{opacity:0;pointer-events:none}
section.main-section.sticky nav.primary-nav-2{padding-top:0;
    /* top:-15px */
}
section.main-section.sticky .menu-program{padding:0}
section.main-section.sticky nav.primary-nav-2 ul li{margin-right:10px}
section.main-section.sticky nav.primary-nav-2 ul li a{font-size:14px;line-height:16px}
section.main-section.sticky nav.primary-nav-2 ul li a.apply-btn{padding:6px 14px 5px;font-size:12px;max-width:115px;text-align:center}
section.main-section.sticky section.breadcrum-fixed{margin-top:0;box-shadow:0 2px 5px 0 rgba(0,0,0,0.15);min-height:45px}
.ourmasters-readmoreOutr .tab1-list .tab1-list-items{display:none}
.ourmasters-readmoreOutr .tab1-list.view .tab1-list-items{display:block}
.ourmasters-readmoreOutr .tab1-list .tab1-list-items:nth-child(1),.ourmasters-readmoreOutr .tab1-list .tab1-list-items:nth-child(2),.ourmasters-readmoreOutr .tab1-list .tab1-list-items:nth-child(3),.ourmasters-readmoreOutr .tab1-list .tab1-list-items:nth-child(4),.ourmasters-readmoreOutr .tab1-list .tab1-list-items:nth-child(5),.ourmasters-readmoreOutr .tab1-list .tab1-list-items:nth-child(6){display:block}
.ourmasters-readmoreOutr .masters-box{display:none}
.ourmasters-readmoreOutr .masters-box:nth-child(1),.ourmasters-readmoreOutr .masters-box:nth-child(2),.ourmasters-readmoreOutr .masters-box:nth-child(3),.ourmasters-readmoreOutr .masters-box:nth-child(4),.ourmasters-readmoreOutr .masters-box:nth-child(5),.ourmasters-readmoreOutr .masters-box:nth-child(6){display:block}
.ourmasters-readmoreOutr .masters-box.view{display:block}
.owl-carousel.shadow-view .owl-item{border:10px solid transparent}
.admission-box a.learn-more{text-transform:uppercase}
ul.footer-address li:last-of-type{margin-top:25px;margin-bottom:15px}
#emailValidationFooter.msg-error{color:#fff}
.corporate-list.owl-carousel .owl-dots{display:none}
.process-tabs .tab-content ul.process-tabs-list>li,.digital-bootcamp .process-tabs .tab-content ul.process-tabs-list>li,ul.process-tabs-list>li{float:left;width:100%;font-size:18px;color:#4E5D64;padding-top:5px;padding-left:80px;padding-bottom:30px;position:relative}
ul.process-tabs-list>li:last-of-type{padding-bottom:0!important}
ul.process-tabs-list>li a.career-apply-link,ul.process-tabs-list>li a.career-apply-link:link,ul.process-tabs-list>li a.career-apply-link:visited{float:none;display:inline-block;text-transform:inherit;margin-left:5px;position:relative;top:-1px}
.process-tabs .tab-content ul.process-tabs-list li:first-child,.digital-bootcamp .process-tabs .tab-content ul.process-tabs-list li:first-child,ul.process-tabs-list li:first-child{margin-top:15px}
.process-tabs .tab-content ul.process-tabs-list li:first-child::after,.digital-bootcamp .process-tabs .tab-content ul.process-tabs-list li:first-child::after,ul.process-tabs-list li:first-child::after{top:6px}
.process-tabs .tab-content ul.process-tabs-list li::after,.digital-bootcamp .process-tabs .tab-content ul.process-tabs-list li::after,ul.process-tabs-list li::after{content:"";position:absolute;top:0;border-left:1px solid #ddd;left:47px;bottom:0;z-index:-1}
.process-tabs .tab-content ul.process-tabs-list li i.material-icons,ul.process-tabs-list li i.material-icons{background:#fff;border:1px solid #ddd;border-radius:50%;padding:5px;color:#F12A2A;position:absolute;top:0;left:30px;margin-right:10px}
.process-tabs .tab-content ul.process-tabs-list li ul,.digital-bootcamp .process-tabs .tab-content ul.process-tabs-list li ul,ul.process-tabs-list li ul{float:left;width:100%}
.process-tabs .tab-content ul.process-tabs-list li ul li,.digital-bootcamp .process-tabs .tab-content ul.process-tabs-list li ul li ul.process-tabs-list li ul li{list-style:disc;list-style-position:inside;padding-left:0;margin-bottom:0;padding-bottom:0;padding-top:0;margin-left:43px;margin-top:10px;width:calc(100% - 43px)}
.process-tabs .tab-content ul.process-tabs-list li ul li{list-style-position:inherit}
.process-tabs .tab-content ul.process-tabs-list li ul li::after,.process-tabs .tab-content ul.process-tabs-list li:last-child::after,ul.process-tabs-list li:last-child::after{display:none}
#dvProjects .owl-dots{display:none}
.sec-box.scholar-box i{font-size:12px;line-height:17px}
.sec-box.scholar-box label{font-size:12px}
.event-topBar{width:100%;height:40px;float:left;color:#F8F9FD;background:#4E5D64;font:14px/16px nunitosans;position:fixed;top:0;left:0;z-index:99;display:flex;justify-content:center;align-items:center;padding:0 25px 0 20px}
.event-topBar a,.event-topBar a:link,.event-topBar a:visited{text-decoration:underline;color:#FFEF62;font:14px/16px nunitosans;display:contents}
.event-topBar a:hover{text-decoration:none}
.event-topBar span{position:absolute;top:50%;right:5px;font-size:13px;font-weight:600;-webkit-transform:translateY(-51%);-moz-transform:translateY(-51%);transform:translateY(-51%);-ms-transform:translateY(-51%);-o-transform:translateY(-51%);cursor:pointer}
.main-section.topBarActive{margin-top:40px}
.main-section.topBarActive .topbar-menu{top:39px}
.main-section.topBarActive .section-Bmenu,.main-section.topBarActive .section.careers-sectionss{margin-top:155px}
.main-section.topBarActive .section-what.student-bg.mt115{margin-top:155px!important}
.main-section.topBarActive .section-what.concent-section{margin-top:198px}
.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.swiper-slide{-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative;width:360px}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{font-family:'nunitosans';font-weight:400;font-size:16px;line-height:1.5;color:#4E5D64;background:#fff}
h1,h3,h4,h5,h6{font-family:"Now";margin:0;color:#4E5D64;line-height:1.5}
h1{font-size:40px}
h3{font-size:20px;font-weight:500}
h4{font-family:"Segoe UI";font-size:16px;font-weight:400}
h5{font-size:13px}
h6{font-size:12px}
p{margin:0}
ul{margin:0;padding:0}
ul li{list-style:none}
a,a:after,a:before{color:#4E5D64;transition:all .4s ease-in-out}
a,a:visited,a:focus,a:active,a:hover{text-decoration:none;outline:none}
img{max-width:100%;height:auto}
.form-control:focus,input:focus,button:focus{box-shadow:none;outline:none}
.mt80{margin-top:80px}
.mt50{margin-top:50px!important}
.mt40{margin-top:40px!important}
.mt30{margin-top:30px}
.mt20{margin-top:20px}
.mb20{margin-bottom:20px}
.mb0{margin-bottom:0}
.mt10{margin-top:10px}
.mt100{margin-top:100px}
.mb10{margin-bottom:10px}
.pb70{padding-bottom:70px}
.pb60{padding-bottom:60px}
.pb40{padding-bottom:40px}
.pb30{padding-bottom:30px}
.pb20{padding-bottom:20px}
.pb10{padding-bottom:10px}
.bxw2{box-shadow:0 0 20px 0 rgba(16,26,36,0.55)}
#preloader{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#f7f7f7;z-index:999999}
.preloader{width:100%;height:100%;display:flex;padding:0;text-align:left;box-sizing:border-box;position:absolute;justify-content:center;align-items:center}
.preloader img{width:300px}
#toTop{position:fixed;bottom:90px;right:30px;z-index:99;background:#FFEF62;padding:8px 12px;color:#333;cursor:pointer;display:none;display:flex!important;justify-content:center;align-items:center}
@media only screen and (max-width: 768px) {
#toTop{right:15px;bottom:75px}
}
.gallery-carousel-content{position:absolute;top:50%;left:50%;text-align:center;z-index:1;width:320px;height:160px;margin-left:-160px;margin-top:-70px;opacity:0;transition:all .4s ease-in-out}
.gallery-carousel-content a{color:#fff;width:80px;height:80px;background:#ffffff7a;display:inline-block;border-radius:50px;line-height:80px;font-size:25px}
.gallery-carousel-content a:hover{background:#fff;color:#ffbc13cf}
footer{background:#192735;position:relative;overflow:hidden;z-index:1}
footer:after{position:absolute;right:-145px;bottom:-38px;z-index:-1;opacity:.5}
footer li,footer li a{color:#a3b5ca}
footer li{margin-bottom:10px;font-size:14px}
footer li i{margin-right:5px}
footer li:hover a{color:#ffbc13}
footer li a{margin-bottom:5px;display:inline-block}
.footer-bar{background:#15222e;padding:15px}
.footer-bar li{display:inline-block;margin:0;margin-left:35px}
.footer-bar p{color:#a3b5ca}
.footer-bar a{margin:0}
.footer-bar ul{text-align:right}
.footer-bar li:first-child{margin-left:0}
.footer-bar li:hover a{margin-left:0}
.footer-bar p{color:#a3b5ca;font-size:14px}
.footer-bar a{margin:0}
.footer-bar ul{text-align:right}
.footer-bar li:first-child{margin-left:0}
.footer-bar li:hover a{margin-left:0}
@media only screen and (max-width: 768px) {
.footer-bar{text-align:center}
.footer-bar ul{padding:0;margin-top:20px;text-align:center}
.footer-bar li{margin-left:25px}
#toTop{right:18px;bottom:140px;width:32px;height:28px}
}
.wrapper{max-width:680px;margin:60px auto;padding:0 20px}
.video-wrap{background-color:#000;position:relative;padding-top:56.25%;overflow:hidden;cursor:pointer}
.video-wrap img{width:100%;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%)}
.video-wrap .play-button{z-index:1;border-radius:50%;width:78px;height:78px;background:rgba(255,239,98,0.7);opacity:1;box-shadow:0 4px 20px rgba(0,0,0,0.25)}
.video-wrap .play-button:before{content:"";border-style:solid;border-width:15px 0 15px 26px;border-color:transparent transparent transparent #fff;left:53%!important;border-width:15px 0 15px 20px}
.video-wrap img,.video-wrap .play-button{cursor:pointer}
.video-wrap img,.video-wrap iframe,.video-wrap .play-button,.video-wrap .play-button:before{position:absolute}
.video-wrap .play-button,.video-wrap .play-button:before{top:50%;left:50%;transform:translate3d(-50%,-50%,0)}
.video-wrap iframe{height:100%;width:100%;top:0;left:0}
.event-list-outer{display:flex;flex-wrap:wrap}
a.event-list,a.event-list:link,a.event-list:visited,.event-list{max-width:31%;height:auto;float:left;margin:50px 3% 0 0;cursor:pointer;padding:20px;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px}
a.event-list:nth-of-type(1),a.event-list:nth-of-type(2),a.event-list:nth-of-type(3),.event-list:nth-of-type(1),.event-list:nth-of-type(2),.event-list:nth-of-type(3){margin-top:0}
a.event-list:nth-of-type(3n),.event-list:nth-of-type(3n){margin-right:0}
a.event-list figure,.event-list figure{width:98px;height:91px;float:left;background:#555;margin:0;padding:0;background:#fff;overflow:hidden;-webkit-box-shadow:3px 3px 15px rgba(0,0,0,0.15);-moz-box-shadow:3px 3px 15px rgba(0,0,0,0.15);box-shadow:3px 3px 15px rgba(0,0,0,0.15);-ms-box-shadow:3px 3px 15px rgba(0,0,0,0.15);-o-box-shadow:3px 3px 15px rgba(0,0,0,0.15);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-filter:grayscale(100%);filter:grayscale(100%)}
.event-list-content{width:calc(100% - 113px);height:auto;float:right}
.event-list-content h3{width:100%;height:auto;float:left;font:16px/19px nunitosans-Bold;color:#101010;-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;transition:.5s ease-in-out;-ms-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.event-list-content h5{width:auto;height:auto;float:left;font:13px/17px nunitosans-Bold;letter-spacing:-.02em;color:#101010;padding:1px 3px 0;background:#FFEF62;margin-top:5px}
.event-list-content p{width:100%;height:auto;float:left;font:12px/16px nunitosans;letter-spacing:.02em;color:#4E5D64;margin:5px 0;overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}
.event-list-content span{width:100%;height:auto;float:left;font:12px/16px nunitosans;color:#4E5D64;margin-bottom:5px}
.event-list-content span:last-of-type{margin:0}
.event-list-content span i{font-size:14px;float:left;margin-right:5px}
a.event-list:hover .event-list-content h3,.event-list:hover .event-list-content h3{color:#F12A2A}
a.event-watch-btn,a.event-watch-btn:link,a.event-watch-btn:visited{width:auto;height:auto;float:left;color:#F12A2A;font:11px/14px nunitosans-Bold;letter-spacing:.08em;text-transform:uppercase;position:relative;padding:0 0 0 20px;margin-top:5px}
a.event-watch-btn:after{position:absolute;content:'\e038';top:50%;left:0;font-family:'Material Icons';font-size:15px;color:#F12A2A;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%)}
a.event-reg-btn,a.event-reg-btn:link,a.event-reg-btn:visited{width:auto;height:auto;float:left;color:#F12A2A;font:11px/14px nunitosans-Bold;letter-spacing:.08em;text-transform:uppercase;position:relative;margin-top:8px;padding:0;overflow:hidden}
.event-list.active,.event-list:hover{background:#fff;-webkit-box-shadow:0 0 7px 2px rgba(0,0,0,0.05);-moz-box-shadow:0 0 7px 2px rgba(0,0,0,0.05);box-shadow:0 0 7px 2px rgba(0,0,0,0.05);-ms-box-shadow:0 0 7px 2px rgba(0,0,0,0.05);-o-box-shadow:0 0 7px 2px rgba(0,0,0,0.05)}
.watch-outer{width:100%;height:auto;float:left;margin-top:53px}
#carouselWatch{width:100%;height:auto;float:left}
.watch-master-outer{width:100%;height:auto;float:left;padding:15px;background:#fff;display:flex;justify-content:space-between;align-items:center;border:1px solid rgba(78,93,100,0.1);-webkit-box-shadow:0 4px 20px rgba(0,0,0,0.05);-moz-box-shadow:0 4px 20px rgba(0,0,0,0.05);box-shadow:0 4px 20px rgba(0,0,0,0.05);-ms-box-shadow:0 4px 20px rgba(0,0,0,0.05);-o-box-shadow:0 4px 20px rgba(0,0,0,0.05)}
.watch-left{width:auto;height:auto;float:left;display:flex;align-items:center;margin-right:10px}
.watch-left figure{width:48px;height:auto;float:left;margin:0 10px 0 0;background:#f2f2f2;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;overflow:hidden;-webkit-filter:grayscale(100%);filter:grayscale(100%)}
.watch-left-content{width:auto;height:auto;float:left;max-width:190px}
.watch-left-content h5{width:auto;height:auto;float:left;font:16px/22px nunitosans-Bold;color:#101010;background:#FFEF62;padding:0 4px}
.watch-left-content span{width:100%;height:auto;float:left;font:16px/22px nunitosans;color:#4E5D64}
.watch-right{width:auto;height:auto;float:left;margin-left:10px}
a.watch-now-btn,a.watch-now-btn:link,a.watch-now-btn:visited{width:auto;height:auto;float:right;background:#F12A2A;padding:11px 50px 9px 15px;font:14px/16px nunitosans-Bold;letter-spacing:.02em;text-transform:uppercase;color:#fff;position:relative;white-space:nowrap}
a.watch-now-btn:after{position:absolute;content:'\e038';top:50%;right:15px;font-family:'Material Icons';font-size:20px;color:#fff;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%)}
.watch-center{width:auto;height:auto;float:left}
.watch-center span{max-width:100%;height:auto;font:12px/16px nunitosans-Bold;letter-spacing:.04em;text-transform:uppercase;color:#F12A2A;margin-bottom:5px;display:block}
.watch-center h3{max-width:100%;height:auto;display:block;font:22px/29px oswald-Bold;letter-spacing:-.02em;color:#4E5D64}
#carouselWatch{overflow:hidden}
.carousel-indicators.watchIndicators li{margin:0;background-color:rgba(78,93,100,0.5);opacity:1;margin-right:5px;width:5px;height:5px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%}
.carousel-indicators.watchIndicators li.active{background-color:#F12A2A}
.carousel-indicators.watchIndicators{margin:0}
.carousel-indicators.watchIndicators li:last-of-type{margin:0}
.news-links.event-links-section{float:left;width:100%;-webkit-box-shadow:0 0 7px 2px rgba(0,0,0,0.0);-moz-box-shadow:0 0 7px 2px rgba(0,0,0,0.0);box-shadow:0 0 7px 2px rgba(0,0,0,0.0);-ms-box-shadow:0 0 7px 2px rgba(0,0,0,0.0);-o-box-shadow:0 0 7px 2px rgba(0,0,0,0.0);transition:.5s ease-in-out;margin:0}
.news-links .news-links-text .newslink-time span:first-of-type{width:44%}
.news-links .news-links-text .newslink-time span:last-of-type{width:56%}
.news-links.event-links-section .cover-outer.news-links-text{background-color:#fff}
#homeEvent .owl-dots{display:none}
#homeEvent.admission-box{margin-bottom:0}
.news-links.event-links-section figure{width:100%;height:auto;float:left;overflow:hidden;margin:0;position:relative;padding-top:56.25%}
.news-links.event-links-section figure img{width:100%;position:absolute;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%)}
#homeEvent .owl-stage{padding-bottom:10px;display:flex}
#homeEvent .owl-item{display:flex}
#homeEvent .admission-box-items{margin-bottom:0;background:#fff}
#whypgp .swiper-button-prev,#whypgp .swiper-button-next{background:none!important}
#whypgp i{font-size:40px}
#whypgp .swiper-button-prev{left:-17px}
#whypgp .swiper-button-next{right:-6px}
#whypgp .swiper-button-next i{transform:rotate(180deg)}
.swiper-button-next,.swiper-button-prev{top:67%}
.swiper-container-lightbox ul.swiper-wrapper{list-style-type:none;margin:0;padding:0}
.swiper-container-lightbox{max-width:100%;overflow:hidden}
.swiper-container-lightbox img{width:100%;height:auto}
.swiper-container-lightbox .swiper-slide{width:80%}
.pswp__button--arrow--left{left:10%!important}
.pswp__button--arrow--right{right:10%!important}
.container-fluid.colm-class-outer{padding:0}
.colm-class-outer .slider-for-company{display:flex;flex-direction:column;justify-content:space-between}
.colm-5{display:inline-block;width:19%}
.c-2021-list-txt{display:flex;flex-wrap:wrap;justify-content:space-between}
.c-2021-list-txt p{font:16px/18px nunitosans;color:#4e5d64;margin-bottom:10px;min-height:35px;text-transform:uppercase}
.c-2021-list-txt p:last-child{margin-bottom:0;min-height:auto}
.slider-for-company.collaborative-section{margin-top:30px;height:calc(100% - 30px)}
.slider-for-company.collaborative-section figure{padding:0;margin:0;padding:0;margin:0 0 10px 0;float:left;width:100%;min-height:20px}
.slider-for-company.collaborative-section figure i{font-size:20px;color:#a7aeb1;width:100%;height:auto;float:left;margin:0 0 5px}
.slider-for-company.collaborative-section figure img{float:left}
.slider-for-company.collaborative-section span{font-family:'nunitosans';font-style:normal;font-weight:300;font-size:14px;line-height:16px;letter-spacing:-.02em;color:#4e5d64;margin-bottom:15px;float:left;width:100%}
.slider-for-company.collaborative-section h5{line-height:26px;font-family:"oswald-bold";font-size:20px;letter-spacing:-.02em;color:#4e5d64}
.location-section .slider-for-company.collaborative-section{margin-top:20px}
.slider-for-company.collaborative-section.hostelColl{width:100%;float:left}
.slider-for-company.collaborative-section.hostelColl h5{width:100%;float:left}
.slider-for-company.collaborative-section.hostelColl h5>span{width:auto;display:inline-block;float:none}
.slider-for-company.collaborative-section.hostelColl figure i{color:#4E5D64}
.feesDetailSection .slider-for-company.collaborative-section{margin-top:0;height:auto}
.slider-left.slider-for-company,.slider-for-company{border-left:2px solid #F12A2A;padding-left:15px}
.slider-for-company{float:left}
.emp-hide-web{display:none}
.event-list-content span.eventDate{display:flex;align-items:center}
.event-list-content span.eventDate i{font-size:15px!important}
.footer-logo{width:100%;margin:0 0 5px}
.footer-logo img{max-width:70%}
ul.dropdown-menu.for-sub-menu { display: none;border: 0;border-radius: 0; box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.1);  -o-box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.1);-webkit-box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.1);}
.navigation-outer .dropdown .dropdown-toggle::after {margin-left: 0.500em;border-top: 2px solid;border-right: unset; border-left: 2px solid;height: 7px;width: 7px;transform: rotate(225deg);}
.for-sub-menu .dropdown-item:hover, .for-sub-menu .dropdown-item.active, .for-sub-menu .dropdown-item:active,  .for-sub-menu .dropdown-item:focus, .for-sub-menu .dropdown-item:visited { background-color: transparent;border:0}
.navigation-outer .dropdown-submenu .dropdown-menu.for-sub-menu{top: 119%; left: 90%;}
.navigation-outer .dropdown-menu.for-sub-menu li{margin-right: 0;width:100%;}
.navigation-outer .dropdown-menu.for-sub-menu li:not(:last-child) a{border-bottom: 1px solid #ccc;}
