@media (min-width: 1300px) and (max-width: 1500px) {
.urban-outr.campusbg{ min-height: 450px !important; background-position:  top;}
}
@media (min-width: 1501px) and (max-width: 1800px) {
.urban-outr.campusbg{ min-height: 600px !important; background-position:  top;}
}
@media (min-width: 1025px) and (max-width: 1281px) {
nav.primary-nav-2 ul li a{font-size:13px}
.admission-box-items{min-height:295px}
.lighttheme nav.primary-nav-2 ul li a {font-size:14px }
.header-main.homeheader.lighttheme a.floatDownloadBrochure { font:14px/16px nunitosans !important; }

header.header-main .cc-container a img{max-width:250px}
.urban-outr.campusbg{ min-height: 400px !important; background-position:  top;}
}
@media(max-width:1300px){
.masters-qoute .owl-nav button.owl-next { position: absolute; right: -60px;}
.masters-qoute .owl-nav button.owl-prev {position: absolute;left: -60px;}
}
@media(max-width:1200px) {

   .two-boxs .square-box {
      width: 46%;
      margin-right: 20px;
         margin-bottom: 20px;
  }

  .six-boxs .square-box {
   width: 31%;
   margin-bottom: 20px;
}





  .five-boxs .square-box {
   width: 22%;
   margin-bottom: 20px;
}
.home-right{width:calc(100% - 500px)}
.home-left{font-size:32px}
nav.primary-nav-2 ul li{margin-right:7px}
.founding-flip-card{height:200px}
.swiper-video{padding-bottom:56.25%}

nav.primary-nav ul li {
padding-right: 5px;
margin-right: 5px;}
header.header-main .cc-container a img {
max-width: 200px;
}
nav.primary-nav-2 ul li a {
font-size: 13px;
}


}
@media(max-width:1100px) {
 /* new code  */
nav.primary-nav-2 {top: -20px; }
/* new code end */
header.header-main .cc-container a img {
max-width: 160px;
}
section.navigation-outer {
width: calc(100% - 180px);
}
header.header-main .cc-container {
width: 98%;
}
.header-main nav.primary-nav-2 ul li a.apply-btn {
padding: 7px 10px 6px;
}

nav.primary-nav-2 ul li{margin-right:10px}
.header-main.homeheader nav.primary-nav-2 ul li a.apply-btn{padding:11px 10px 9px;max-width:115px}
.event-banner{height:310px}
nav.primary-nav-2 ul li{margin-right:10px}
.c-2021-list-txt p {
min-height: 55px;
}
}
@media(max-width:1091px){
.masters-qoute .owl-nav button.owl-next { position: absolute; right: -45px;}
.masters-qoute .owl-nav button.owl-prev {position: absolute;left: -45px;}
}
@media (min-width: 821px) and (max-width: 1024px) {
/* new code  */
nav.primary-nav-2 ul li a {font-size: 13px;}
/* new code end */
.container.abt-container {max-width: 88%!important;}
.error-outr .error-right{display:none}
.error-outr .error-left{text-align:center}
.error-outr .error-left a.apply-btn{display:inline-block;float:none}
.darktheme-bg::after{height:190px}
.process-tabs ul.nav.nav-tabs a.nav-link span{width:100%}
.target-right .master-tabs ul.nav.nav-tabs{padding-top:0}
.swiper-banner .swiper-slide{width:320px}
div#whatpgp{padding-right:32px}
.custom-accordion .card-body .mang-boxes ul li:nth-child(3n){border-right:1px solid #ddd}
ul.news-box{display:flex;flex-wrap:wrap}
.section-news .news-left ul.news-box li{width:50%;min-height:auto}
.section-statistics .fields-outr .form-group{width:calc(33.33% - 10px);margin-right:10px}
.section-statistics .fields-outr .applynow-outr{padding-left:0}
.section-statistics .fields-outr .applynow-outr a{margin-top:20px;letter-spacing:0;justify-content:center}
.section-admission .admission-box li{width:calc(50% - 8px);margin-right:15px;margin-bottom:15px}
.section-admission .admission-box li:nth-of-type(2n+2){margin-right:0}
nav.primary-nav ul li,nav.primary-nav-2 ul li,section.main-section.sticky nav.primary-nav-2 ul li{
margin-right:6px
}
/* .home-right{width:calc(100% - 400px)} */
.swiper-banner{width:340px}
.academics .corporate-items .sec-box{width:100%}
.classroom-slideOutr .owl-nav button.owl-next,.admission-box.industry-boxes .owl-nav button.owl-next{right:-20px}
.classroom-slideOutr .owl-nav button.owl-prev,.admission-box.industry-boxes .owl-nav button.owl-prev{left:-20px}
header.header-main .cc-container a img{max-width:170px}
section.navigation-outer{float:right}
section.main-section.sticky header.header-main .cc-container a img{max-width:150px}
section.main-section.sticky nav.primary-nav-2{top:-13px}
ul.mang-box li{flex:auto}
.tab-content p.home-smallheading{padding-right:0;width:100%}
.tab1-list .tab1-list-items{padding:20px}
img.map-img{height:400px;margin-top:40px}
.corp-img img{height:180px;object-fit:cover}
.mysection-business ul.admission-box.research-box{margin-top:0;flex-wrap:wrap}
.mysection-business ul.admission-box.research-box li{flex:auto;width:calc(50% - 10px);padding:25px;margin-right:20px;margin-top:20px}
.mysection-business ul.admission-box.research-box li:nth-of-type(1),.mysection-business ul.admission-box.research-box li:nth-of-type(2){margin-top:0}
.mysection-business ul.admission-box.research-box li:nth-of-type(2n+2){margin-right:0}
.target-left{width:250px;min-height:320px;padding:25px}
.target-right{width:calc(100% - 280px);padding-top:0}
.target-right ul.mang-box li{width:calc(33.33% - 8px);flex:auto;margin-bottom:10px;margin-right:10px;padding:15px;min-height:100px;display:flex;flex-wrap:wrap;align-items:center}
.target-right ul.mang-box{padding-left:10px}
.target-right ul.mang-box li i{width:30px}
.target-right ul.mang-box li p{width:calc(100% - 30px)}
ul.bootcamp-box li{width:calc(33.33% - 25px);margin-right:25px;padding:15px;margin-bottom:20px}
ul.bootcamp-box{flex-wrap:wrap}
ul.fellow-box li{padding-right:20px}
.news-links{width:calc(50% - 20px);margin-right:20px;margin-bottom:20px}
.news-left{padding-left:10px}
ul.news-box li .news-box-left + p span{line-height:1.5}
.news-box-left{width:100px;padding:10px}
.news-box-left + p{width:calc(100% - 100px);padding-left:20px;display:inline-block;line-height:1.3}
footer ul,footer h3,footer img{padding-left:0!important}
.footer-input-outr{width:100%}
.section-ideaboxoutr{width:100%}
.container{max-width:95%!important}
.sec-box-idea{width:100%;margin-left:0;margin-right:0}
.industry-box{margin-right:25px;width:30%}
.why-sliderOutr.urbancampus .slider-right img{max-width:100%}
.why-sliderOutr.urbancampus .slider-left.wow.fadeInUp{margin-top:0}
span.map-label{top:13px;right:88px}
.map-dot{top:78px;right:146px}
.footer-outr{width:100%}
.secondary-menu-nav li a,.secMenuDropdown li a {white-space:nowrap}

.secondary-menu-nav li .sub-menu a.item,.secMenuDropdown li .sub-menu a.item { white-space:normal ; }

.acad-details ul li{float:left;width:33.33%!important;margin-left:0!important;border-right:0}
.section-ideaboxoutr .sec-box-idea{width:calc(50% - 10px);margin-right:20px;margin-top:20px}
.section-ideaboxoutr .sec-box-idea:nth-of-type(2n+2){margin-right:0}
.student-networkbox.sec-box-idea:nth-of-type(1),.student-networkbox.sec-box-idea:nth-of-type(2){margin-top:0!important}
.section-what{margin-bottom:0}
.academics .sec-box{width:40%}
.custom-accordion .card-body .mang-boxes ul li{width:50%}
.custom-accordion .card-body .mang-boxes ul li:nth-child(even){border-right:0}
.digital-bootcamp .process-tabs ul.nav.nav-tabs li.nav-item{margin-right:3px}
.digital-bootcamp .process-tabs ul.nav.nav-tabs li.nav-item a.nav-link{padding-left:10px;padding-right:10px}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active{min-height:135px!important}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link p{padding:0!important}
ul.research-box li{width:calc(50% - 25px);margin-right:25px}
.startup-block ul.bootcamp-box li{width:calc(25% - 10px);padding:15px;margin-right:10px;margin-bottom:0}
.career-block.right-side{width:100%}
ul.logo-list li{width:115px}
li.faculty-inner{width:calc(50% - 30px)!important;margin-bottom:30px!important;margin-right:30px!important}
ul.bootcamp-box.bootcamp-box li{margin-bottom:10px}
.custom-accordion .card-body .mang-boxes ul.mobile-oddCol li{border-bottom:1px solid #ddd}
.custom-accordion .card-body .mang-boxes ul.mobile-evenCol li{border-bottom:1px solid #ddd}
.custom-accordion .card-body .mang-boxes ul.mobile-oddCol li:last-of-type{border-bottom:0}
.custom-accordion .card-body .mang-boxes ul.mobile-evenCol li:nth-last-of-type(2),.custom-accordion .card-body .mang-boxes ul.mobile-evenCol li:last-of-type{border-bottom:0!important}
.section-what{margin-top:160px}
/* .section.careers-sectionss{margin-top:110px} */
.section.padd100.pb80.startup-block{padding:60px 0 50px}
.owl-nav button{margin:0}
.highly-list-carousel .owl-prev{left:-50px}
.highly-list-carousel .owl-next{right:-50px}
.owl-prev i{margin:0}
table.deadline-table.full-length-table th,table.deadline-table.full-length-table td{padding:15px 20px}


/* Home Page new changes : code Start */
.header-main.homeheader nav.primary-nav-2 ul li a.apply-btn{padding:9px 10px 7px;max-width:115px}
.deadline-text{margin-top:0}
/* Home Page new changes : code End */

}
@media (min-width: 1023px) and (max-width: 1024px) {
.swiper-banner .swiper-button-next{right:0}
.swiper-banner .swiper-button-prev{left:-55px}
.acad-details ul li{width:20%!important;padding-left:12px!important}
.acad-details ul li p em{font-size:12px;width:86%}
.acad-details ul li span{margin-bottom:0;font-size:12px}
}

/* @media(max-width:600px){

   .six-boxs .square-box {
      width: 100%;
  }

} */
@media  (max-width: 490px) {
.books-right-col span.applynow-outr a i.material-icons {
margin-top: -7px!important;
}
.student-networkbox.sec-box-idea label{font-size:18px}
.masters-info{height:auto}
ul.logo-list li{width:33.33%!important}
.home-left{font-size:25px!important}
ul.mang-box li label{font-size:24px!important;line-height:1.3}
.target-right ul.mang-box li{width:100px;margin-right:15px;margin-bottom:0;margin-top:15px;display:flex;flex-direction:column}
.target-right ul.mang-box li i{order:1;text-align:left}
.target-right ul.mang-box li p{width:100%;order:3}
.section-who .mediumheading,.section-why .mediumheading{width:100%}
.why-sliderOutr.urbancampus .slider-right{width:100%}
.reasearch-box{width:80%;margin-right:20px;margin-bottom:30px}
/* .target-left p{display:block!important} */

}
@media (min-width: 640px) and (max-width: 820px) {
.admission-box-items{min-height:auto}
.admission-box.industry-boxes.owl-carousel .admission-box-items{min-height:auto}
.section-news .news-left ul.news-box li,ul.student-clubOutr li,.hackathons-outr ul li,body .acad-details ul li{width:calc(50% - 8px)!important}
ul.fellow-box li:nth-child(even),.section-news .news-left ul.news-box li:nth-child(even),ul.student-clubOutr li:nth-child(even),.hackathons-outr ul li:nth-child(even),.acad-details ul li:nth-child(even){float:right}
.mysection-business ul.admission-box.research-box li,.sec-box-idea,ul.admission-box li,.section-ideaboxoutr .sec-box-idea{width:calc(50% - 8px);margin-right:15px;margin-top:15px}
.masters-box,.startup-block ul.bootcamp-box li,.tab1-list .tab1-list-items,.events-list.master-news .news-links,.events-list .news-links{width:calc(50% - 8px)!important;margin-right:15px!important;margin-top:15px!important;margin-bottom:0}
.tab1-list .tab1-list-items:nth-of-type(2n+2),.startup-block ul.bootcamp-box li:nth-of-type(2n+2),.masters-box:nth-of-type(2n+2),.events-list.master-news .news-links:nth-of-type(2n+2),.events-list .news-links:nth-of-type(2n+2){margin-right:0!important}
.startup-block ul.bootcamp-box li:nth-of-type(1),.startup-block ul.bootcamp-box li:nth-of-type(2),.masters-box:nth-of-type(1),.masters-box:nth-of-type(2){margin-top:0!important}
.sec-box-idea:nth-of-type(2n+2){margin-right:0!important}
}
@media(max-width:820px){
.section-what.staff-member-outer,.section-what.staff-member-outerDetail {
margin-top: 70px;
}
.section-what.staff-member-outerDetail.pt50 { padding-top: 30px; }
.masters-qoute .owl-nav button.owl-next { position: absolute; right: -28px!important;}
.masters-qoute .owl-nav button.owl-prev {position: absolute;left: -28px!important;}

.section-what.staff-member-outerDetail .master-overview-outer {
min-height:auto;}
.contact-us-section { display: flex; flex-direction: column-reverse;}
.contact-us-section .masterForm.show-become{
   margin-top: 0!important;
   margin-bottom: 60px;
}

/* .colm-5 {
display: inline-block;
width: 32%;
margin-bottom: 40px;
} */
}
@media (min-width: 992px){
  
.c-2021-list-txt .col-lg-2 {
flex: 0 0 20%;
max-width: 20%;
}
}
@media (max-width: 821px) {
/* .course-content-table.cohort-second-table thead { display: none; } */









.five-boxs .square-box {
   width: 30%;
}

.three-boxs .square-box {
   width: 47%;
   margin-right: 20px;
   margin-bottom: 20px;
}

.c-2021-list-txt {
justify-content: flex-start;
}
.c-2021-list-txt .colm-5 p {
font: 13px/15px nunitosans;
}    
.mt100 { margin-top:60px }
.colm-5 {
display: inline-block;
width: 32.5%;
/* margin-bottom: 40px; */
}

.c-2021-list-txt {
justify-content: flex-start;
}
.c-2021-list-txt p {
min-height: 35px;
}


/* .c-2021-list-txt > div:nth-last-of-type(2),.c-2021-list-txt > div:nth-last-of-type(1) { padding-top: 25px; } */

/* .c-2021-list-txt > div:nth-last-of-type(2) p:last-child,.c-2021-list-txt > div:nth-last-of-type(1) p:last-child {
margin-bottom: 0; min-height: auto;
} */




.error-outr .error-right{display:none}
.error-outr .error-left{text-align:center;width:100%}
.error-outr .error-left h3 + h5 + p{margin-bottom:30px}
.error-outr .error-left a.apply-btn{display:inline-block;float:none}
h3.boldheading-meadium.mt60{margin-top:20px}
ul.consulting-projects-list > li span{height:65px;width:65px;padding:0 10px}
.club-block{margin-bottom:60px!important}
.pb80{padding-bottom:30px!important}
.target-left p{display:flex;align-items:center;width:100%;justify-content:space-between}
.target-right ul.mang-box li{margin-right:15px;margin-bottom:0;margin-top:10px}
.tab1-list .tab1-list-items .leftoutr p{height:auto}
.mysection-business ul.admission-box.research-box li{min-height:auto}
.admission-box li span{min-height:auto;margin-bottom:0;}
.section-industry.padd100.text-left.wow.fadeInUp.grey-bg{padding-bottom:45px!important}
.master-tabs ul.nav.nav-tabs li.nav-item{min-width:110px}
.admissions_popup .modal-dialog{max-width:360px;padding:0 10px}

#tabAdvisors .tab1-list-items:nth-of-type(1),#tabAdvisors .tab1-list-items:nth-of-type(2),#tabPractitioners .tab1-list-items:nth-of-type(1),#tabPractitioners .tab1-list-items:nth-of-type(2),#tabProfessors .tab1-list-items:nth-of-type(1),#tabProfessors .tab1-list-items:nth-of-type(2) { margin-top: 0 !important; }

/* header */
.career-block-items{height:100%;margin-bottom:15px}
.academics .col.pt80{padding-top:0}
.custom-accordion .card-body .mang-boxes ul li:nth-last-of-type(2){border-bottom:1px solid #ddd}
h3.wow.fadeInUp.boldheading-meadium.mt80{margin-top:30px}
.applynow-outr{padding-top:0}
.target-right ul.mang-box li{margin-right:10px!important;margin-bottom:0!important}
.target-outr{margin-bottom:0!important}
.masters-outer{margin-top:0}
.highly-carousel-outer{padding:10px}
.owl-carousel.highly-list-carousel.owl-carousel .owl-nav button.owl-next{width:30px!important;right:-40px!important}
.owl-carousel.highly-list-carousel.owl-carousel .owl-nav button.owl-prev{width:30px!important;left:-40px!important}
.owl-carousel.highly-list-carousel.owl-carousel .owl-nav button span{line-height:1}
.swiper-slide{width:280px!important}
.admission-box-items{margin-bottom:10px!important}
.swiper-banner .swiper-button-next{right:10px!important}
.swiper-banner .swiper-button-prev{left:10px!important}
.admission-box.industry-boxes .owl-nav button.owl-next,body .owl-nav button.owl-next,body .classroom-slideOutr .owl-nav button.owl-next{right:-30px!important;margin:0!important;position:absolute;float:none;display:flex;align-items:center;width:40px;height:40px;border-top-right-radius:50%;border-bottom-right-radius:50%;border-left:0!important;padding-left:3px!important}
.admission-box.industry-boxes .owl-nav button.owl-prev,body .classroom-slideOutr .owl-nav button.owl-prev,body .owl-nav button.owl-prev,.highly-list-carousel .owl-prev{left:-30px!important;margin:0!important;position:absolute;float:none;display:flex;align-items:center;width:40px;height:40px;border-top-left-radius:50%;border-bottom-left-radius:50%;border-right:0!important;padding-right:3px!important}
.owl-carousel.shadow-view .owl-nav button.owl-next{right:-37px!important}
.swiper-container .slider-comb.swiper-slide.swiper-slide-active{left:0!important}
.owl-nav button span i{top:0;color:#333}
.section-WSmenu .col.pt70{padding-top:30px}
.career-block.classroom{margin-top:0;margin-bottom:60px}
.section-WSmenu h3.boldheading span{float:left;width:100%}
.section-what.section-profile{margin:120px 0 0;padding:50px 0}
figure.person-img-prof{width:150px;height:150px}
.profile-page .secondary-menu-nav,.profile-page .secMenuDropdown{position:static;height:42px;min-height:42px}
.profile-page .details-inner{margin-bottom:20px}
.section-profile + .section-becomeMaster{margin-bottom:50px}
.details-tab-inner{width:100%}
.section-becomeMaster .details-tab ul.nav-tabs .nav-item .nav-link{border-width:3px 1px 1px!important;justify-content:center;border-color:#fff #dee2e6}
.section-becomeMaster .details-tab ul.nav-tabs .nav-item .nav-link.active{border-color:#F12A2A #dee2e6 #fff;color:#F12A2A;box-shadow:none!important;opacity:1}
.section-WSmenu,.section-what.section-faq{margin-top:75px;margin-bottom:60px;padding-top:50px}
section.becomeMaster.section-what{margin-top:75px}
.become-leftbox,.become-leftbox + .masterFormOuter{width:100%}
.become-leftbox + .masterFormOuter form.masterForm.show-become{max-width:100%;padding-left:0;margin-top:60px}
.section.pt80{padding-top:50px}
.enroll-outr.mb80{margin-bottom:50px}
.section-what.student-bg.text-left{margin:112px 0 0;background-position:0 0!important;min-height:auto;padding:50px 0}
.line-break{margin:50px 0}
.enroll-outr{min-height:auto}
.swiper-banner{padding-top:0;width:100%;left:0;height:auto}
/* .lighttheme nav.primary-nav-2 ul li a,.lighttheme nav.primary-nav ul li a{color:#101010} */
.scholarship-outr ul li{margin-right:0;width:100%;padding:20px!important;margin-bottom:15px!important;background:#fff;border-radius:3px;box-shadow:0 0 7px 2px rgba(0,0,0,0.05)}
.scholarship-outr ul li:last-of-type{margin-bottom:0!important}
.book-img{width:80px}
.books-content{width:calc(100% - 80px);padding:0 20px}
.books-item{float:left;width:100%;margin-right:0;margin-bottom:30px}
.books-item:last-child{margin-bottom:0}
.section-research .process-tabs .tab-content{padding:25px 20px!important}
.student-networkbox.sec-box-idea img{height:auto;width:100%}
.responsive-table{float:left;width:100%;overflow-x:auto}
nav.secondary-menu{padding-top:0!important}
.section-admission{margin-top:117px!important}
.policy-tabs .card-body{padding:20px}
.section-agreement .sec-box,.sec-box{width:100%!important;margin-right:0}
ul.new-list li{width:100%}
.faq{margin:50px 0 0;padding-top:60px}
.section-scholarships .accordion.custom-accordion{margin:20px 0 0}
.faq .policy-tabs .card-body{padding:20px;padding-bottom:0}
.col-md-9.calultor{flex:0 0 100%!important;padding-right:15px}
.card.new-card{padding:30px;margin-bottom:30px}
ul.bank-info li{margin-right:0;width:100%;margin-top:20px}
ul.bank-info li:first-child{margin-top:0}
ul.bank-info{display:block}
ul.bank-details li{flex:100%;padding-right:20px;margin-bottom:30px;padding-left:30px;position:relative}
.concentration-tabs ul.nav.nav-tabs{display:flex;flex-wrap:nowrap;overflow-y:hidden}
.section-scholarships ul.process-tabs-list li ul li,.process-tabs .tab-content ul.process-tabs-list li ul li,.digital-bootcamp .process-tabs .tab-content ul.process-tabs-list li ul li,ul.process-tabs-list li ul li{margin-left:0;padding-left:0!important;width:100%!important}
.section-scholarships ul.process-tabs-list li ul,.process-tabs .tab-content ul.process-tabs-list li ul,.digital-bootcamp .process-tabs .tab-content ul.process-tabs-list li ul,ul.process-tabs-list li ul{padding-left:20px!important}
.section-scholarships ul.process-tabs-list li,.process-tabs .tab-content ul.process-tabs-list li,.digital-bootcamp .process-tabs .tab-content ul.process-tabs-list li,ul.process-tabs-list li{padding-left:40px!important}
.section-scholarships ul.process-tabs-list li i.material-icons,.process-tabs .tab-content ul.process-tabs-list li i.material-icons,.digital-bootcamp .process-tabs .tab-content ul.process-tabs-list li i.material-icons,ul.process-tabs-list li i.material-icons{width:auto;height:auto;z-index:1;position:absolute;left:2px;margin-right:0;top:0}
.income-box{margin:20px 0;min-height:200px}
ul.cost-fee li{flex:auto;padding-left:20px;width:50%;margin:0 0 30px}
ul.cost-fee li:nth-child(2n+1){border-left:0;padding-left:0;padding-right:20px}
ul.cost-fee{margin:0;flex-wrap:wrap;margin-bottom:20px}
ul.cost-fee li:last-of-type,ul.cost-fee li:nth-last-of-type(2){margin:0}
ul.cost-fee li label{margin:0 0 10px}
ul.cost-fee li label br{display:none}
.section-statistics .fields-outr .applynow-outr{padding-left:0;margin:0!important}
.fields-outr{display:block}
.section-statistics .fields-outr .applynow-outr a{padding:10px;display:flex;margin-top:0;letter-spacing:0;justify-content:center}
.section-statistics .fields-outr .form-group{flex:auto;width:100%;margin-right:0;margin-left:0;margin-bottom:20px}
.process-tabs .tab-content ul.process-tabs-list li::after,ul.process-tabs-list li::after,.digital-bootcamp .process-tabs .tab-content ul.process-tabs-list li::after{left:15px} 
.process-tabs .tab-content ul.process-tabs-list li,ul.process-tabs-list li,.digital-bootcamp .process-tabs .tab-content ul.process-tabs-list li,.process-tabs .tab-content ul.process-tabs-list li i.material-icons,.digital-bootcamp .process-tabs .tab-content ul.process-tabs-list li i.material-icons,ul.process-tabs-list li i.material-icons{font-size:15px}
.digital-bootcamp ul.bootcamp-box li:last-child{margin:0!important}
.section-admission .admission-box li{margin-left:0;margin-right:15px;padding:20px;margin-bottom:0;width:calc(50% - 8px)}
.section-admission .admission-box li:nth-of-type(2n+2){margin-right:0!important}
.section-admission .admission-box li:nth-of-type(1),.section-admission .admission-box li:nth-of-type(2){margin-top:0}
.owl-nav{margin-top:0}
header.header-main,section.main-section.sticky header.header-main{min-height:70px}
header.header-main .cc-container a.logo{margin-left:20px}
.section-admission .admission-box li:nth-of-type(2){margin-top:15px}
section.breadcrum-fixed,section.main-section.sticky section.breadcrum-fixed{min-height:42px!important;margin-top:0!important}

section.navigation-outer{width:0;transition:.5s ease-in-out;opacity:0;position:fixed;right:0;top:0;z-index:-1;transform:translate3d(262px,0px,0px);height:100%}

.hamburger{display:block;float:right;margin-right:20px;height:23px}

/* Mobile Menu : Code Start */

section.navigation-outer.mobile-menu{transition:.5s ease-in-out;height:100%;position:fixed;overflow-y:auto;top:0;right:0;background:#F8F9FD;width:250px;box-shadow:0 0 7px 0 rgba(0,0,0,0.18);opacity:1;z-index:99999;transform:translate3d(0px,0px,0px); display: flex;
flex-direction: column;
/* flex-wrap: wrap; */
padding-top: 40px;
overflow-x: hidden; 

}

.hamburger-close{display:block;float:right;
/* margin-right:10px;margin-top:15px; */
position: absolute;
top: 10px;
right: 10px;
}

section.navigation-outer.mobile-menu .primary-nav{order:2;padding-top:15px;position:relative;margin-top:15px}
section.navigation-outer.mobile-menu .primary-nav:before{width:calc(100% - 40px);height:1px;content:'';position:absolute;background:#e2e2e5;left:50%;top:0;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%)}
section.navigation-outer.mobile-menu .primary-nav-2{order:1}


.lighttheme nav.primary-nav ul li a,.lighttheme nav.primary-nav-2 ul li a,section.main-section.sticky nav.primary-nav-2 ul li a,nav.primary-nav-2 ul li a{color:#101010;font-size:14px!important;line-height:16px!important; z-index: 1;}
section.main-section.sticky nav.primary-nav{opacity:1;    pointer-events: inherit;}
section.main-section.sticky nav.primary-nav-2 ul li a.apply-btn,.header-main nav.primary-nav-2 ul li a.apply-btn{padding:6px 14px 5px; margin:5px 0 6px 20px;}
a.floatDownloadBrochure,a.floatDownloadBrochure:link,a.floatDownloadBrochure:visited,.lighttheme nav.primary-nav ul li a.floatDownloadBrochure,.lighttheme nav.primary-nav-2 ul li a.floatDownloadBrochure,section.main-section.sticky nav.primary-nav-2 ul li a.floatDownloadBrochure,nav.primary-nav-2 ul li a.floatDownloadBrochure{ 
width: 100%; color: #101010;
text-align: left;}

a.floatDownloadBrochure span,.lighttheme nav.primary-nav ul li a.floatDownloadBrochure span,.lighttheme nav.primary-nav-2 ul li a.floatDownloadBrochure span,section.main-section.sticky nav.primary-nav-2 ul li a.floatDownloadBrochure span,nav.primary-nav-2 ul li a.floatDownloadBrochure span{background:#FFEF62;color:#101010;float:left;padding:3px;font-weight:600}
nav.primary-nav-2 ul li a.active,.lighttheme nav.primary-nav ul li a.active,.lighttheme nav.primary-nav-2 ul li a.active,section.main-section.sticky nav.primary-nav-2 ul li a.active,nav.primary-nav-2 ul li a.active{color:#F12A2A}
nav.primary-nav ul li,nav.primary-nav-2 ul li,section.main-section.sticky nav.primary-nav-2 ul li{padding:0;margin:0;width:100%;float:left}
nav.primary-nav ul li a,nav.primary-nav-2 ul li a{opacity:1;width:100%;float:left;padding:12px 20px}

a.floatDownloadBrochure.DownloadBrochureBtn { width: auto; color: #fff; text-align: center; }

nav.primary-nav ul li a,.header-main.homeheader.lighttheme nav.primary-nav ul li a,.header-main.homeheader nav.primary-nav ul li a,.main-section.sticky nav.primary-nav ul li a,.main-section nav.primary-nav ul li a { padding: 8px 20px; }

/* Mobile Menu : Code End */

/* section.navigation-outer nav.primary-nav-2 ul li,nav.primary-nav ul li{float:left;width:100%;padding:15px;padding-left:25px} */
section.main-section nav.primary-nav-2{padding-top:0;top:0}
section.main-section.sticky nav.primary-nav-2{padding-top:0;top:0}
.secondary-menu-nav,.secMenuDropdown {display:inline-block;width:100%;overflow-x:scroll;overflow-y:hidden;white-space:nowrap;min-height:50px;height:50px;position:absolute;-webkit-overflow-scrolling:touch}

.secMenuDropdown { overflow:inherit; }

.secondary-menu-nav li:hover ul:before,.secMenuDropdown li:hover ul:before{display:none}
.secondary-menu-nav::-webkit-scrollbar-track,.secMenuDropdown::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.0);-moz-box-shadow:inset 0 0 2px rgba(0,0,0,0.0);box-shadow:inset 0 0 2px rgba(0,0,0,0.0);-ms-box-shadow:inset 0 0 2px rgba(0,0,0,0.0);-o-box-shadow:inset 0 0 2px rgba(0,0,0,0.0);border-radius:10px;background-color:transparent}
.secondary-menu-nav::-webkit-scrollbar,.secMenuDropdown::-webkit-scrollbar{height:6px;background-color:transparent}
.secondary-menu-nav::-webkit-scrollbar-thumb,.secMenuDropdown::-webkit-scrollbar-thumb{border-radius:10px;background-color:transparent}
.secondary-menu-nav li a,.secMenuDropdown li a{padding:8px 10px}
.secondary-menu-nav ul,.secMenuDropdown ul{position:fixed;top:inherit!important;opacity:1!important;visibility:visible;width:100%;background:#D51E16;bottom:-50px;transition:.4s ease-in-out}
section.main-section.sticky .secondary-menu-nav ul,section.main-section.sticky .secMenuDropdown ul{bottom:0}
.researchlast-box{width:100%}
.cc-container{width:94%}
section.main-section.sticky header.header-main .cc-container a img,header.header-main .cc-container a img{max-width:200px}
/* nav.primary-nav{display:none} */
ul.sm-breadcrum{display:none}
nav.secondary-menu{padding-left:0;position:relative;text-align:left}
section.main-section.sticky .menu-program,.menu-program{cursor:pointer;padding-top:5px;padding-bottom:5px;font-weight:100;font-size:20px}

/* homepage*/
.sec-mangleft{width:100%}
ul.mang-box{margin:0;flex-wrap:wrap}
.section-master{padding-top:50px;padding-bottom:40px}
ul.mang-box li span{margin:10px 0}
.right-side-box ul.mang-box > li{width:50%;margin:20px 0;margin-right:0;flex:auto}
.sec-mangright{float:left;width:100%;margin-left:0;padding:30px;box-shadow:0 0 7px 2px rgba(0,0,0,0.05);border-radius:3px}
.mang-checkbox a{padding-right:40px;font-size:13px;text-transform:none}
.form-group label p{width:85%}
.master-tabs{top:-10px}
.master-tabs ul.nav.nav-tabs{width:auto;min-width:auto;padding:5px}
.master-tabs ul.nav.nav-tabs a.nav-link{padding:8px 16px}
.urban-outr{min-height:auto!important;margin-bottom:60px}
img.map-img{height:300px;margin:50px 0}
.tab1-list .tab1-list-items{width:100%}
ul.tab1-list li{width:100%}
.urban-right{margin-top:-12px}
.section-urban h3.big-boldheading{line-height:1}
.urban-map-slider p + section.swiper-wrapper{margin-top:80px}
.digital-bootcamp{margin-top:0;padding:40px 0 60px}
.section-industry .digital-bootcamp{margin-top:0}
.section-industry .admission-box.industry-boxes.fadeInUp.owl-carousel{margin-bottom:0!important}
.section-industry .sec-box{width:100%!important;margin:0 0 15px}
.industry-left{padding:30px}
.industrybox{border:none!important;border-bottom:1px solid #ddd!important;width:100%;padding:0;margin-bottom:40px;min-height:auto}
.mysection-business ul.admission-box.research-box li{flex:auto;margin-right:15px;margin-top:15px}
.mysection-business ul.admission-box.research-box li:nth-of-type(2n+2){margin-right:0}
.mysection-business ul.admission-box.research-box li:nth-of-type(1),.mysection-business ul.admission-box.research-box li:nth-of-type(2){margin-top:0!important}
.mysection-business ul.admission-box.research-box{display:flex;justify-content:space-between;flex-wrap:wrap;margin:0}
.business-boxOutr{margin-top:50px}
.business-outr{padding:20px}
.business-boxOutr .business-box{width:41%;margin-right:20px;margin-bottom:40px}
.target-right{width:100%;padding-top:0}
.target-right ul.mang-box{margin-left:0;padding-left:0;display:flex}
.fellow-outr{margin-top:0}
ul.fellow-box li p{width:100%;min-height:auto}
.news-left{float:left;width:100%;padding:0}
ul.news-box li .news-box-left + p span{line-height:1.5}
.news-box-left + p{line-height:1.2}
.news-right{width:100%}
.news-links{width:100%;margin-bottom:30px}
.section-managment{padding:50px 0}
ul.admission-box li{padding:20px;width:100%}
.process-tabs .tab-content ul.process-tabs-list li ul li{padding-left:20px}
.process-tabs ul.nav.nav-tabs li.nav-item a.nav-link{width:95%;padding-left:10px;height:60px;min-height:auto;display:flex;align-items:center;justify-content:center}
.process-tabs .tab-content{padding:25px 0 0}
.process-tabs ul.nav.nav-tabs li.nav-item a.nav-link.active:before{border-left:15px solid #FFEF62;border-top:30px solid transparent;border-bottom:30px solid transparent;right:-15px}
.process-tabs ul.nav.nav-tabs li.nav-item a.nav-link:after{border-left:15px solid #fff;border-top:30px solid transparent;border-bottom:30px solid transparent}
.process-tabs ul.nav.nav-tabs li.nav-item a.nav-link:before{border-left:15px solid #E7EAF7;border-top:30px solid transparent;border-bottom:30px solid transparent;right:-15px}
.process-tabs ul.nav.nav-tabs a.nav-link p{text-align:center}
.process-tabs ul.nav.nav-tabs a.nav-link span{display:none}
table.deadline-table{width:100%}
ul.checklist-box li{width:100%;min-height:auto;padding-left:0;padding-right:0}
.target-left{width:100%;min-height:auto;padding:30px;margin-bottom:20px}
.academics .sec-box{width:80%}
.master-tabs .tab-content{margin-top:5px}
.target-right .target-tabs ul.nav.nav-tabs li a.nav-link.active::after{bottom:-3px}
.target-right .target-tabs ul.nav.nav-tabs li a.nav-link.active::before{bottom:-13px;left:50%;transform:translateX(-50%)}
.target-outr.peer-group-outer .master-tabs ul.nav.nav-tabs{padding:0}
.tab1-list .tab1-list-items{background:#fff;box-shadow:0 0 7px 2px rgba(0,0,0,0.05)}
ul.bootcamp-box li p{width:calc(100% - 50px)!important;padding:0 0 0 20px !important;margin-top:0}
.digital-bootcamp ul.bootcamp-box{display:flex;margin:20px 0 0;padding:0!important;border-bottom:0;flex-wrap:wrap}
.digital-bootcamp ul.bootcamp-box li{width:100%;margin:0 0 20px;padding:20px;min-height:90px;display:flex;align-items:center}
ul.bootcamp-box li img{padding:0;padding-bottom:0;float:left;height:40px}
.slider-left{margin-bottom:0}
.startup-block ul.bootcamp-box li{width:calc(50% - 8px);padding:15px 20px;margin-right:15px;display:flex;min-height:100px;align-items:center}
.startup-block ul.bootcamp-box li:nth-of-type(2n+2){margin-right:0}
.startup-block ul.bootcamp-box li:last-of-type{margin-bottom:0}
.concentration-tabs .tab-content .tab-pane p.home-smallheading{width:100%;margin:0 auto;text-align:left;float:left;padding:0!important}
.concentration-tabs .tab-content{margin-top:20px;float:left;width:100%;padding:0}
.darktheme-bg::after{height:16%}
.section-who.darktheme-bg::after {
height: 11%;
}

/* program page */
.section-ideaboxoutr{width:100%;justify-content:space-between}
.container{max-width:95%!important}
.sec-box-idea{width:100%;margin-top:20px}
.section-who .mediumheading,.section-why .mediumheading{width:100%}
.why-sliderOutr.urbancampus .slider-right{width:100%}
.slider-left{width:100%;margin-bottom:0}
.section-industry .slider-left{margin-bottom:0}
.slider-right{width:100%!important}
.industry-box{margin-right:25px;width:80%;margin-bottom:30px}
.why-sliderOutr.urbancampus .slider-right img{max-width:100%}
.why-sliderOutr.urbancampus .slider-left.wow.fadeInUp{margin-top:0}
span.map-label{top:13px;right:88px}
.map-dot{top:78px;right:146px}
.researchlast-box{margin-bottom:30px}
.reasearch-box{width:44%;margin-right:15px;margin-bottom:30px}
.researchlast-boxinner{background:#fff;box-shadow:0 3px 7px 2px rgba(0,0,0,0.05)}
.footer-outr{width:100%;margin-bottom:0!important;margin-top:40px!important}
footer.footer-main .col-md-4{border:none;border:none;margin-bottom:40px;width:100%}
footer.footer-main .col-md-4:last-of-type{margin-bottom:0}
footer.footer-main li.f-logo a img{padding-left:0;max-width:200px;margin-bottom:0}
footer ul,footer h3,footer img{padding-left:0!important}
.footer-bar ul{margin:0!important}
.practitioners-box{width:100%}
.masters-box:nth-of-type(3){width:100%;float:left;margin-right:0;margin-top:15px}
li.faculty-inner{width:100%;float:left;margin-right:0}
/* program page */

/* student life */
.student-top-section{min-height:230px}
.banner-sec.student-top-section { min-height: 300px; }
.section{padding-top:0}
.hackathons-outr{margin-top:0!important}
.hackathons-outr ul li:first-child{margin-top:20px}
.hackathons-outr ul li,.hackathons-outr ul li:nth-of-type(2){margin-top:20px}
.hackathons-outr ul li{width:100%;margin-bottom:0}
.hackathons-outr ul li .hackathons-inner{padding-right:0;width:100%}
ul.student-clubOutr li img{width:22px}
.enroll-img{display:none}
div#enrollnow form.masterForm{width:100%}
.section-what{margin-top:90px}

.section-what.concentratebg.studentlifebg {
margin-top: 110px;
}

.becomeMaster .social-outr a{padding:14px 18px}
.master-overview-outer img{width:100px}
.master-overview{width:100%;padding-left:0;padding-top:20px}

.section-what.staff-member-outerDetail .master-overview {
width:calc(100% - 175px);
}
.section-what.staff-member-outerDetail figure.person-img-prof{ margin: 0; margin-right: 20px; }


.master-overview ul li:nth-child(2n+1){padding:0 5px}
.master-overview ul{margin-top:15px}
.details-tab ul{display:inline-block}
.details-tab ul li.nav-item{width:20%;float:left}
.details-tab ul li.nav-item:last-child a{border-right:1px solid #dee2e6!important}
.details-tab ul.nav-tabs .nav-item .nav-link i{margin-left:3px}
.activity-outer{display:none}
.details-tab .tab-content{width:100%;padding-left:0}
.details-tab .tab-content .applynow-outr a{padding:15px 50px 15px 20px}
.home-banner { margin:130px 0 50px; }
.home-right{width:100%;min-height:auto;text-align:center}
.new-flex-box{display:inline-block;margin:50px 0 0}
.left-side-box{width:100%!important;padding:0}
.right-side-box{width:100%;padding-left:20px}
.urban-outr img.map-img{height:auto;object-fit:cover;object-fit:none;object-position:50% -180px}
.digital-bootcamp .process-tabs ul.nav.nav-tabs li.nav-item{width:100%;margin-right:0;margin-bottom:5px!important;flex:auto}
.digital-bootcamp .process-tabs ul.nav.nav-tabs li.nav-item a.nav-link{min-height:70px!important;padding:0!important;display:flex;align-items:center;text-align:center;width:100%;margin-right:0!important;padding:10px 15px!important}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active{min-height:80px!important;text-align:center}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active p,.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link p{float:left;margin-top:0;width:calc(100% - 50px)!important;text-align:left}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active::before{border:0!important;border-left:5px solid #F12A2A!important;right:inherit!important;left:0!important;height:100%;border-radius:3px 0 0 3px}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active img{transform:scale(1);float:left;margin-top:0;margin-right:15px}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link img{transform:scale(1);float:left;margin-top:0;margin-right:15px;padding:0!important;height:30px}
.digital-bootcamp .process-tabs .tab-content{top:-55px;padding:0;min-height:auto;box-shadow:none}
#scroll-industry h3.boldheading.text-left.mb50{margin-bottom:0}
.section-industry .digital-bootcamp .process-tabs .tab-content,#industry .digital-bootcamp .process-tabs .tab-content{top:0;min-height:auto;padding:0;box-shadow:none}
#scroll-industry .digital-bootcamp .process-tabs .tab-content{top:0}
.corporate-list.owl-carousel.owl-theme .owl-stage{padding-left:0!important}
.text-highlight{line-height:1.4}

/* Ashima : Code Start */
.admissions_popup .popup-data{flex-direction:row}
ul.waiver-list{margin-bottom:20px}
.section-WSmenu{margin-top:75px;margin-bottom:60px;padding-top:60px}
.section-REmenu{margin-top:90px}
.section-career{flex-wrap:wrap}
/* .career-left{width:100%;display:flex;flex-wrap:wrap} */
.career-left .career-filter-section{order:0;width:49%}
.career-left .career-filter-section:first-of-type,.positionR.dhide:first-of-type{margin-right:2%}
.career-right{width:100%}
.positionR.dhide{order:1;width:49%;margin:6px 0 20px}
ul.department-list li:hover,ul.department-list li.active{border-right:1px solid rgba(78,93,100,0.1)}
.sec-box.career-detail-sec-box{margin:0 0 10px}
.section-mdetail{padding:60px 0}
.custom-file.attach-resume-file{margin:5px 10px 10px 0}
.applynow-outr.applynow-career-outr a,.applynow-outr.applynow-career-outr a:link,.applynow-outr.applynow-career-outr a:visited{padding:10px 40px 10px 20px}
.applynow-outr.applynow-career-outr a i.material-icons{right:12px}
.events-list .news-links{margin-right:0;width:100%}
a.show-more-link,a.show-more-link:link,a.show-more-link:visited{height:auto;line-height:12px;padding:15px}
.events-list .news-links .newslink-time{display:flex;justify-content:space-between}
.events-list .news-links .newslink-time span{width:auto}
.section-Bmenu{margin-top:74px;margin-bottom:50px}
.eventlink-time{margin-bottom:0}
.event-organizer-outer{margin-top:30px}
a.book-now-btn,a.book-now-btn:link,a.book-now-btn:visited{padding:15px 20px}
.event-marathon-heading{line-height:24px}
.student-engagement-detail span i{margin-right:6px}
a.get-touch-btn,a.get-touch-btn:link,a.get-touch-btn:visited{padding:15px 20px;margin-top:20px}
.classroom-slideOutr.slider-for-companyOuter .slider-right{width:100%}
.talent-topText{margin-bottom:30px}
ul.consulting-projects-list.consulting-rec-list > li:before,ul.consulting-projects-list.consulting-rec-list > li:after,ul.consulting-projects-list > li:before,ul.consulting-projects-list > li:after{display:none}
ul.consulting-projects-list{flex-wrap:wrap}
ul.consulting-projects-list.consulting-rec-list > li{margin-right:0}
ul.consulting-projects-list > li{display:flex;align-items:center;width:100%;margin-right:0}
ul.consulting-projects-list > li span{flex-shrink:0;margin-right:10px}
ul.consulting-projects-list > li:first-of-type p{text-indent:0}
ul.consulting-projects-list.consulting-rec-list > li,ul.consulting-projects-list > li{margin-bottom:10px}
.classroom-slideOutr.slider-for-companyOuter:last-child{margin:0!important}
.events-list.master-news .news-links,.events-list.master-news .news-links:nth-of-type(2),.events-list.master-news .news-links:nth-of-type(3){width:100%;margin-right:0;margin-top:15px}
.events-list figure img{height:auto}
.section-becomeMaster .details-tab-inner .nav.nav-tabs{border:0;display:flex;flex-direction:row}
.section-becomeMaster .details-tab-inner .nav.nav-tabs li{flex:1;width:auto}
.owl-carousel.shadow-view .owl-item{border:15px solid transparent}
.mhide{display:none}
.dhide{display:block}
/* Ashima : Code End */

.icon-part{left:0}
.career-block-items-body{padding:20px}
.career-block-items-header{padding:15px 20px}
ul.logo-list li{padding:10px;width:20%;text-align:center}
ul.my-list li{padding:15px}
.career-block.right-side{width:100%}
.physho-block span{position:relative;margin-bottom:30px}
.physho-block{padding-left:0}
ul.student-clubOutr li{width:100%}
.student-clubOutr.student-clubOutr-sl li{width:50%}
.acad-details ul li{float:left;width:100%!important;margin-left:0!important;border-right:0!important;border-bottom:1px solid #ddd;padding-bottom:20px;margin-bottom:20px!important}
.sec-box-idea img{height:40px}
.custom-accordion .card-body .mang-boxes ul li{float:left;width:100%;border-right:0;border-bottom:1px solid #ddd;min-height:auto;padding:20px 0}
.intelligence-content,.intelligence .heading{width:100%!important}
.intelligence .heading{margin-bottom:10px}
.intelligence-content{padding-left:25px}
.random{float:left;width:100%;margin-right:0;margin-bottom:15px}
.random:last-child{margin-bottom:0}
.classroom-slideOutr{margin-bottom:50px;padding-bottom:50px;margin-top:0;display:flex;flex-direction:column}
.classroom-slideOutr.right .slider-right{order:2}
.highlight-boxOutr{width:100%;margin-left:0;padding:0!important}
.highlight-greenBox,.highlight-yellowBox{width:100%;margin:0 0 20px!important}
.acad-details ul li:last-child{padding-bottom:0!important;margin-bottom:0!important}
.section-news .news-left ul.news-box li{width:100%;float:left;padding:0;min-height:unset;margin-right:15px;margin-bottom:20px}
.section-news .news-left ul.news-box li:nth-of-type(2n+2){margin-right:0}
.section-news .news-left ul.news-box li:nth-last-child(2),.section-news .news-left ul.news-box li:last-of-type{margin-bottom:0}
.news-box-left + p{min-height:auto}
ul.bootcamp-box.bootcamp-box{margin-bottom:0;padding-bottom:0}

/*Unique Business School Section : Code Start*/
.usp-list{padding:15px 15px 45px}
.usp-list a.learn-more{left:15px;bottom:15px}
ul.usp-list-text li { margin-bottom: 5px; }
.busHeading.mb10 { margin-bottom: 0 !important; }
.busHeading.mb20 { margin-bottom: 10px !important; }
.busHeading {
font: 27px/31px oswald-Bold;
}
/*Unique Business School Section : Code End*/


}
@media (min-width: 460px) and (max-width: 639px) {
.acad-details ul li{width:48%!important}
.acad-details ul li:nth-of-type(2n+2){float:right}
.corp-cont h5{font-size:15px}
.corp-cont p{font-size:13px}
ul.logo-list li{width:104px}
.pb80{padding-bottom:30px}
}
@media (min-width: 300px) and (max-width: 459px) {
.swiper-banner .swiper-button-prev{left:-22px!important}
.swiper-banner .swiper-button-next{right:-16px!important}
}
@media (min-width: 1640px) and (max-width: 1920px) {
.polygon-bg-right{background-position:840px 0}
.student-bg{background-position:0 -590px}
.student-bg.student-bg3{background-position:0 -690px}
}
@media (min-width: 642px) and (max-width: 767px) {
/* program page */
.digital-bootcamp ul.bootcamp-box li{width:calc(50% - 20px);margin:0 20px 20px 0;padding:20px;min-height:90px}
.section-ideaboxoutr{width:100%}
.container{max-width:95%!important}
.sec-box-idea{width:100%;margin-left:0;margin-right:0}
.section-why .mediumheading{width:100%}
.slider-left{width:100%;margin-bottom:0}
.slider-right{width:100%}
.industry-box{margin-right:25px;width:42%;margin-bottom:30px}
.why-sliderOutr.urbancampus .slider-right img{max-width:100%}
.why-sliderOutr.urbancampus .slider-left.wow.fadeInUp{margin-top:0}
.why-sliderOutr.urbancampus .slider-right{width:100%}
span.map-label{top:33px;right:268px}
.map-dot{top:100px;right:327px}
.researchlast-box{margin-bottom:30px}
.reasearch-box{width:30%;margin-right:15px;margin-bottom:30px}
.researchlast-boxinner{background:#fff;box-shadow:0 3px 7px 2px rgba(0,0,0,0.05)}
.footer-outr{width:100%}
footer.footer-main .col-md-4{border:none;margin-bottom:40px;width:100%}
footer.footer-main li.f-logo a img{padding-left:0;max-width:200px;margin-bottom:0}
/* footer ul,footer h3,footer img{padding-left:0!important} */
/* program page */
}
@media (min-width: 1025px) and (max-width: 1200px) {
.section-ideaboxoutr{width:100%}
.industry-box{margin-right:25px;width:30%}
}
@media (min-width: 1600px) and (max-width: 1920px) {
.section-1{background-position:right 23%;background-size:86%}
.section-1 .container-fluid{width:47%}
.section-urban{background-position:0 10%}
.urban-right{margin-right:180px}
}
@media(min-width:821px) {
.digital-bootcamp .process-tabs.tech-boot-new .nav-tabs{display:flex}
.digital-bootcamp .process-tabs.tech-boot-new .card{border:none}
.digital-bootcamp .process-tabs.tech-boot-new .card .card-header{display:none}
.digital-bootcamp .process-tabs.tech-boot-new .card .collapse{display:block}
}
@media(max-width:992px) {

   #Blog-post .five-boxs .square-box {
      width: 30%;
      min-height: 260px;
  }

   .step-wizard li {  width: 33.33%;}
   .mt115 {
      margin-top: 80px!important;
  }
.web-pieImage {
margin-left: 15px;
}
.row.statistic_section > div:nth-of-type(5) {
padding-left: 0;
}
.c-2021-list-txt > div:nth-last-of-type(3),.c-2021-list-txt > div:nth-last-of-type(4) { padding-top: 25px; }
.c-2021-list-txt {
justify-content: flex-start;
}
.c-2021-list-txt p {
min-height: 35px;
}


.about-press-section .news-links{max-width:30%;margin:0 20px 20px 0}
.colm-class-outer > .row > div .slider-for-company.collaborative-section { margin:0 !important; height: 100%; }

.colm-class-outer > .row > div:nth-of-type(1) .slider-for-company.collaborative-section figure,
.colm-class-outer > .row > div:nth-of-type(2) .slider-for-company.collaborative-section figure,
.colm-class-outer > .row > div:nth-of-type(3) .slider-for-company.collaborative-section figure { margin-top:0 }
.colm-class-outer { display: flex; }
}
@media(max-width:821px){
   ul.dropdown-menu.for-sub-menu, ul.dropdown-menu.for-sub-menu:focus, ul.dropdown-menu.for-sub-menu:active,ul.dropdown-menu.for-sub-menu.active { float: left; background: transparent;  border: 0;padding-left: 10px; padding-top: 0;position: unset;padding-bottom: 0; width: 100%;}
   ul.dropdown-menu.for-sub-menu .dropdown-submenu{padding-left: 15px;}
.course-content-outer{display:block}
.course-content-outer .class-no{width:100%}
/* .course-content-outer .class-no:nth-child(1){margin-bottom:20px} */
.course-content-outer .class-no:nth-child(1) .table{margin:0}
.about-press-section .news-links{max-width:calc(50% - 10px);margin-right:20px}
.about-press-section .news-links:nth-of-type(2n+2){margin-right:0}

body,html{overflow-x:hidden}
.digital-bootcamp .process-tabs.tech-boot-new .tab-content > .tab-pane{display:block;opacity:1}
section.topbar-menu.homeheader_outr ~ div div#whypgp .digital-bootcamp .process-tabs.tech-boot-new .tab-content .tab-pane.active{top:0}
.digital-bootcamp .process-tabs.tech-boot-new .card-header{border:0;padding:0;width:100%;margin-right:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px}
.digital-bootcamp .process-tabs.tech-boot-new .card{border:0;background:transparent}
a.menu-mobile-chain.collapsed{box-shadow:none}
a.menu-mobile-chain{position:relative;opacity:1;box-shadow:0 1px 5px 1px rgba(0,0,0,0.05)}
a.menu-mobile-chain:before{position:absolute;content:'';border:0!important;border-left:5px solid #F12A2A!important;right:inherit!important;left:0!important;height:100%;border-radius:3px 0 0 3px;-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;transition:.5s ease-in-out;-ms-transition:.5s ease-in-out;-o-transition:.5s ease-in-out}
a.menu-mobile-chain.collapsed:before{display:none}
.digital-bootcamp .process-tabs.tech-boot-new a.menu-mobile-chain{background:#fff;padding:10px 15px;min-height:70px;display:flex;cursor:pointer;align-items:center;border:1px solid #efefef!important}
.digital-bootcamp .process-tabs.tech-boot-new a.menu-mobile-chain img{height:30px;margin-right:20px}
.digital-bootcamp .process-tabs.tech-boot-new a.menu-mobile-chain p{font-family:'nunitosans-Bold';color:#F12A2A;text-transform:uppercase;font-size:13px}
.digital-bootcamp .process-tabs.tech-boot-new .card.tab-pane{margin-bottom:10px!important}
.digital-bootcamp .process-tabs.tech-boot-new .card.tab-pane:last-of-type{margin-bottom:0!important}
.digital-bootcamp .process-tabs.tech-boot-new .tab-content{background:transparent}
.digital-bootcamp .process-tabs.tech-boot-new .card-body{border:1px solid #f2f2f2;border-top:0;background:#fff;width: 100%;}
.highly-list-carousel .highly-list-outr span.date-withBG:after{width:200%}
ul.fellow-box li{width:50%;margin-bottom:15px;padding-right:20px}
.target-right ul.mang-box li{width:calc(33.33% - 10px);flex:inherit}
table.deadline-table.full-length-table th,table.deadline-table.full-length-table td{padding:15px 10px;min-width:130px}
.target-outr.peer-group-outer{flex-wrap:wrap}
.urban-outr.campusbg{ min-height: 260px !important; background-position:  top;}
.classroom-slideOutr ul.bootcamp-box.bootcamp-box li{ width: 45%;}
}
@media (max-width:1199px) {
.section-unique-industry .corporate-field ul.bootcamp-box.bootcamp-box li{width:18%;margin:0 22px 10px 0;min-height:217px}
ul.quote-list{display:flex}
.quote-outer .quote-video iframe{width:100%!important}
}
@media (max-width: 1162px) {
.founding-flip-card{width:19.5%;height:242px}
}
@media (max-width: 1024px) {

header.header-main .cc-container a.logo {
margin-top: -30px;
}



nav.primary-nav ul li { padding: 0; }
.colm-class-outer > div:nth-of-type(1),.colm-class-outer > div:nth-of-type(2),.colm-class-outer > div:nth-of-type(3) {margin-top:20px; }
.section-what.padd100.concent-section{padding-top:0!important}
.founding-flip-card{width:24.8%;height:230px}
.aboutboldheading{font-size:45px}
body::-webkit-scrollbar{width:5px}
/* Home Page new changes : code Start */
.pt90{padding-top:60px!important}
.classroom-slideOutr.no-border.corporate-field{padding-top:60px}
.left-side-box.shadow-left{width:210px;padding:0 15px 0 0}
.left-side-box.shadow-left + .right-side-box.d-flex{width:calc(100% - 210px);padding-left:15px}
.classroom-slideOutr.no-border.corporate-field.mt80{margin-top:0!important}
.section-unique-industry.padd100 .classroom-slideOutr.no-border.corporate-field.pt-90{padding-top:50px}
/* Home Page new changes : code End */
.books-right-col .applynow-outr a,.books-right-col .applynow-outr a:link,.books-right-col .applynow-outr a:visited{font-size:10px}
.padd100{padding:60px 0!important}
.pt100{padding-top:60px!important}
.pb100{padding-bottom:60px!important}
.pb90{padding-bottom:50px!important}
.mb90{margin-bottom:50px!important}
.pt80{padding-top:50px!important}
.mb100{margin-bottom:60px!important}
/* .classroom-slideOutr.no-border.corporate-field{padding-top:60px} */
.pb70{padding-bottom:40px!important}
.digital-bootcamp{padding:50px 0}
.pb60{padding-bottom:20px!important}
.section{padding-top:60px}
.career-block.classroom{margin-bottom:60px}
#scroll-industry .boldheading.text-left.mb50{margin-bottom:0}
.view-more-outer{margin:40px 0 0}
.pb20{padding-bottom:15px!important}
.mb20,.mrbtm20{margin-bottom:15px!important}
.mt100{margin-top:60px!important}
.ptb100{padding:60px 0!important}
.mb80{margin-bottom:40px!important}
.career-block.classroom .bodytext,.smallheading{margin-bottom:15px}
.section.padd100.pb50{padding-bottom:40px!important}
.section.padd100.pb85{padding-bottom:50px!important}
ul.logo-list li{padding:10px}
.mb50{margin-bottom:30px!important}
.section-becomeMaster{margin-bottom:60px}
p.red-line-heading{margin-top:15px}
.mb30{margin-bottom:20px!important}
.mt80{margin-top:40px!important}
.slider-for-company.collaborative-section{margin-top:20px;height:calc(100% - 23px)}
section.becomeMaster.section-what{padding:60px 0}
.career-list{margin-bottom:15px}
.events-list .news-links{margin-top:15px}
.mt70{margin-top:40px!important}
.student-networkbox{margin-top:20px!important}
section.text-left.padd100.pb90.dark-theme{padding-bottom:60px!important}
.admission-box.industry-boxes.fadeInUp.owl-carousel{margin-top:0;margin-bottom:0}
.form-container.mt20{margin-top:0}
ul.process-tabs-list > li:last-of-type{padding-bottom:0!important}
.process-tabs-smallheading{margin-bottom:20px}
.applynow-outr{padding-top:30px}
.faq-ques + .applynow-outr{padding-top:0}
.btn-outer.applynow-outr.applynow-career-outr { margin: 0; padding:0; }

.club-block{margin-bottom:60px}
.section-WSmenu,.section-what.section-faq{margin-top:115px;margin-bottom:60px;padding-top:60px}
.mt115.courses-roster-outer { margin-top:70px!important; }
.footer-outr{margin-top:60px!important;margin-bottom:20px!important}
.new-flex-box{margin:60px 0 0}
.urban-outr{margin-bottom:55px}
.student-bg.student-bg3{margin-top:115px!important}
.master-tabs .tab1-list .tab1-list-items:nth-of-type(1),.master-tabs .tab1-list .tab1-list-items:nth-of-type(2){margin-top:0}
.section-urban .boldheading-meadium{margin-bottom:15px}
.bodytext{margin-bottom:15px}
.boldheading-meadium{margin-bottom:15px}
.master-tabs .tab-content{margin-top:20px}
.master-tabs.target-tabs .tab-content{margin-top:20px}
.section-news.padd100.pb60{padding-bottom:60px!important}
.news-box-left + p{min-height:auto}
.target-outr ul.news-box li a{display:flex;align-items:center}
.hackathons-outr ul li{display:flex;flex-wrap:wrap}
.admission-box li span{min-height:auto}
.urban-outr.campusbg{ min-height: 300px !important; background-position:top; margin-bottom: 60px;}
.classroom-slideOutr.no-border.corporate-field { padding-top: 60px; }
.v-tab-content{padding:15px 0}
.banner-main-heading{font:65px/78px oswald-Bold}
#aboutbannerHeading .text-highlight:before{top:2px;bottom:16px}

.table-responsive.roaster-table-outer .table thead th {
white-space: normal;
}

}
@media (min-width: 768px) and (max-width: 1024px) {
ul.mang-box li label{font-size:24px}
ul.student-clubOutr li p{font:15px/19px nunitosans}
ul.student-clubOutr li figure{width:25px;min-height:25px;margin:0 7px 0 0}
ul.student-clubOutr li figure img{max-width:75%}
.process-tabs ul.nav.nav-tabs a.nav-link span{font-size:14px}
.section-admission p.mediumheading,p.statistics-smallheading{font-size:20px}
/* nav.primary-nav-2 ul li a,section.main-section.sticky nav.primary-nav-2 ul li a,.header-main.homeheader.lighttheme a.floatDownloadBrochure {font-size:13px!important} */
.home-right{font-size:32px;}
.home-left{font-size:32px; text-align: left;}
ul.mang-box li p{font-size:24px}
.big-boldheading{font-size:80px; line-height: 91px;}
.master-tabs ul.nav.nav-tabs a.nav-link{font-size:18px}
.tab-content p.home-smallheading{font-size:18px}
h5.subheading{font-size:26px}
.sec-box label,.smallheading, .points .sec-box label{font-size:16px}
p.home-smallheading.big-subheading{font-size:20px}
.target-left p{font-size:42px; line-height:42px;}
ul.news-box li .news-box-left + p span{font-size:13px}
.news-box-left p{font-size:16px;min-height:auto}
.news-box-left span{font-size:12px}
.news-box-left + p{font-size:16px}
footer.footer-main li,footer.footer-main li a{font-size:14px!important}
input.form-control.footer-input + .input-group-append button{font-size:11px!important}
.mediumheading,p.smallheading.custom-smallheading{font-size:20px}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active p{font-size:12px}
.master-tabs{top:-20px}
.master-tabs ul.nav.nav-tabs a.nav-link{padding:8px 20px}
.master-tabs ul.nav.nav-tabs{min-width:auto}
.master-tabs ul.nav.nav-tabs li.nav-item{width:auto}
.master-tabs.target-tabs ul.nav.nav-tabs li.nav-item{width:50%}
.boldheading{font-size:55px;line-height: 60px;}
.highly-list-carousel .highly-list-outr span.date-withBG:after{width:400%}
.box-cont { padding:15px; }
}
@media (min-width: 640px) and (max-width: 767px) {
.career-block-items { height: auto; }
}
@media (min-width: 860px) and (max-width: 957px) {
ul#muif-section.bootcamp-box.bootcamp-box li { width: 100%; margin-bottom:0; }
ul#muif-section.bootcamp-box.bootcamp-box { display: flex;
flex-wrap: nowrap; height: 100%; }
}
@media (min-width: 769px) and (max-width: 861px) {
ul#muif-section.bootcamp-box.bootcamp-box{flex-wrap:wrap;justify-content:space-between}
ul#muif-section.bootcamp-box.bootcamp-box li{width:49%;margin:0 0 15px;min-height:auto}
ul#muif-section.bootcamp-box.bootcamp-box li:nth-of-type(2n+2){float:right}
}
@media (max-width:991px) {

.event-banner{height:240px}
.quote-outer .quote-txt{font:18px/30px nunitosans}
.q-txt{font:16px/21px Nunitosans;color:#4E5D64}
.books-right-col span.applynow-outr a i.material-icons{margin-top:-8px;font-size:13px}
#books .sec-box-idea{flex-direction:column;padding-top:10px;align-items:center;text-align:center}
.books-bg-img,.books-sec-img{text-align:center;margin:0 auto}
.student-networkbox.sec-box-idea.books-right-col label,.books-right-col span{text-align:center}
.books-right-col span.applynow-outr{text-align:center}
}

@media (max-width:700px) {
   .three-boxs .square-box {
      width: 45%;
      margin-top: 0px;
     
  }



  .five-boxs .square-box {
   width: 46%;
}

.six-boxs .square-box {
   width: 100%;
}
   }

   @media (max-width:530px) {
      .five-boxs .square-box {
         width: 100%;
         margin-right: 0px;
      }
   
      }


 
@media (max-width:900px) {
.home-right{width:calc(100% - 420px)}
.swiper-video-outer {width:400px} 
.c-2021-list-txt {
justify-content: flex-start;
}
/* .c-2021-list-txt > div:nth-of-type(1),.c-2021-list-txt > div:nth-of-type(2),.c-2021-list-txt > div:nth-of-type(3) { margin-bottom: 30px; } */

.c-2021-list-txt .colm-5 p {
font: 13px/15px nunitosans;
}  
}
@media(max-width:821px){
   /* new code  */
   .committee-members .c-m-left {  width: 100%;padding-right: 0;}
   .committee-members ul.c-m-list {display:flex;width: 100%;flex-direction:row;}
   ul.c-m-list li {
      display: flex;
      flex-direction: column;
      width: 25%;
   }
   ul.c-m-list li figure {
      width: 100%;
      height: 135px;
      overflow: hidden;
  }
  ul.c-m-list li .c-m-details {
   width: 100%;
}
ul.c-m-list li:not(:last-child){
   padding-right:10px;
}
.committee-members .c-m-right {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}
.committee-members .c-m-right .c-m-list {
   width: 100%; height: auto;
}
.c-m-right .masters-info { margin: 10px 0;}
   /* new code  */
.course-content-table.cohort-second-table {     margin-top: -43px; }
.course-content-table.cohort-second-table thead { visibility: hidden;  }
header.header-main .cc-container a.logo {
margin-top: 0;
}

.concentratebg.aboutbg.researchbg,.concentratebg.aboutbg.mt115 {
margin-top: 70px !important;
}
.colm-class-outer {
display: inline-block;
}
.c-2021-list-txt {
justify-content: flex-start;
}
/* .c-2021-list-txt > div:nth-of-type(1),.c-2021-list-txt > div:nth-of-type(2),.c-2021-list-txt > div:nth-of-type(3) { margin-bottom: 30px; } */

.c-2021-list-txt p {
font: 13px/15px nunitosans;
}  



.section-what.padd100.concent-section{margin-top:0!important}
.section-what.padd100.concent-section .concentratebg.mt115{margin-top:110px!important}
.main-section.topBarActive .section-what.padd100.concent-section .concentratebg.mt115{margin-top:150px!important}
.concentratebg.aboutbg{margin-top:80px!important;float:none}
.concentratebg.aboutbg.roasterbg {
margin-top: 70px !important;
}
.main-section.topBarActive .concentratebg.aboutbg{margin-top:150px!important}
.instructor-item .leftoutr{margin-left:15px;width:calc(100% - 117px)}
.sub-menu a.item{font:14px/16px nunitosans;padding:6px 12px}
.main-section.topBarActive .section-Bmenu,.main-section.topBarActive .section.careers-sectionss{margin-top:109px}
.main-section.topBarActive .section-what.concent-section{margin-top:148px}
.section-what.concent-section .student-top-section .student-overlay{padding:0}
.section-what.concent-section .section-what.concentratebg{display:flex;align-items:center}

.section-WSmenu,.section-what.section-faq{margin-top:75px}
.master-tabs .tab-content{margin-top:5px}
header.header-main .cc-container{min-height:inherit;justify-content:space-between}
.student-bg.student-bg3{margin-top:70px!important}
header.header-main.homeheader{min-height:70px!important}
.target-left em{margin:0}
.box-cont{padding:10px}
.box-cont h3{font-size:26px}
.noImgMasterOuter .leftoutr:before{display:none}

/* Home Page new changes : code Start */
.shadow-main.new-flex-box{margin:10px 0 0}
.left-side-box.shadow-left + .right-side-box.d-flex{width:100%;padding-left:15px}
/* Home Page new changes : code End */

a.floatDownloadBrochure br{display:none}
.header-main.homeheader.lighttheme a.floatDownloadBrochure{color:#F12A2A!important}
.header-main.lighttheme nav.primary-nav-2 ul li a.apply-btn{padding:7px 16px 6px;max-width:130px;padding:7px 16px 6px;max-width:130px}
form.DownloadBrochureForm, .float-enquire-form {
   padding: 40px 20px 20px
}
.DownloadBrochureForm.masterFormOur , .float-enquire-form.masterFormOur{
   width: 290px;
   padding: 20px
}
form.DownloadBrochureForm.masterForm .form-group, form.float-enquire-form.masterForm .form-group {
   margin-bottom: 10px
}
.downloadBrochureBtnform{padding:12px}
nav.primary-nav-2 ul{display:block}
nav.primary-nav-2 .for-sub-menu{display: none;}
a.floatDownloadBrochure:hover,a.floatDownloadBrochure:focus{text-decoration:none;opacity:1}
.event-banner + .container .align-items-center .boldheading-meadium.pt50{padding-top:0}
.event-banner{height:230px}

.home-right{width:calc(100% - 340px)}
.swiper-video-outer{width:330px}
}

@media (max-width:768px) {
   ul.bootcamp-box.bootcamp-box li {
      width: calc(50% - 20px);
      align-items: center;
      display: flex;
  }
/* .c-2021-list-txt > div:nth-of-type(1),.c-2021-list-txt > div:nth-of-type(2),.c-2021-list-txt > div:nth-of-type(3) { margin-bottom: 25px; } */
/* Video : code start */
.bigVideoSection,.smallVideoSection,.commentVideoSection { width: 100%; }
.smallVideoSection{border-top: 1px solid #cccc;padding-top: 20px;}
.commentVideoSection { margin-top:30px }
.bigVideoLikeDetailRight a span {
margin-right: 5px;}
.bigVideoLikeDetailLeft span {
margin-right: 6px;
padding-right: 6px;}
.bigVideoLikeDetailRight a, .bigVideoLikeDetailRight a:link, .bigVideoLikeDetailRight a:visited { margin-right: 10px; }
/* Video : code end */

.feature-left,.feature-right{width:100%}
.service-outer > div,.service-outer > div:last-of-type,.service-outer > div:nth-last-child(2),.feature-right{margin-top:20px}
#thumbs,#thumbs1{min-height:90px}


.footer-bar{padding-bottom:60px!important}
.sidebar-outer{right:0;top:inherit;z-index:10;-webkit-transform:translateY(0);-moz-transform:translateY(0);transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);bottom:0;left:0;-webkit-box-shadow:0 0 0 rgba(0,0,0,0);-moz-box-shadow:0 0 0 rgba(0,0,0,0);box-shadow:0 0 0 rgba(0,0,0,0);-ms-box-shadow:0 0 0 rgba(0,0,0,0);-o-box-shadow:0 0 0 rgba(0,0,0,0)}
ul.sidebar-list{max-width:inherit;max-height:inherit;position:relative; -webkit-box-shadow:0 0 10px rgba(0,0,0,0.1);-moz-box-shadow:0 0 10px rgba(0,0,0,0.1);box-shadow:0 0 10px rgba(0,0,0,0.1);-ms-box-shadow:0 0 10px rgba(0,0,0,0.1);-o-box-shadow:0 0 10px rgba(0,0,0,0.1);width:100%;display:flex;background:#fff;justify-content:space-between}
ul.sidebar-list li{width:100%;display:flex;flex-direction:column;align-items:center;padding:5px;background:#fff}
ul.sidebar-list li a,ul.sidebar-list li a:link,ul.sidebar-list li a:visited{position:relative;display:block;float:left;width:100%;right:inherit;left:inherit;height:auto;padding:0;margin-top:5px;order:2;text-align:center;white-space:pre-wrap;font:10px/12px nunitosans;letter-spacing:.3px}
ul.sidebar-list li:hover a{right:inherit;bottom:inherit;left:inherit;border-left:0;
-webkit-box-shadow: 0 0 0 rgba(0,0,0,0); -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
box-shadow: 0 0 0 rgba(0,0,0,0);
-moz-box-shadow: 0 0 0 rgba(0,0,0,0); -ms-box-shadow: 0 0 0 rgba(0,0,0,0);
}
ul.sidebar-list li figure{width:26px;height:20px;order:1}
ul.sidebar-list li figure span{font-size:20px}
ul.sidebar-list li figure img{width:53%}

.masters-qoute.owl-carousel{padding:0 20px!important}
.masters-qoute .owl-nav button.owl-next{position:absolute;right:10px!important}
.masters-qoute .owl-nav button.owl-prev{position:absolute;left:-30px!important}
ul.will-learn-list{float:none}
.quote-video iframe{width:100%}
ul.quote-list li{max-width:inherit}
.founding-flip-card{width:33%;height:255px}
.quote-outer{display:block}
.quote-outer .quote-content{padding-top:20px}
.quote-outer .quote-video,.quote-outer .quote-content{width:100%}
.quote-outer .quote-content{padding-left:0;padding-right:0}
ul.quote-list{width:100%;padding:0 20px;margin:0;margin-bottom:20px}
ul.quote-list li.active::before{border-left:7px solid transparent;border-right:7px solid transparent;border-top:8px solid #000;border-bottom:transparent!important;top:100%!important}
.quote-outer .quote-txt{overflow:inherit;display:inherit;-webkit-line-clamp:inherit;-webkit-box-orient:inherit}
.quote-outer .quote-img{width:48px!important;margin-bottom:15px}
.aboutboldheading{font-size:36px}

.section-unique-industry .corporate-field ul.bootcamp-box.bootcamp-box li{width:100%;min-height:0;padding:20px;display:flex;align-items:center}
/* Home Page new changes : code Start */
a.DownloadBrochureBtn,a.DownloadBrochureBtn:link,a.DownloadBrochureBtn:visited,.downloadBrochureBtnform{min-width:200px;font:14px/16px nunitosans-Bold}
/* Home Page new changes : code End */

.d-inline-block.cont-learn .col-md-6.float-left{padding:0}
#course-concentration-desktop > div{padding:0}
.applynow-outr button.submit.event-popup-book{padding:10px 20px 9px}
.v-tab-content{padding:20px 10px}
.banner-main-heading{font:51px/58px oswald-Bold}
#aboutbannerHeading .text-highlight:before{top:6px;bottom:15px}
.banner-sub-heading{font:25px/33px nunitosans}
em.inc-intership-text br{display:none}
.v-tabs.mt40 ul.mang-box li p{align-items:center}
.container.abt-container .row{flex-direction:column-reverse}

/* about master */
.founding-master-outer{display:none}
.about-master-mobile{display:block}
#carouselMasters .carousel-control-prev,#carouselMasters .carousel-control-next{width:5%}
#carouselMasters .carousel-control-prev-icon .material-icons,#carouselMasters .carousel-control-next-icon .material-icons{color:#4E5D64}
#carouselMasters .carousel-control-next,#carouselMasters .carousel-control-prev{opacity:1}
#carouselMasters .carousel-control-prev{-webkit-transform:rotate(-180deg);-moz-transform:rotate(-180deg);transform:rotate(-180deg);-ms-transform:rotate(-180deg);-o-transform:rotate(-180deg)}
#carouselMasters .swiper-slide{width:320px!important;position:relative;left:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%)}
#carouselMasters{width:80%;left:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%)}
/* about master */

.founding-detail-info .box-cont{background:linear-gradient(0deg,black 50%,transparent 100%)}
.faq-ques p{font:15px/21px nunitosans}
.faq-ques h4{font:18px/21px oswald-bold}
.section-who.darktheme-bg::after{height:10%}
/* nia chat  */
div#__eechatIcon { bottom: 70px!important; right: 6px;}
}




@media(max-width:767px){

   #Blog-post .five-boxs .square-box {
      width: calc(50% - 20px);
   }

  

   .blogs-section .career-right {
      width: 90%;
  }


   .blogs-section .career-left {
      width: 100% !important;
  }

  .blogs-section {
      flex-direction: column-reverse;
  }

   .boldheading-meadium span {
      font-size: 32px;
      line-height: 40px;
  }

   .two-boxs .square-box {
      width: 46%;
  }


  .six-boxs .square-box {
   width: 46%;
}

   .investhome-bg { min-height: 400px;}
  .start-invest .smallheading {
      font-size: 22px!important;
  }
   .step-wizard li .title {
      top: 2px;
      left: 7px;
      height: 20px;
      width: 20px;
      font-size: 11px;
  }
  .step-wizard li .step {
   font: 11px/12px 'nunitosans-Bold';

}
.step-wizard .progress { top: 48px;}
.investment-2 {font: 37px/40px oswald-Bold;margin-top: 5px;}
a.downloadAll-btn, a.downloadAll-btn:link, a.downloadAll-btn:visited {
padding: 8px 15px 6px 15px;}
.row.statistic_section > div:nth-of-type(2n+1) {
padding-left: 0;
}
.web-pieImage {
float: none;
margin: 0;
padding: 0;
position: relative;
left: 50%;
transform: translateX(-50%);
display: inline-block;
margin-top: 40px;
}


.concentratebg.aboutbg.researchbg .banner-main-heading br,
.concentratebg.studentlifebg .banner-main-heading br { display: none; }
.filter-cont-outer > div.d-flex.justify-content-between { flex-wrap: wrap; }
.filter-cont-outer .form-group.select-concentration-outer {
width: 49%;
}
.colm-class-outer > .row > div .slider-for-company.collaborative-section figure { margin-top:25px }
.c-2021-list-txt > div:nth-last-of-type(3), .c-2021-list-txt > div:nth-last-of-type(4) {
padding-top: 0;
}
.c-2021-list-txt p:last-child {
margin-bottom: 10px; min-height: 35px;
}
.c-2021-list-txt > div:nth-last-of-type(2) p:last-child, .c-2021-list-txt > div:nth-last-of-type(1) p:last-child {
margin-bottom: 0; min-height: auto;
}
.emp-hide-mob { display: none; }
.emp-hide-web { display: block; }
.colm-class-outer > .row > div:nth-of-type(2n+2) {
padding-left: 0;
}
.colm-class-outer > .row > div:nth-of-type(3) .slider-for-company.collaborative-section figure { margin-top:20px }
.c-2021-list-txt > div:nth-last-of-type(3) { padding-top: 25px; }

.feesDetailSection .slider-for-company.collaborative-section {
margin-top: 20px;
}
.concentrationCoreOuter.d-flex {  width: 100%; display: inline-block !important; }

.occupancy-heading.mmb0 { margin-bottom: 0; }
.occupancy-heading {
font: 600 21px/29px 'oswald';
}
.feesDetailSection .slider-for-company.collaborative-section {
margin-top: 20px;
}
/* .feesDetailSection .slider-for-company.collaborative-section:first-of-type { margin-top:0; } */


.scholar-table td{padding:10px 15px 7px 15px; font: 15px/19px 'nunitosans'; }

.books-bg-img{background-size:contain;background-repeat:no-repeat;background-position:center}
.books-sec-img{box-shadow:none}
.event-topBar,.event-topBar a, .event-topBar a:link, .event-topBar a:visited { font: 12px/15px nunitosans }
.section-what.student-bg.text-left{padding:0}
.error-outr .error-left h3.boldheading{font-size:90px;line-height:normal}
.student-networkbox.sec-box-idea label{font-size:20px}
.bodytext{font-size:15px}
.secondary-menu-nav li.back_link a i,.secMenuDropdown li.back_link a i{font-size:16px;top:4px}
.custom-accordion .card-body .mang-boxes ul li span{font-size:10px;margin-bottom:5px;padding:5px 7px}
.custom-accordion .card-body .mang-boxes ul li:first-child{padding-left:2px;padding-right:2px}
.concentration-tabs ul.nav.nav-tabs a.nav-link span{font-size:12px;display:block;width:100%;float:left}
.concentration-tabs ul.nav.nav-tabs a.nav-link img{height:25px;display:none}
.process-tabs-smallheading,ul.cost-fee li p,.tab-content p.home-smallheading{font-size:15px}
ul.calculation-list.new-list li label{font-size:24px}
.section-scholarships .custom-accordion .card-header button.btn,.custom-accordion .card-header button.btn,.policy-tabs .custom-accordion .card-header button.btn{padding:0;font-size:16px;padding-right:10px}
span.open-icons{right:-10px;top:50%;transform:translateY(-43%)}
.income-box p{font-size:16px;line-height:1.5}
.income-box{margin:20px 0;min-height:200px}
ul.cost-fee li label{font-size:18px}
p.statistics-smallheading{font-size:18px;margin-top:20px;margin-bottom:0}
.section-deadline .custom-accordion .card-header button.btn{padding:0;font-size:16px}
p.process-tabs-smallheading2{font-size:16px!important;margin-top:0}
.process-tabs .tab-content ul.process-tabs-list li,ul.process-tabs-list li,.digital-bootcamp .process-tabs .tab-content ul.process-tabs-list li,.process-tabs .tab-content ul.process-tabs-list li i.material-icons,.digital-bootcamp .process-tabs .tab-content ul.process-tabs-list li i.material-icons,ul.process-tabs-list li i.material-icons{font-size:15px}
.section-admission p.mediumheading{margin-bottom:20px;font-size:18px;line-height:1.5}
.hamburger a i.material-icons{font-size:34px;color:#101010}
.hamburger-close a i.material-icons{font-size:34px;color:#101010}
/* section.main-section.sticky nav.primary-nav-2 ul li a{font-size:16px} */
section.main-section.sticky .menu-program,.menu-program{cursor:pointer;padding-top:5px;padding-bottom:5px;font-weight:100;font-size:20px}
ul.mang-box li p{font-size:22px}
.mang-checkbox a{padding-right:40px;font-size:13px;text-transform:none}
.big-boldheading{font-size:45px;line-height:45px}
.master-tabs ul.nav.nav-tabs a.nav-link{font-size:14px;padding:5px;line-height:17px}
.master-tabs .tab-content .tab-pane p.home-smallheading{width:100%;padding-right:0;font-size:18px}
h5.subheading{font-size:24px;line-height:1.2}
.boldheading-meadium{font-size:38px;line-height:1.2;margin-bottom:15px}
.concent-heading {
font: 18px/21px 'oswald-Bold';
}
.sec-box label{font-size:15px!important}
.smallheading{font-size:16px!important;letter-spacing:0;line-height:1.4;margin-bottom:15px}
p.home-smallheading{font-size:16px}
p.home-smallheading.big-subheading{font-size:16px}
.boldheading{font-size:42px;line-height:1.2}
.tab-navigation a{font-size:12px;padding-top:0;padding-bottom:0}
.process-tabs ul.nav.nav-tabs li.nav-item a.nav-link:before{border-left:15px solid #E7EAF7;border-top:30px solid transparent;border-bottom:30px solid transparent;right:-15px}
.process-tabs ul.nav.nav-tabs a.nav-link p{font-size:11px;text-align:center}
.target-left p{font-size:42px;line-height:42px}
.target-left em{font-size:90px}
.academics .concentration-tabs ul.nav.nav-tabs li.nav-item a{font-size:15px;display:inline-block;padding:10px;width:100%}
a.masterCta{padding:18px 30px;font-size:13px}
.student-top-section .student-overlay span{width:85%;font-size:20px}
ul.student-clubOutr li p{font:15px/19px nunitosans}
ul.student-clubOutr li figure{width:25px;min-height:25px;margin:0 7px 0 0}
ul.student-clubOutr li figure img{max-width:75%}
.enroll-outr a.apply-btn,.enroll-outr a.apply-btn i.material-icons{font-size:13px}
.enroll-outr a.apply-btn i.material-icons{top:calc(50% - 2px)}
.master-overview .name{font-size:20px}
.master-overview .info{font-size:13px}
.master-overview ul li:nth-child(2n+1){padding:0 5px}
.master-overview ul li{font-size:12px}
.details-tab ul.nav-tabs .nav-item .nav-link{font-size:0;padding:10px;border-radius:0!important;text-align:center;border-right:0}
.details-tab ul li.nav-item:last-child a{border-right:1px solid #dee2e6!important}
.details-tab ul.nav-tabs .nav-item .nav-link i{margin-left:3px}
.activity-outer{display:none}
.details-tab .tab-content{width:100%;padding-left:0}
.details-heading,.activity-heading{font-size:16px}
.details-tab .details-heading + ul li{margin-bottom:5px;font-size:14px}
.details-inner p{font-size:14px}
.details-tab .tab-content .applynow-outr a{padding:15px 50px 15px 20px}
.details-tab .tab-content .applynow-outr i{font-size:16px;margin-left:10px}
.home-banner { flex-wrap: wrap; }
.home-right{width:100%; min-height:auto;text-align:center}
.home-left{font-size:29px;line-height:1.3}
.new-flex-box{display:inline-block;margin:50px 0 0}
.left-side-box{width:100%!important;padding:0}
.right-side-box{width:100%;padding-left:20px}
.digital-bootcamp .process-tabs ul.nav.nav-tabs li.nav-item a.nav-link{font-size:0;min-height:70px!important;padding:0!important;display:flex;align-items:center;text-align:center;width:100%;margin-right:0!important;padding:10px 15px!important}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active p,.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link p{font-size:13px;float:left;margin-top:0;width:calc(100% - 50px)!important;text-align:left}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active p span,.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link p span{font-size:0}
.career-filter-section{font-size:14px}
a.back-btn,a.back-btn:link,a.back-btn:visited{font-size:14px!important;margin-top:17px}
.custom-file.attach-resume-file label{padding:10px 15px;font-size:12px;line-height:12px}
.career-list-heading{font-size:16px}
.career-list-text{font-size:12px;line-height:18px}
.news-links .news-links-text p{font-size:17px;min-height:auto}
.eventlink-time span{font-size:16px}
.event-start-date{font-size:17px;line-height:24px}
.talent-topText p{font-size:16px;line-height:25px}
.student-engagement-detail span{margin-right:10px;font-size:15px}
.career-block .custom-accordion .card-header button.btn{padding:0 20px 0 50px !important;font-size:16px;line-height:1.3}
.sec-box-idea label{font-size:15px}
.sec-box-idea:last-child{margin-bottom:0!important}
.mediumheading{font-size:18px!important}
ul.intelligence-list li label{font-size:16px;line-height:1.3}
.section.text-left.pb100{padding:50px 0!important}
.view-more-outer{margin:45px 0 0}
.pb20{padding-bottom:15px!important}
.mb20,.mrbtm20{margin-bottom:15px!important}
/* .boldheading{margin-bottom:5px!important} */
.highly-list-carousel .highly-list-outr span.date-withBG:after{width:400%}
.mt100{margin-top:60px!important}
.ptb100{padding:60px 0!important}
.mb80{margin-bottom:40px!important}
.career-block.classroom .bodytext{margin-bottom:15px}
.section.padd100.pb50{padding-bottom:40px!important}
.section.padd100.pb85{padding-bottom:50px!important}
.mb50{margin-bottom:30px!important}
.student-networkbox.sec-box-idea{height:auto;width:100%;margin-right:0}
.section-becomeMaster{margin-bottom:60px}
p.red-line-heading{margin-top:15px}
.mb30{margin-bottom:20px!important}
.pb70{padding-bottom:40px!important}
.mt80{margin-top:40px!important}
.slider-for-company.collaborative-section{margin-top:20px}
section.becomeMaster.section-what{padding:60px 0}
.career-list{margin-bottom:15px}
.events-list .news-links,.events-list .news-links:nth-of-type(2){margin-top:15px}
.mt70{margin-top:40px!important}
.mb90{margin-bottom:50px!important}
ul.fellow-box li:nth-of-type(2n+2){padding-right:0}
.section{padding-top:60px}
.student-networkbox{margin-top:20px!important}
.footer-input-outr{width:100%}
input.form-control.footer-input + .input-group-append button{padding:13px 10px 11px}
ul.fellow-box li:last-child,ul.fellow-box li:nth-last-child(2){padding-bottom:0!important}
section.text-left.padd100.pb90.dark-theme{padding-bottom:60px!important}
.masters-box:nth-of-type(1),.masters-box:nth-of-type(2){margin-top:0!important}
.sec-box-idea:nth-of-type(2n+2){margin-right:0!important}
.admission-box.industry-boxes.fadeInUp.owl-carousel{margin-top:0}
.form-container.mt20{margin-top:0}
ul.process-tabs-list > li:last-of-type{padding-bottom:0!important}
.process-tabs-smallheading{margin-bottom:20px}
.events-list .news-links:nth-of-type(1),.events-list .news-links:nth-of-type(2){margin-top:0!important}
.admission-box li p{min-height:auto;margin-bottom:5px}
ul.patner li{padding-bottom:10px}
.hamburger{height:32px}

a.view-more,a.view-more:link,a.view-more:visited{padding:11px 45px 10px 25px}
a.view-more i{right:18px}
a.view-more:hover i{right:13px}

.target-right .target-tabs ul.nav.nav-tabs li a.nav-link{padding:8px 4px}
.target-left{padding:20px}

/* Home Page new changes : code Start */
form.DownloadBrochureForm{padding:20px;width:290px}
form.DownloadBrochureForm .closeBrochure, .float-enquire-form .close-enquire-Form{right:10px;top:10px;font-size:18px}
.noImgMasterOuter{padding-top:40px}
/* Home Page new changes : code End */

/*Unique Business School Section : Code Start*/
.usp-section{flex-wrap:wrap}
.usp-list{margin:0 0 15px}
.usp-list a.learn-more, a.usp-list .learn-more { bottom: 15px; left: 15px; }
/*Unique Business School Section : Code End*/

.shadow-main.new-flex-box .right-side-box.d-flex{margin-top:10px;float:left;margin-top:10px;float:left}
.event-banner{height:190px}
.v-tab-content{display:none;padding:25px 17px;background:#fff;border:1px solid #EBEBEB;border-top:0;position:relative;top:-10px;z-index:0}
ul.v-tab-nav li{margin-bottom:10px}
ul.v-tab-nav li a,ul.v-tab-nav li a:link,ul.v-tab-nav li a:visited{border-left:2px solid #ccc}
ul.v-tab-nav li.active a{border-left:2px solid #f12a2a}
ul.v-tab-nav{background:transparent;height:100%;border:0;padding:0}
.v-tabs .collapsing{transition:height .6s}
ul.v-tab-nav .v-heading{margin-bottom:20px}
ul.v-tab-nav .collapse-inner{border:1px solid #EBEBEB;border-top:0;padding:20px 15px;display:block;margin:-10px 0 20px;background:#fff}

.swiper-video-outer {width:100%; margin:30px 0 0 0; } 

}
@media (max-width:664px){
.section-statistics{padding-bottom:135px}
}
@media (max-width:640px){
   .step-wizard li {
      width: 50%;
  }
.footer-bar{padding-bottom:60px!important}
.about-press-section .news-links{max-width:100%;margin-right:0}
.founding-flip-card{width:49.8%;height:300px}

#carouselMasters{width:90%}
.about-press-section .news-links{max-width:100%;margin-right:0}
.founding-flip-card{width:49.8%;height:300px}
.corp-img img{height:200px}
.corp-cont p{font-size:14px}
.corp-cont h5{font-size:15px}
.master-tabs.target-tabs .tab-content{margin-top:10px}
.tab1-list .tab1-list-items,.tab1-list .tab1-list-items:nth-of-type(1),.tab1-list .tab1-list-items:nth-of-type(2),.tab1-list .tab1-list-items:nth-of-type(3),.mysection-business ul.admission-box.research-box li:nth-of-type(2),.section-ideaboxoutr .sec-box-idea:nth-of-type(2),.masters-box,.masters-box:nth-of-type(2){margin-top:15px!important}
#degree ul.mang-box li:nth-of-type(2n+2),#degree2 ul.mang-box li:nth-of-type(2n+2){margin-right:0!important}
.sec-box-idea{margin-right:0}
/* ul.bootcamp-box.bootcamp-box li{margin:0 0 15px} */
.section-ideaboxoutr .sec-box-idea{justify-content:space-between}
.sec-box-idea label{width:100%}
.sec-box-idea img{flex-shrink:0}
.masters-box{width:100%;margin-right:0}
.career-block.classroom .row > div{margin-bottom:15px}
.career-block.classroom .row > div:last-of-type{margin-bottom:0}
.section-ideaboxoutr .sec-box-idea:nth-of-type(1){margin-top:0!important}
.section-admission .admission-box li{width:100%;margin-right:0;margin-top:15px}
.digital-bootcamp{padding:50px 0 60px}
.events-list .news-links:nth-of-type(2){margin-top:15px!important}
.career-left .career-filter-section{width:100%}
.career-left .career-filter-section:first-of-type{order:0}
.positionR.dhide:first-of-type{order:1}
.career-left .career-filter-section:last-of-type{order:2}
.positionR.dhide:last-of-type{order:3}
.career-left .career-filter-section:first-of-type,.positionR.dhide:first-of-type{margin-right:0}
.positionR.dhide{width:100%}
.mysection-business ul.admission-box.research-box li{width:100%;margin-right:0}
.startup-block ul.bootcamp-box li{width:100%;margin-right:0; min-height: inherit;}
.concentration-tabs.coursestabs .card-header{padding:.7rem 1rem}
.section-scholarships .custom-accordion .card-header button.btn,.custom-accordion .card-header button.btn,.policy-tabs .custom-accordion .card-header button.btn{padding:0;font-size:14px}
.table-responsive.roaster-table-outer .table thead th { font: 12px/16px nunitosans-Bold; }
.table-responsive.roaster-table-outer .table td {
font: 12px/16px nunitosans;
}
.core-text {
font: 12px/15px nunitosans;
}
.roaster-master {
font: 12px/16px nunitosans-Bold;
}
span.open-icons > i{font-size:20px}
span.open-icons{transform:translateY(-38%)}
.master-tabs .tab1-list .tab1-list-items:nth-of-type(1),.master-tabs .tab1-list .tab1-list-items:nth-of-type(2){margin-top:15px}
.section-news .news-left ul.news-box li:nth-last-child(2){margin-bottom:20px}
.startup-block ul.bootcamp-box li p br{display:none}
.student-clubOutr.student-clubOutr-sl li{width:100%}
ul.fellow-box li,ul.fellow-box li:nth-last-child(3),ul.fellow-box li:nth-last-child(2){width:100%;margin-bottom:15px;padding-right:0;min-height:auto}
header.header-main .cc-container a.logo{margin-left:10px}
.hamburger{margin-right:10px}
.target-right ul.mang-box li{width:calc(50% - 6px)}
.target-left{padding:10px}
.tab1-list .tab1-list-items .leftoutr p,.masters-info{min-height:inherit}
.classroom-slideOutr ul.bootcamp-box.bootcamp-box li{width:100%}
.classroom-slideOutr ul.research-box li{min-height:250px}
.urban-outr.campusbg{min-height:210px!important;background-position:top}
#tabAdvisors .tab1-list-items:nth-of-type(2),#tabPractitioners .tab1-list-items:nth-of-type(2),#tabProfessors .tab1-list-items:nth-of-type(2){margin-top:15px!important}

/* Home Page new changes : code Start */
.left-side-box.shadow-left + .right-side-box.d-flex{width:100%;padding-left:15px}
.shadow-icon-outer{flex-wrap:wrap}
.shadow-icon-outer figure{margin:0;width:50%;text-align:center;margin-bottom:20px;text-align:center}
/* Home Page new changes : code End */

.mysection-business ul.admission-box.research-box.businessBox li a{margin-top:0;display:flex;flex-wrap:wrap;justify-content:space-between}
.mysection-business ul.admission-box.research-box.businessBox li span.icons-part{width:46px;height:46px;flex-shrink:0;margin-bottom:10px}
.mysection-business ul.admission-box.research-box.businessBox li span.icons-part img{max-width:70%}
.mysection-business ul.research-box li p{width:calc(100% - 60px);display:flex;align-items:center;margin-bottom:10px}
.mysection-business ul.admission-box.research-box.businessBox li{padding:15px}
.banner-main-heading{font:45px/51px oswald-Bold}
#aboutbannerHeading .text-highlight:before{bottom:12px}
.banner-sub-heading{font:22px/33px nunitosans}
.concent-section ul.mang-box li{flex:inherit;width:50%;margin-bottom:20px}
.concent-section ul.mang-box li:last-of-type,ul.mang-box li:nth-last-of-type(2){margin-bottom:0}
.concent-section .shadow-main ul.mang-box li{width:100%}
ul.will-learn-list li{width:100%}
.section-who.darktheme-bg::after{height:9%}
}
@media(max-width:600px) {
   .ticker-item {font-size: 15px; }
   ul.c-m-list li figure {  height: auto; }
   ul.c-m-list li {
    
      width: 100%;
   }
   .step-wizard li .step {
      font: 16px/20px 'nunitosans';
  }
   .step-wizard li { width:100%;padding-right:0}
   .step-wizard li .step img {
      width: 32px;
  }
   .different-steps ul {flex-direction: column;}
   .committee-members ul.c-m-list {
      display: block;
      width: 100%;
      text-align: center;
    }
    .comettie-member{
       /* text-align: center; */
    }
    .step-wizard .progress {display: none;}
    .different-steps ul { position: relative;}
    .committee-members .c-m-right {margin-top: 20px;}
.highly-list.highly-list-wmin{height:auto;overflow:visible}
.highly-list-carousel .highly-list-outr span.date-withBG:after{width:400%}
.dropdown.dep-mob .select{padding:7px}
.utube-banner .icon{top:43%}
.utube-banner .icon img{width:50%}
.event-banner{height:150px}
.colm-5 {  width: 49%;}
#downlaod-all, #submit-done{
   padding-right:0;
}

#downlaod-all .for-submit-done, #downlaod-all .cancel-btn { padding: 15px 30px!important;}
/* .c-2021-list-txt > div:nth-of-type(1), .c-2021-list-txt > div:nth-of-type(2), .c-2021-list-txt > div:nth-of-type(3), .c-2021-list-txt > div:nth-of-type(4) {
margin-bottom: 25px;
}
.c-2021-list-txt > div:nth-of-type(1), .c-2021-list-txt > div:nth-of-type(2), .c-2021-list-txt > div:nth-of-type(3), .c-2021-list-txt > div:nth-of-type(4) {
margin-bottom: 25px;
} */
}
@media (min-width: 300px) and (max-width: 350px) {
.urban-outr.campusbg{ min-height: 210px !important; background-position:  right top;}
}
@media(max-width:575px) {
   .investhome-bg {
      min-height: 265px;
  }
.occupancy-heading.smt50 { margin-top:50px; }
ul.bootcamp-box.bootcamp-box li {
   width: 100%;
   align-items: center;
   display: flex;
}
.banner-sub-heading br{display:block}
.row.footer-outr > div{padding:0}
.shadow-icon-outer figure:nth-last-of-type(2){margin-bottom:25px}
#bookThisEventNow{min-width:100%}
#bookThisEventNow .modal-dialog{max-width:100%}
#bookThisEventNow .modal-body{padding:30px}
}
@media (min-width: 576px)
{
#submit-done .modal-content { border: 0; }
#downlaod-all .modal-dialog { max-width: 550px;}
#downlaod-all form.masterForm {     max-width: 92%;
margin: 10px 0 20px 0; }
}
@media(max-width:576px) {
#submit-done .modal-content { border: 0; }
#downlaod-all .modal-dialog { max-width: 98%;}
#downlaod-all form.masterForm {     max-width: 92%;
margin: 10px 0 20px 0; }


.web-capital-section .col.p0,.web-capital-section .statistic_section,.web-capital-section .row.mt100,.web-capital-section .row.mt100 + .row { padding: 0 10px !important; }
a.downloadAll-btn, a.downloadAll-btn:link, a.downloadAll-btn:visited {
padding: 6px 10px 5px 10px;
font: 10px/14px nunito_sanssemibold;
}
}

@media (max-width:525px){

   #Blog-post .five-boxs .square-box {
  width: 100%;
}

#Blog-post .three-boxs .square-box {
   width: 100%;
}

   .six-boxs .square-box {
      width: 100%;
      margin-right: 0px;
   }

   .three-boxs .square-box {
      width: 100%;
      margin-right: 0px;
   
  }

  .two-boxs .square-box {
   width: 100%;
   margin-right: 0px;
}
}
@media(max-width:500px) {
   .investment-2 {
      font: 26px/33px oswald-Bold;
      margin-top: 5px;
  }

 
.founding-flip-card{width:49.5%;height:240px}
.event-banner{height:130px}
.banner-main-heading{font:41px/45px oswald-Bold}
#aboutbannerHeading .text-highlight:before{top:4px;bottom:12px}
.banner-sub-heading{font:20px/33px nunitosans}
#carouselMasters{width:95%}
#carouselMasters .swiper-slide{width:270px!important}





.bigVideoLikeDetailRight{justify-content:flex-start; 
/* margin-top:10px */
}
/* .bigVideoLikeDetailLeft{width:100%} */
.bigVideoLikeDetail{flex-wrap:wrap}
.smallVideoDetail span{margin-right:6px;padding-right:6px}
.smallVideoDetail{width:calc(100% - 130px)}
a.smallVideoLink figure{width:120px}


}
@media(max-width:400px) {
.section-what.staff-member-outerDetail .master-overview {
width:100%;
}
.filter-cont-outer .form-group.select-concentration-outer {
width: 100%;
}
.c-2021-list-txt .slider-for-company { 
padding-right: 5px; }
.founding-detail-info .box-cont p{font-size:12px;line-height:14px}
.founding-detail-info .box-cont div{margin:5px 0 0}
.founding-detail-info .text-highlight.teachingBGtext{font-size:11px}
.founding-detail-info .box-cont h3{font-size:18px}
.founding-detail-info .box-cont{padding:7px}
.founding-flip-card{height:190px}
.topBarActive.main-section .section-what.padd100.concent-section .concentratebg.mt115{margin-top:110px!important}
.main-section .section-what.padd100.concent-section .concentratebg.mt115{margin-top:100px!important}
.event-topBar{padding:0 15px 0 10px}
.event-banner{height:100px}
.event-topBar span{right:3px}
.event-topBar,.event-topBar a,.event-topBar a:link,.event-topBar a:visited{font:10px/13px nunitosans}
ul.secondary-menu-nav.secMenuDropdown li a,ul.secMenuDropdown.secMenuDropdown li a{font-size:13px;padding:5px 9px}
.concent-section .sub-menu{width:100%}
.concent-section .sub-menu a.item{font:11px/14px nunitosans!important}
.main-section.topBarActive .section-what.concent-section{margin-top:137px}
section.breadcrum-fixed.const-breadcrum,section.main-section.sticky section.breadcrum-fixed.const-breadcrum{min-height:30px!important}
ul.secondary-menu-nav.secMenuDropdown .sub-menu,ul.secMenuDropdown.secMenuDropdown .sub-menu{width:165px}
#carouselMasters{width:100%}
#carouselMasters .swiper-slide{width:230px!important}
ul.sidebar-list li a,ul.sidebar-list li a:link,ul.sidebar-list li a:visited{ font:9px/12px nunitosans; }
.section-who.darktheme-bg::after{height:10%}


.colm-5 {
width: 100%; margin-bottom: 20px;
}
.colm-5:last-of-type { margin-bottom: 0; }
.c-2021-list-txt .colm-5 p {
min-height: auto;
}
.masterForm.enquire-form {padding: 35px 10px 10px;}

}







@media(max-width:998px) {
  .blog-heading-text{
        font: 50px/60px 'oswald-Bold';
  }
  .blogs-section .career-left{
    width: 35%;
  }

}

@media(max-width:600px) {
   
  .blog-heading-text{
        font: 28px/38px 'oswald-Bold';
  }
  .blogs-section .career-right{
    width: 100%;
    margin-left: 0px;
  }
}
